workflows/B.1A-live-chat-first-touch.json
{
  "name": "B.1A Live Chat First-Touch",
  "nodes": [
    {
      "id": "6e1d8c48-abc1-4bb6-8423-8321403e771e",
      "name": "Webhook: B.1A Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "592859e7-ec7c-4fdd-8c20-4a3c172265f1",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-1a-b-1a-live-chat-first-touch",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "df25f492-ebcb-422f-8617-ab09cbacfe72",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "6df54eda-a7c9-45bd-873d-6d8457cce46f",
      "name": "Update Active to Bot 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-5-mv\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "74cd6c8c-2c20-4373-8e0a-1f61f13be419",
      "name": "[STUB] Update to Bot 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/conversation/ai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"status\": \"active\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "id": "60d9e11a-0483-4489-81e5-178afbfb08f1",
      "name": "Update Active to agentic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"agentic\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0faaf4f6-5fba-49d8-8edb-cd8d7598909a",
      "name": "Check is LP Source ID Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "92ba7ed6-66f9-4c51-8a64-70ec0afdde9c",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d37360a6-40b7-4436-8939-d5f168556bd3",
      "name": "Update Source ID (830)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"k6j4IBh5IejPooSCsj49\", \"value\": \"830\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3b4682fe-55d7-406c-84a1-e8a26b2154c2",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        0
      ],
      "parameters": {}
    },
    {
      "id": "7a823df6-121c-4640-83d2-7194771a4a52",
      "name": "Check is Pro ID Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "827faf86-b5b1-410f-87fc-da4d723b6109",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d4f65f58-2017-44a0-8a2b-d8e752443b13",
      "name": "Update Pro ID (5574)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"BbUJ6RrdTjjEqqRA8JVx\", \"value\": 5574}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6b0d2438-a0b5-4c8e-843d-fc4b1ad698ce",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "parameters": {}
    },
    {
      "id": "a819b859-4083-44bf-8e6a-762d26308cbc",
      "name": "Update UTM Parameters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"XEsW248cvpceYSCcOSlq\", \"value\": \"website\"}, {\"id\": \"lq7mqCLZRXOjsiwd79f8\", \"value\": \"internal\"}, {\"id\": \"VJ8JhmawlFD7nL4RU1Qz\", \"value\": \"{{right_now.year}}_chatbot\"}, {\"id\": \"s5bn6zjp99xopAQ5XzfZ\", \"value\": \"footer_widget\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4981e33b-5d66-4d0f-8ed9-a00a6c38390e",
      "name": "Update Lead Source & Contact Source - Chatbot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"Chatbot\"}], \"source\": \"Chatbot\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "85b34009-86da-4e11-8f68-0b27051c8a11",
      "name": "Update Lead Owner to Mark Richard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"lPCvCXOQEQFXtuHekAq8\", \"value\": \"Mark Richard\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "fbd579e6-60e6-4bdf-8c85-40e94c163784",
      "name": "Wait 30 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        180
      ],
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      }
    },
    {
      "id": "03b0cd30-eceb-42ad-8905-17d85222088d",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        180
      ],
      "parameters": {}
    },
    {
      "id": "e861119f-1134-416b-868b-a25961d59839",
      "name": "Wait 30 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        360
      ],
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      }
    },
    {
      "id": "856815b6-2a35-4f58-891f-e665fe593621",
      "name": "Add Tags: pause-bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pause-bot\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f2d804b2-9253-41ea-8180-716d5aebc03f",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        360
      ],
      "parameters": {}
    },
    {
      "id": "653cc831-173b-4b77-8f32-75458b069e5d",
      "name": "Add Tags: livechat-abandoned",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"livechat-abandoned\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "627a3d4f-1867-45a1-8c41-9f5c5bdffbad",
      "name": "[STUB] AI Translate - Spanish",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        360
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - Spanish. Implement before go-live."
    },
    {
      "id": "ceeeaba8-3f74-4474-8b7b-a21f743e335d",
      "name": "Update Last Message | Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.8.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.8.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9f7e15b2-c92b-46bd-8b06-cb68d39155df",
      "name": "Update Preferred Language - Spanish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"Spanish\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8a2fda88-8481-4092-8e20-ef1ab05b88f8",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        360
      ],
      "parameters": {}
    },
    {
      "id": "c1b6fbee-5cfd-4a75-80ab-22e0de160858",
      "name": "[STUB] AI Translate - Portuguese",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        540
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - Portuguese. Implement before go-live."
    },
    {
      "id": "445dc6b4-1632-4dd7-87f1-f8f1c60368eb",
      "name": "Update Last Message | Conversation History #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.9.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.9.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2513ee93-354a-4b66-8249-d011879d5403",
      "name": "Update Preferred Language -  Portuguese",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"Portuguese\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "95e29621-32d8-4137-8c60-6399bf03b767",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        540
      ],
      "parameters": {}
    },
    {
      "id": "6fc21ebe-a2c9-4adb-87c0-8e57c9fd9061",
      "name": "[STUB] AI Translate - Creole",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        540
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - Creole. Implement before go-live."
    },
    {
      "id": "01dea893-ff40-4473-8aa4-f72d2a352996",
      "name": "Update Last Message | Conversation History #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.10.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.10.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cfb673d4-2eca-4e87-8daa-cc6041d08360",
      "name": "Update Preferred Language - Creole",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"Creole\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "38af0b93-b165-4012-8e32-d52ddff3fd53",
      "name": "Go To #7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        540
      ],
      "parameters": {}
    },
    {
      "id": "fd6ff8eb-e11e-4f56-8d78-f6d24c9414d0",
      "name": "[STUB] AI Translate - Russian",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        720
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - Russian. Implement before go-live."
    },
    {
      "id": "ab53b058-fb38-40e6-883e-c2d93615ce79",
      "name": "Update Last Message | Conversation History #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.12.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.12.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "000038f4-5fcb-460d-841b-9c0ae1134778",
      "name": "Update Preferred Language - Russian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"Russian\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0a7256cd-4ce4-44d7-814a-abdf4818973f",
      "name": "Go To #8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        720
      ],
      "parameters": {}
    },
    {
      "id": "2d243027-d20c-44a1-80da-0cfbc92fc709",
      "name": "[STUB] AI Translate - French",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        720
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - French. Implement before go-live."
    },
    {
      "id": "8c4fa01f-cc67-4de1-887b-3d8a7f203acb",
      "name": "Update Last Message | Conversation History #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.13.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.13.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "417b788a-c189-40dd-8986-00ae9e276d4d",
      "name": "Update Preferred Language - French",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"French\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "83e2d772-e404-4904-8df7-0de74f3b3134",
      "name": "Go To #9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        720
      ],
      "parameters": {}
    },
    {
      "id": "9b81635d-ad06-46ea-86b7-7f1c5c5b051f",
      "name": "[STUB] AI Translate - Italian",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        900
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'workflow_ai_translate_content'. Intended: AI Translate - Italian. Implement before go-live."
    },
    {
      "id": "d6e6ba24-380d-4378-8e00-64e1efa49e68",
      "name": "Update Last Message | Conversation History #6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{workflow_ai_translate_content.14.response}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{workflow_ai_translate_content.14.response}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "af3924dc-2d62-4fab-8dee-44d48bc60acf",
      "name": "Update Preferred Language - Italian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"3vQsf4lNxL0LrDpgHY9Q\", \"value\": \"Italian\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "df42da0b-f4f8-4dc7-824a-000bf39bcc1c",
      "name": "Go To #10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        900
      ],
      "parameters": {}
    },
    {
      "id": "f5a24ab4-6193-4eff-8598-86bd14be3053",
      "name": "Update Last Message | Conversation History #7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"MP4kHjcOvwYvPSr2QmPi\", \"value\": \"{{message.body}}\"}, {\"id\": \"RF710H9k39oLl9TsQIy4\", \"value\": \"{{message.body}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "00323b74-a9a2-4ecc-8a1b-ed284bb66336",
      "name": "Go To #11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "parameters": {}
    },
    {
      "id": "597b3632-c268-4ae2-876b-2b76bfd12fdf",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        900
      ],
      "parameters": {}
    },
    {
      "id": "13bb4a54-7cd4-4867-8733-c5f5d8044a10",
      "name": "Note: B.1A",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.1A Live Chat First-Touch\nTranslated from GHL workflow 749ea706-4e83-47cf-93f0-3ec144aa1dbd.\nGHL triggers: customer_reply:Live Chat\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 2 | Stubs: 7 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Update Active to Bot 5": {
      "main": [
        [
          {
            "node": "[STUB] Update to Bot 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check is LP Source ID Empty": {
      "main": [
        [
          {
            "node": "Update Source ID (830)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check is Pro ID Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source ID (830)": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Check is Pro ID Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check is Pro ID Empty": {
      "main": [
        [
          {
            "node": "Update Pro ID (5574)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update UTM Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pro ID (5574)": {
      "main": [
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Update UTM Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update UTM Parameters": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source & Contact Source - Chatbot": {
      "main": [
        [
          {
            "node": "Update Lead Owner to Mark Richard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Owner to Mark Richard": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 minutes": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 minutes #2": {
      "main": [
        [
          {
            "node": "Add Tags: pause-bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - Spanish": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History": {
      "main": [
        [
          {
            "node": "Update Preferred Language - Spanish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language - Spanish": {
      "main": [
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - Portuguese": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #2": {
      "main": [
        [
          {
            "node": "Update Preferred Language -  Portuguese",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language -  Portuguese": {
      "main": [
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - Creole": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #3": {
      "main": [
        [
          {
            "node": "Update Preferred Language - Creole",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language - Creole": {
      "main": [
        [
          {
            "node": "Go To #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #7": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - Russian": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #4": {
      "main": [
        [
          {
            "node": "Update Preferred Language - Russian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language - Russian": {
      "main": [
        [
          {
            "node": "Go To #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #8": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - French": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #5": {
      "main": [
        [
          {
            "node": "Update Preferred Language - French",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language - French": {
      "main": [
        [
          {
            "node": "Go To #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #9": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] AI Translate - Italian": {
      "main": [
        [
          {
            "node": "Update Last Message | Conversation History #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #6": {
      "main": [
        [
          {
            "node": "Update Preferred Language - Italian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferred Language - Italian": {
      "main": [
        [
          {
            "node": "Go To #10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #10": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message | Conversation History #7": {
      "main": [
        [
          {
            "node": "Go To #11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #11": {
      "main": [
        [
          {
            "node": "Wait 30 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: B.1A Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Update Active to Bot 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}