workflows/B.2-bot-2-active.json
{
  "name": "B.2 Bot 2 Active",
  "nodes": [
    {
      "id": "90a5a8a7-d238-4678-85a2-93d374645766",
      "name": "Webhook: B.2 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "cdd61ee6-c3df-4b8a-8c91-3541632d77be",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-2-b-2-bot-2-active",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "e5c19b77-535d-4870-8176-e4c02b2f6bbc",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "75228fb6-ca27-4bf8-8892-801a0bce3b6e",
      "name": "Exit (No Steps)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "parameters": {}
    },
    {
      "id": "aeab3bbc-55bf-45ba-8e40-fe2cdc417dfb",
      "name": "Note: B.2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.2 Bot 2 Active\nTranslated from GHL workflow 8a491743-6751-483e-a41c-6bac16acb086.\nGHL triggers: none in export\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 1 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Webhook: B.2 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Exit (No Steps)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}