workflows/B.C-clear-active-bot.json
{
  "name": "B.C Clear Active Bot",
  "nodes": [
    {
      "id": "b0c10001-0000-4000-8000-000000000001",
      "name": "Webhook: B.C Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "b0c10001-0000-4000-8000-0000000000aa",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-c-clear-active-bot",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "b0c10001-0000-4000-8000-000000000002",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b0c10001-0000-4000-8000-000000000003",
      "name": "Clear Active Bot Field",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customFields: [ { id: 'KsMdYWa9GmtLinA05jZW', value: '' } ] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b0c10001-0000-4000-8000-000000000004",
      "name": "Exit: Active Bot Cleared",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "parameters": {}
    },
    {
      "id": "b0c10001-0000-4000-8000-0000000000f0",
      "name": "Note: B.C",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ],
      "parameters": {
        "content": "## B.C Clear Active Bot\nTranslated from GHL workflow b98c0b97-d818-466c-a541-7c2ff7335121.\nClears the contact custom field 'Active Bot' (id KsMdYWa9GmtLinA05jZW) by writing an empty value. Enrolled via the bot-control orchestration (GHL add_to_workflow → webhook).",
        "height": 160,
        "width": 360
      }
    }
  ],
  "connections": {
    "Webhook: B.C Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Clear Active Bot Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Active Bot Field": {
      "main": [
        [
          {
            "node": "Exit: Active Bot Cleared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
