workflows/B.HC-S-hot-call-status-check.json
{
  "name": "B.HC-S Hot Call Status Check",
  "nodes": [
    {
      "id": "f5cfa361-b79e-43ba-8cf6-e79feb124e8b",
      "name": "Webhook: B.HC-S Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "c043cb12-6e55-40a4-8a11-c54e8a8b67e9",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-hc-s-b-hc-s-hot-call-status-check",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "6da27b8c-403e-4afa-8728-b7695249b26d",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "52bb392f-a7a9-4659-84db-4ce22a4f2465",
      "name": "Wait 1 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      }
    },
    {
      "id": "91eaec66-28b7-4fdd-8207-296aeb9d4cd8",
      "name": "Check Call Status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d14ff0bd-4240-4f76-8dc1-76eb23d1f4ed",
              "leftValue": "={{ ((($('Webhook: B.HC-S Entry').first().json.body.trigger_id||$('Webhook: B.HC-S Entry').first().json.body.triggerId||'') === \"8r06MoUoYv4pq4TaHEED\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "7a326259-ef6e-4c99-8e02-cb74b3e57c77",
      "name": "Add Tags: completed-conf-call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"completed-conf-call\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "46e36e89-386e-4628-82a3-f7eaef5078b4",
      "name": "Remove Tags: missed-conf-call, conf-call-booking-active, confirmatio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"missed-conf-call\", \"conf-call-booking-active\", \"confirmation-call-booked\", \"chatbot-completed-confirmed\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cf0b2e54-e4a3-43d0-8426-b444fde1c645",
      "name": "Add Tags: missed-conf-call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"missed-conf-call\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0842be52-1174-43a0-84f1-20fc02b0a956",
      "name": "Remove Tags: completed-conf-call, conf-call-booking-active, confirma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"completed-conf-call\", \"conf-call-booking-active\", \"confirmation-call-booked\", \"chatbot-completed-confirmed\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "aead9542-d070-4335-8444-c36e8c7667b1",
      "name": "Note: B.HC-S",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.HC-S Hot Call Status Check\nTranslated from GHL workflow d68a9877-f8a3-47a5-a39c-fba91d9e4f8a.\nGHL triggers: call_status:Call Status is: Canceled; call_status:Call Status is: Completed; call_status:Call Status is: Busy; call_status:Call Status is: Voicemail; call_status:Call Status is: No-Answer\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Wait 1 minutes": {
      "main": [
        [
          {
            "node": "Check Call Status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status?": {
      "main": [
        [
          {
            "node": "Add Tags: completed-conf-call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: missed-conf-call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: completed-conf-call": {
      "main": [
        [
          {
            "node": "Remove Tags: missed-conf-call, conf-call-booking-active, confirmatio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: missed-conf-call": {
      "main": [
        [
          {
            "node": "Remove Tags: completed-conf-call, conf-call-booking-active, confirma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: B.HC-S Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Wait 1 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}