workflows/B.T-PR-pause-bot-tag-removed.json
{
  "name": "B.T-PR Pause Bot Tag Removed",
  "nodes": [
    {
      "id": "67ad51d8-9547-4aaa-838f-2ac7172cda16",
      "name": "Webhook: B.T-PR Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "4159d5fd-e6a8-421c-82a3-392f24f8ee03",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-t-pr-b-t-pr-pause-bot-tag-removed",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "ac3135d7-5dec-4a9f-86f7-15edf49e61c9",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "b3ebd3f8-b9fa-41e7-8411-df85fed5aaff",
      "name": "Check Previous Active Bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "3090973d-1573-478c-803d-2fac9c5dbe2b",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"89aUNSVcR6F97288GyNT\")||{}).value) == \"bot-1a-live-chat-router\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "446ee56a-856e-45c9-8043-55ae592c0246",
      "name": "Update Active Bot - Bot 1A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-1a-live-chat-router\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "251b954f-33b7-4a2e-829f-1a07c345f5fd",
      "name": "[STUB] Update Bot 1A Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 1A Active. Implement before go-live."
    },
    {
      "id": "205b6eb5-9eef-4303-8192-34c03d6acbc7",
      "name": "Layer 3: Agentic Handoff Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"fdc47bac-5dd1-4828-9e78-d17b2f3b0ff9\", \"workflowName\": \"agentic.handoff_ended\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "da821753-a6e8-4a0d-8f49-f24301aae453",
      "name": "Update Active Bot - Bot 1B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-1b-sms-router\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "aa6a5fc0-4276-49fa-8ae2-652396f45197",
      "name": "[STUB] Update Bot 1B Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 1B Active. Implement before go-live."
    },
    {
      "id": "d10ff0b3-7dd8-4c3b-8c56-f9e229d0d3d5",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "parameters": {}
    },
    {
      "id": "902149a3-adf8-4e44-8142-df97de82ed9a",
      "name": "Update Active Bot - Bot 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-2-concierge\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8b77c40d-4626-4198-87cb-47e619f39008",
      "name": "[STUB] Update Bot 2 Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 2 Active. Implement before go-live."
    },
    {
      "id": "3df5df1b-48b8-4dce-87ab-0bf2bb597af4",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        180
      ],
      "parameters": {}
    },
    {
      "id": "295e963e-3eca-4a9e-8dfb-7aa4814d297e",
      "name": "Update Active Bot - Bot 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-3-booking\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "170bfdbb-747c-406e-88a4-76c786aa2235",
      "name": "[STUB] Update Bot 3 Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        180
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 3 Active. Implement before go-live."
    },
    {
      "id": "b41705b7-dc02-458e-809f-2b11c9389aa2",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ],
      "parameters": {}
    },
    {
      "id": "3bd154d3-aebd-49fe-8593-0b70de684d5e",
      "name": "Update Active Bot - Bot 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-4-qualify-schedule\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4e045833-63a5-4466-85bc-a77c604f36d7",
      "name": "[STUB] Update Bot 4 Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        360
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 4 Active. Implement before go-live."
    },
    {
      "id": "51b10171-523d-45c4-8f1c-4e2f85efd46d",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        360
      ],
      "parameters": {}
    },
    {
      "id": "3eb1304f-7d7e-41ce-88e5-18d27d0a9211",
      "name": "Update Active Bot - Bot 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"bot-5-mv\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0cf33b8a-cd03-45c6-83b6-7f514ac643c4",
      "name": "[STUB] Update Bot 5 Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        360
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot 5 Active. Implement before go-live."
    },
    {
      "id": "d6ab679d-0364-42c7-84a3-26a31abddaec",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        360
      ],
      "parameters": {}
    },
    {
      "id": "4c23a6d4-7038-4086-831e-b60c22d8ad27",
      "name": "[STUB] Update Active Bot",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        360
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Active Bot. Implement before go-live."
    },
    {
      "id": "52787070-9392-4ccd-8ae6-7498ff98ae49",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        360
      ],
      "parameters": {}
    },
    {
      "id": "a81a8d25-d53b-440d-8373-56d08c027dc3",
      "name": "Remove from Workflow fdc47bac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/fdc47bac-5dd1-4828-9e78-d17b2f3b0ff9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "d10197ad-23cc-47bd-8837-7e0d9f414178",
      "name": "Note: B.T-PR",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.T-PR Pause Bot Tag Removed\nTranslated from GHL workflow fdc47bac-5dd1-4828-9e78-d17b2f3b0ff9.\nGHL triggers: contact_tag:\"pause-bot\" removed\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 2 | Stubs: 7 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Previous Active Bot": {
      "main": [
        [
          {
            "node": "Update Active Bot - Bot 1A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Active Bot - Bot 1B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 1A": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 1A Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 1A Active": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 1B": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 1B Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 1B Active": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 2": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 2 Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 2 Active": {
      "main": [
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 3": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 3 Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 3 Active": {
      "main": [
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 4": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 4 Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 4 Active": {
      "main": [
        [
          {
            "node": "Go To #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot - Bot 5": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot 5 Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Bot 5 Active": {
      "main": [
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Update Active Bot": {
      "main": [
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Layer 3: Agentic Handoff Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: B.T-PR Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Previous Active Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}