workflows/B.T-S-tagged-stop-bot.json
{
  "name": "B.T-S Tagged Stop Bot",
  "nodes": [
    {
      "id": "0a389d51-6833-4a8c-82a4-1dd84c446c3b",
      "name": "Webhook: B.T-S Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "98414f65-a5a4-4104-8cfd-4eeff704cb62",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-t-s-b-t-s-tagged-stop-bot",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "47902dfa-7fdf-4580-8ca8-186adf9853cf",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "8a76f74c-f901-498d-8153-6e1bb31749d1",
      "name": "[STUB] Update Bot Inactive",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot Inactive. Implement before go-live."
    },
    {
      "id": "25903e8b-e832-4185-85cc-ef04ad496098",
      "name": "Note: B.T-S",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.T-S Tagged Stop Bot\nTranslated from GHL workflow 91f0d8c5-dfe8-4295-b477-41c8c7cab3d7.\nGHL triggers: contact_tag:Contact Tag: \"stop-bot\" added\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 1 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Webhook: B.T-S Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "[STUB] Update Bot Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}