workflows/B.U-update-active-chatbot.json
{
  "name": "B.U Update Active Chatbot",
  "nodes": [
    {
      "id": "2196ee03-4bf4-4d54-86d7-2e3ee14eafb7",
      "name": "Webhook: B.U Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "bcc69e68-7b98-432f-8341-ba0d9825b877",
      "parameters": {
        "httpMethod": "POST",
        "path": "b-u-b-u-update-active-chatbot",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "900ea7b0-2ad0-4a1d-851f-e3c00b5de522",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "55c0ccd6-6fb7-4db2-8ac7-771ade19304e",
      "name": "Check Active Bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7dc09d64-d4fd-453a-84c0-fdefaa5f855f",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"KsMdYWa9GmtLinA05jZW\")||{}).value) == \"bot-1a-live-chat-router\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "647d801c-9f5b-4b93-8307-dfa365188f7a",
      "name": "[STUB] Update to Bot 1A - Reece Live Chat Router",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 1A - Reece Live Chat Router. Implement before go-live."
    },
    {
      "id": "e564da68-8a27-4bbc-81a5-3c595a88fc3c",
      "name": "[STUB] Update to Bot 1B - Reece SMS Router",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 1B - Reece SMS Router. Implement before go-live."
    },
    {
      "id": "26a8a935-9cf6-4a02-83e8-0230d91e419f",
      "name": "[STUB] Update to Bot 2 - Reece Lead Concierge",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 2 - Reece Lead Concierge. Implement before go-live."
    },
    {
      "id": "9ab81044-58a3-4d00-8e43-26d4a4459e96",
      "name": "[STUB] Update to Bot 3 - Reece Call Booking Desk",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 3 - Reece Call Booking Desk. Implement before go-live."
    },
    {
      "id": "5bff858a-caa0-4d29-823b-c461a48c3189",
      "name": "[STUB] Update to Bot 4- Reece Estimate Qualifier and Sche",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 4- Reece Estimate Qualifier and Scheduler. Implement before go-live."
    },
    {
      "id": "4848329e-7999-4c4c-8018-a1fc5f89951a",
      "name": "[STUB] Update to Bot 5- Reece Measurement Verification Bo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update to Bot 5- Reece Measurement Verification Booking. Implement before go-live."
    },
    {
      "id": "ed50b58e-1bb0-486e-836e-6c02ff6a13e3",
      "name": "[STUB] Update Bot Inactive",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        180
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot Inactive. Implement before go-live."
    },
    {
      "id": "a65741a3-beea-4439-803f-42dda97d9d18",
      "name": "[STUB] Update Bot Inactive #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'update_conversation_ai_status'. Intended: Update Bot Inactive. Implement before go-live."
    },
    {
      "id": "c713171f-81b1-4a96-83bf-86e4c851d15a",
      "name": "Note: B.U",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## B.U Update Active Chatbot\nTranslated from GHL workflow 01812e0e-d6b3-418c-8821-a8a018d27e8b.\nGHL triggers: none in export\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 1 | Stubs: 8 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Active Bot": {
      "main": [
        [
          {
            "node": "[STUB] Update to Bot 1A - Reece Live Chat Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[STUB] Update to Bot 1B - Reece SMS Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: B.U Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Active Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}