workflows/E.0-master-router.json
{
  "name": "E.0 Master Router",
  "nodes": [
    {
      "id": "b3f45174-84be-45d5-8086-c4b8ab09eb2d",
      "name": "Webhook: E.0 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "7933e211-e931-478d-81ca-abec71855c32",
      "parameters": {
        "httpMethod": "POST",
        "path": "e-0-e-0-master-router",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "ec8eea5b-6337-498b-8aae-cecdf73841e5",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "eec5c85d-4c29-4d08-868f-b4a8210f881e",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: E.0 Entry').first().json.body.trigger_id||$('Webhook: E.0 Entry').first().json.body.triggerId||'') === \"0ac2b756-81ef-42ae-aeed-e9ab4bfaf374\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "515f6f5d-3572-4ede-81f6-7b319e8aa2d1",
      "name": "Contact Found? Find Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bb3c361e-7c0c-4fd7-8aca-0b62bd4a3352",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "110cc19e-a820-461c-82d1-c49d52801c20",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "parameters": {}
    },
    {
      "id": "cd142942-0f67-4632-895d-386cdcd84708",
      "name": "Wait 1 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      }
    },
    {
      "id": "826958cf-88b2-4228-87a2-dda48fd58704",
      "name": "Check if workflow active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "71cf0cce-051d-4c8a-8908-339c2d858cd1",
              "leftValue": "={{ (![\"active-e.0\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8f846856-7fc1-4c0c-8536-8a1f50aa78e4",
      "name": "Add Tags: active-e.0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-e.0\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7c25f8f4-a3c9-493f-849b-419d74260ebd",
      "name": "Enroll in Workflow 5be361fd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/5be361fd-7893-40b1-b8ac-7414af79b2d3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8033c2f4-2a8c-4557-89fc-14195d83701d",
      "name": "Ensure Routing Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/ensure-routing-tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f8a53fbc-d0e4-4495-8d00-bfe7b45dc149",
      "name": "Wait 1 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        180
      ],
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      }
    },
    {
      "id": "bb014330-07db-4294-8306-241d5eff038d",
      "name": "Check if Customer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "043941f7-9c76-4060-8d41-741d748ae57b",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"type\")||{}).value) == \"customer\" || [\"deal-won\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"status\")||{}).value) == \"won\" || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8f2709a7-0161-41b3-8464-9556b2251f50",
      "name": "Add Tags: customer-return-visit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"customer-return-visit\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3da64f6f-033e-4223-85ca-0a2ee999b133",
      "name": "Remove Tags: active-e.0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-e.0\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "5e37a0cb-f4b2-415f-8f30-b9f488ab8367",
      "name": "[STUB] Remove from Marketing Workflows",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ],
      "parameters": {},
      "notes": "GHL bulk/all remove_from_workflow (43 targets). No single n8n equiv; retarget to orchestrator."
    },
    {
      "id": "bab6de45-1318-4ffe-85bd-f17c822a768c",
      "name": "Check if first_utm_source is Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "437f43db-90ff-47c1-80b9-fa2ce8991fe7",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "660bc3a7-19f3-4028-89d7-e56703cf679b",
      "name": "Update first_utm_source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"SjkhgmZ1dQVYKr1islZu\", \"value\": \"{{contact.utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0d85087f-6db8-4e0f-8d64-8ec518f9d477",
      "name": "Check if first_utm_medium is Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "936b0ec9-8fac-4f06-8c22-1b91ee3265c2",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e2c7db6e-e7d7-49fa-8ee6-688b6dbf8f11",
      "name": "Update first_utm_medium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"7Vda0K4fV1pgv536QbnA\", \"value\": \"{{contact.utm_medium}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ffd8609d-440d-4fcf-83d2-78bd7dfa81e0",
      "name": "Check if first_utm_term is Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "eaa317f8-d101-4d93-89ba-12dffa7f276f",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "48bd514d-da53-4d52-85e6-b29671e6973b",
      "name": "Update first_utm_term",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"UYEnkk378sCwJqUl4G8w\", \"value\": \"{{contact.utm_term}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "08d5674b-9150-41b6-82af-0370a340cbd1",
      "name": "Check if first_utm_content is Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "37ef83fe-71dd-4b3c-88d1-8d9cd8765273",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c32caf96-328c-4d3f-8b56-a9d5687e3319",
      "name": "Update first_utm_content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"VzT4gnmdqmoAblLugjEu\", \"value\": \"{{contact.utm_content}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7b1f1207-fc40-4485-8688-8b7ecbe7c5ac",
      "name": "Remove Tags: reactivation-eligible, unresponsive, not-interested, re",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"reactivation-eligible\", \"unresponsive\", \"not-interested\", \"review-session-complete\", \"review-session-booked\", \"stage:indoctrination\", \"stage:education\", \"stage:booking-review\", \"stage:booked-review\", \"appt:review-session\", \"appt:measurement-verification\", \"appt:window-estimate\", \"appt-confirmed\", \"appt-unconfirmed\", \"appt-cancelled\", \"stage:fast-track\", \"stage:hot-call\", \"stage:deferred\", \"stage:customer-onboarding\", \"stage:conversion-sequence\", \"stage:closed-won\", \"stage:cancellation-review\", \"stage:booking-qualification\", \"stage:booking-main\", \"stage:booked-main-appointment\", \"stage:appointment-rescue\", \"stage:active-nurture-broadcast\", \"stage:long-term-nurture\", \"stage:lost\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:vendor-comparison\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "32324346-528f-44c5-8563-f2e12b580e49",
      "name": "Add Tags: agentic-active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"agentic-active\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ad4f8315-0b8e-426a-85e7-bf7c2f7074e0",
      "name": "Update Active Bot = Agentic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"agentic\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3564ae01-7827-4c93-8294-b78ea46ac3f1",
      "name": "Check Entry Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "2bff6b11-e45f-4f6b-87bc-f970dfa07f7e",
              "leftValue": "={{ ((($('Webhook: E.0 Entry').first().json.body.trigger_id||$('Webhook: E.0 Entry').first().json.body.triggerId||'') === \"RCkRLWHhN99lxnI7t2p4\") || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "55eed66a-78fc-405f-8599-e0ec589d5d69",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:risk-report, active-ent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:risk-report\", \"active-entry:risk-report\", \"source:risk-report\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3e89b416-f52c-4fab-8745-6ddb7126fa0f",
      "name": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:chatbot\", \"active-entry:estimate-calculator\", \"active-entry:high-intent-digital\", \"active-entry:referral\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ab7c0ca6-9aeb-4550-85f2-ecb898f2aebd",
      "name": "Update Lead Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f6f206e1-82e8-488c-820b-f248a0fef479",
      "name": "Wait 1 minutes #3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      }
    },
    {
      "id": "3ed2a008-c2ba-4a62-8896-ec0bdccc49c9",
      "name": "Check Primary Pain Point",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b6b5cb2a-724c-4879-8c51-6479217f0ce2",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"YBmDSRacY8TvKlAdWG0e\")||{}).value) == \"Insurance / Claims\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "36e67099-0046-414e-849e-0f2fc1840924",
      "name": "Add Tags: pain-insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-insurance\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d8fb0bb2-da63-4a0a-8a6a-e3512adb06dc",
      "name": "Enroll in Workflow 85f4600a",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/85f4600a-a55d-4fb5-bd62-d2886dc3d461",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "c342fc21-f74f-433f-8e02-4243635a65a1",
      "name": "Branch Fired: Risk Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"risk-report\", \"destination_workflow\": \"E.1\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "753e22de-ead8-4467-8559-cffc780a6664",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6c23db77-a319-40ed-8ac1-682a4d7addad",
      "name": "Add Tags: pain-storm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-storm\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2a22fcda-1dc2-4092-8b6d-2eb8fefb395b",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        720
      ],
      "parameters": {}
    },
    {
      "id": "c0a28d28-a187-4043-8079-2ff76c33aa40",
      "name": "Add Tags: pain-energy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-energy\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ac06f2a6-dc6f-4bf6-849e-17b769a66e5c",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        720
      ],
      "parameters": {}
    },
    {
      "id": "05593d89-3b58-4b6b-88e2-49f6fdb12732",
      "name": "Add Tags: pain-burglary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-burglary\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "754d3e9c-9520-4f42-802d-ef2d55a86229",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        900
      ],
      "parameters": {}
    },
    {
      "id": "d0686c00-296a-47ad-8264-bfd6b75e99b4",
      "name": "Add Tags: pain-contractor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-contractor\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "21ef5edf-73cc-4163-894a-5bafc44a5e9e",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        900
      ],
      "parameters": {}
    },
    {
      "id": "cec918bf-0229-4672-8ec0-df6beedaa974",
      "name": "Add Tags: pain-maintenance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-maintenance\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b01f60df-6ccb-40ee-8781-ee80fbe29a83",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "parameters": {}
    },
    {
      "id": "9683cf10-c271-4832-8c62-5fafccc93193",
      "name": "Add Tags: pain-value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-value\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "32acb7d7-eaa9-4249-8fa9-0e603c163f67",
      "name": "Go To #7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        900
      ],
      "parameters": {}
    },
    {
      "id": "89bb11d7-5e5e-429b-8ab0-75aaddbe838f",
      "name": "Check for Storm Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1080
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bb8bad8c-e690-49d6-84f4-3f8c2f4f0a52",
              "leftValue": "={{ (false || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d3287e3d-b4df-4df5-82ce-55b5de69b869",
      "name": "Update Primary Pain Point Storm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"Storm Anxiety\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2e1b24d7-c734-4101-851b-74f72eea5009",
      "name": "Add Tags: pain-storm #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-storm\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "29d44da1-083a-4a73-8cfd-0f6647d6bc47",
      "name": "Go To #8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "bdf6370b-4999-4244-867f-20b83fb22169",
      "name": "Check for Insurance Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1080
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "9ef5a75d-12f4-468c-8fe3-4177e2201bd1",
              "leftValue": "={{ (parseFloat((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"y1U3qkVHQdGoLe7vUY87\")||{}).value)||'0') < 250000) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ef346c1c-7039-476e-8515-b959ae266670",
      "name": "Update Primary Pain Point Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"Insurance / Claims\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "59ce5674-379b-4536-86ec-71e25a5e6969",
      "name": "Add Tags: pain-insurance #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-insurance\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "adca3dff-5736-49ad-80a6-aae877f7d81e",
      "name": "Go To #9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "06a2200d-64b0-473d-8959-24a700cec7ae",
      "name": "Check for Burglary Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bbfda8fe-9bb9-4467-8a47-7ba688b40cb5",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fa19f73a-bba8-4586-83b7-9cffd5018a8e",
      "name": "Update Primary Pain Point Burglary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"Burglary / Security\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ac1babbb-8423-45cf-8c71-3320fa76c370",
      "name": "Add Tags: pain-burglary #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-burglary\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "81b802b4-92a4-4b55-8f4c-4438824ea3bb",
      "name": "Go To #10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "4796329b-4055-49ff-815c-f10684a39633",
      "name": "Check for Energy Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "188d737e-e872-4821-8b65-4f8aeb6780ad",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4d85a23c-8931-4124-88f3-4f8c03b4eac8",
      "name": "Update Primary Pain Point Energy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"High Energy Bills\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b8326acd-131b-42ae-8079-1fe29d45891f",
      "name": "Add Tags: pain-energy #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-energy\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1deb2510-4e0f-4be7-8b0f-5c5d753536e8",
      "name": "Go To #11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "58545d4a-bfea-4de6-8a0d-b0a073ec963a",
      "name": "Check for Maintenance Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "98e639b0-857c-4b64-81f6-06536d97c296",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"mFSgCWwCFjTd4XApX8Lg\")||{}).value) == \"16-20 years\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"mFSgCWwCFjTd4XApX8Lg\")||{}).value) == \"21+ years\" || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d608276e-9a48-4d59-8df4-954c11450b60",
      "name": "Update Primary Pain Point Maintenance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"Maintenance Overwhelm\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0322fcb0-8794-4d59-82ef-7b0b828aa6ce",
      "name": "Add Tags: pain-maintenance #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-maintenance\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "144be025-fb80-49a4-8bb0-e78c8b75dd9c",
      "name": "Go To #12",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "cb90f3f6-4cd8-489d-86f8-707fe5e02c79",
      "name": "Check for Value Pain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "8e42261f-a56d-4c90-82ca-cb677ed07ab9",
              "leftValue": "={{ (false && parseFloat((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"VZTk91Pf2g6XTkBbyAoN\")||{}).value)||'0') < 55 && parseFloat((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"xJKD8Fk8k3IUUNPVc4iw\")||{}).value)||'0') < 55) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8138da05-53c8-419c-8a79-51fb916397c2",
      "name": "Update Primary Pain Value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"YBmDSRacY8TvKlAdWG0e\", \"value\": \"Property Value Decline\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3569bf67-349e-4de5-8f94-3d8a52d02217",
      "name": "Add Tags: pain-value #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-value\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a586a57e-6a33-4263-8150-a01cf539b184",
      "name": "Go To #13",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "ad9d8ba1-c957-4606-833c-5f9771c9d916",
      "name": "Add Tags: pain-generic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"pain-generic\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "c3510c3d-704f-4eae-81d8-7ec2d0bcaf8d",
      "name": "Go To #14",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        1620
      ],
      "parameters": {}
    },
    {
      "id": "b3d77037-953e-4dbe-8730-b1c88dde48bc",
      "name": "Go To #15",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1620
      ],
      "parameters": {}
    },
    {
      "id": "d0827e80-8d2b-4336-8534-04b9df3a0f66",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:estimate-calculator, ac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:estimate-calculator\", \"active-entry:estimate-calculator\", \"source:reece-calculator\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "63e57585-0655-4820-809b-7cbdd4218762",
      "name": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:chatbot\", \"active-entry:high-intent-digital\", \"active-entry:referral\", \"active-entry:risk-report\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8d8af740-8fbf-4ca6-8e47-9b7fb08c8d5e",
      "name": "Update Lead Source #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "84f7041b-0b48-441c-8717-f118c325de88",
      "name": "Update Active to agentic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"agentic\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8dd08558-98d3-48dd-8505-b3c1401133db",
      "name": "Enroll in Workflow 74c90736",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/74c90736-6550-4504-881d-2849231aa63c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d8def891-0cc9-4d9f-826a-f32b8bda3514",
      "name": "Branch Fired: Estimate Calculator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"estimate-calculator\", \"destination_workflow\": \"E.2\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f6892d8a-2e03-4de8-89a6-edd7a9047626",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cf3c6fc8-e1b5-45fb-87ee-5e6ef578bc24",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:chatbot, active-entry:c",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:chatbot\", \"active-entry:chatbot\", \"source:reece-chatbot\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "461e830e-1fc7-4542-8593-dddef67e87f7",
      "name": "Remove Tags: active-entry:canvassing, active-entry:estimate-calculat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:estimate-calculator\", \"active-entry:high-intent-digital\", \"active-entry:referral\", \"active-entry:risk-report\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3cf1e3c1-3607-40a2-84a8-72269304385b",
      "name": "Update Lead Source #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "929e6136-9b39-47bf-871b-5a91c4550deb",
      "name": "Enroll in Workflow 2d404941",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "c52463c5-6c92-4e59-8a2f-e1395d4b7916",
      "name": "Branch Fired: Chatbot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"chatbot\", \"destination_workflow\": \"E.3\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d9af8dc7-2ff1-4e12-8768-f00dac1e0f2a",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "12bd92ef-f2a3-41cb-87aa-d6a90b8a98e6",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:referral, active-entry:",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:referral\", \"active-entry:referral\", \"source:previous-customer\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2ecd9de7-398f-4e8b-8399-a66d7895a6cc",
      "name": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:chatbot\", \"active-entry:estimate-calculator\", \"active-entry:high-intent-digital\", \"active-entry:risk-report\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b691bda0-ce4e-4c03-84af-9fe7d3535ccf",
      "name": "Update Lead Source #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "707ebadb-99f8-4375-876a-f81284e06aed",
      "name": "Enroll in Workflow e3ad4b2f",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/e3ad4b2f-8ef8-4978-aeec-9732a8db9fc1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e7848bff-9cf3-42c7-8fa1-b80d84e424a5",
      "name": "Branch Fired: Referral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"referral\", \"destination_workflow\": \"E.6\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8c96f0cc-6df9-4317-8efe-9c65484b59ef",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6e142e1e-2ea7-4a74-805a-b702969bdfcf",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:high-intent-digital, ac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:high-intent-digital\", \"active-entry:high-intent-digital\", \"source:reece-direct-site\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e7338964-53c3-455c-823f-ec9eccf8a7bd",
      "name": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:chatbot\", \"active-entry:estimate-calculator\", \"active-entry:referral\", \"active-entry:risk-report\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "152553c2-8e1c-4a05-8101-eaa1d517642c",
      "name": "Update Lead Source #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3e600ab6-8619-4198-8492-0ffb7a79e9a9",
      "name": "Enroll in Workflow 92c5d673",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/92c5d673-dede-4b4a-9629-3a4a7f9bd1e9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f0f18bcf-d4d1-479d-887e-f67b75a8ad52",
      "name": "Branch Fired: High-Intent Digital",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"high-intent-digital\", \"destination_workflow\": \"E.7\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4d646607-092e-4330-8d66-a407825c7d3d",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "816b7986-b843-4606-8ff6-f033b4eca2a9",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:canvassing, active-entr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:canvassing\", \"active-entry:canvassing\", \"source:canvass\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "56ee9291-e5a7-4e76-8358-062a8a4983f8",
      "name": "Remove Tags: active-entry:chatbot, active-entry:estimate-calculator,",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:chatbot\", \"active-entry:estimate-calculator\", \"active-entry:high-intent-digital\", \"active-entry:referral\", \"active-entry:risk-report\", \"active-entry:other\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7b21b820-3ec7-47d6-86a1-b431a7c0ea3f",
      "name": "Determine canvass subtype",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        2160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c7204a1c-c320-45ee-8c1e-bc16f69baab3",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"source\")||{}).value) == \"Canvass Sticky\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "29f0219b-4554-4189-859d-7a76e212204a",
      "name": "Add Tags: canvass-subtype:sticky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"canvass-subtype:sticky\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "266e90ff-fcfd-4949-8f77-edcc46df3889",
      "name": "Update Lead Source #6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "210b7501-d6c3-48a3-8fdc-56f51a0a8ba4",
      "name": "Update Active to agentic #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"agentic\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e77c4822-1910-4216-84b7-f98b71fc4083",
      "name": "Enroll in Workflow d526e09e",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/d526e09e-4922-42d5-9634-5e2fcc3e5222",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "929e8807-8726-4106-82a6-e39999e24c3c",
      "name": "Branch Fired: Canvassing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"canvassing\", \"destination_workflow\": \"E.4\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4e8ef287-7486-4b16-87e3-2d297b1d6682",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "481612cd-6eb4-4fc2-8a28-683128e8e72f",
      "name": "Add Tags: canvass-subtype:event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"canvass-subtype:event\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "88dce7b5-8c9a-4485-807f-6de6942c6427",
      "name": "Go To #16",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        2340
      ],
      "parameters": {}
    },
    {
      "id": "992cb87c-69d6-48c2-8bf8-758a24c4ce0f",
      "name": "Add Tags: canvass-subtype:door-to-door",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"canvass-subtype:door-to-door\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7663d8f5-a650-4f8c-8c98-05bbee8a6398",
      "name": "Go To #17",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        2520
      ],
      "parameters": {}
    },
    {
      "id": "ff979fb3-2615-4711-8a94-b04305247a3a",
      "name": "Check Valid Entry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        2520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "8eadd174-ee34-4415-8887-059b50bacc10",
              "leftValue": "={{ (![\"active-entry:canvassing\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"active-entry:chatbot\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"active-entry:estimate-calculator\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"active-entry:high-intent-digital\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"active-entry:referral\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"active-entry:risk-report\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"lp-route:appt-confirmed\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"lp-route:post-appointment\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"lp-route:stale-appt\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) && ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"Set\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"Cnf\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"Verif\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"Conf Backup\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"Soft Confirm\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"UnCon\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"OPPFDN\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"FDNS\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"NOC\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"1Leg\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"No Demo\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"NS\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"CXL\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"URWTGtobi9a9Y7gwGxC8\")||{}).value) != \"DNC\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c333341e-fd71-4bcd-8c3a-08b837535fb8",
      "name": "Add Tags: lead-captured, stage:new-lead, entry:other, active-entry:oth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"stage:new-lead\", \"entry:other\", \"active-entry:other\", \"source:unknown\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4ed835ff-8907-48ef-8354-84867bdbd701",
      "name": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-entry:canvassing\", \"active-entry:chatbot\", \"active-entry:estimate-calculator\", \"active-entry:high-intent-digital\", \"active-entry:referral\", \"active-entry:risk-report\", \"active-entry:sams-club-ime\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b131141f-c367-4a9e-8e99-377a40483808",
      "name": "Update Lead Source #7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"exgLkUOPIZgjAt13FY8e\", \"value\": \"{{contact.first_utm_source}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2166e4d1-2974-443a-8261-75cd87bd5652",
      "name": "Enroll in Workflow 0c7b2137",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/0c7b2137-76fd-46d9-9f9b-75d095d3d769",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2b5b8436-6b0e-4258-8713-384a9e659401",
      "name": "Branch Fired: Other (else)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/branch-fired",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"branch\": \"other\", \"destination_workflow\": \"E.5\", \"contactId\": \"{{contact.id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "af368328-bf72-4841-86d4-a9b1b423b918",
      "name": "Remove Tags: lead-captured, active-e.0, agentic-inbound #7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"lead-captured\", \"active-e.0\", \"agentic-inbound\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "94ff18d4-3e79-4d05-8980-12aa25136627",
      "name": "Go To #18",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "6947b179-0bb7-4eea-8ea0-a6f4084f41e3",
      "name": "Go To #19",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "cfc5a58a-7af0-4ade-8533-9045ba152c5f",
      "name": "Go To #20",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "f3fc7f36-ce72-417a-862c-f058d33d3cf7",
      "name": "Go To #21",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "a5882db5-c271-4b27-8ae2-46891a3cba87",
      "name": "Go To #22",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "e93b7752-521d-4834-8b41-338991e34fa9",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "27ed1c68-abdf-4c0e-8198-98283871ab73",
      "name": "Note: E.0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## E.0 Master Router\nTranslated from GHL workflow 407ec6f2-1f90-45d7-b95d-52584b688d9c.\nGHL triggers: opportunity_created:Opportunity Created in Buyer Activation Pipeline; form_submission:Home Risk Report Form Submitted; inbound_webhook:Inbound Agentic System Webhook\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 23 | Stubs: 1 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "Contact Found? Find Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find Contact": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Check if workflow active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minutes": {
      "main": [
        [
          {
            "node": "Check if workflow active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if workflow active": {
      "main": [
        [
          {
            "node": "Add Tags: active-e.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: active-e.0": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 5be361fd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 5be361fd": {
      "main": [
        [
          {
            "node": "Ensure Routing Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Routing Tags": {
      "main": [
        [
          {
            "node": "Wait 1 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minutes #2": {
      "main": [
        [
          {
            "node": "Check if Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Customer": {
      "main": [
        [
          {
            "node": "Add Tags: customer-return-visit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if first_utm_source is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: customer-return-visit": {
      "main": [
        [
          {
            "node": "Remove Tags: active-e.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-e.0": {
      "main": [
        [
          {
            "node": "[STUB] Remove from Marketing Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if first_utm_source is Empty": {
      "main": [
        [
          {
            "node": "Update first_utm_source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update first_utm_source": {
      "main": [
        [
          {
            "node": "Check if first_utm_medium is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if first_utm_medium is Empty": {
      "main": [
        [
          {
            "node": "Update first_utm_medium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update first_utm_medium": {
      "main": [
        [
          {
            "node": "Check if first_utm_term is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if first_utm_term is Empty": {
      "main": [
        [
          {
            "node": "Update first_utm_term",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update first_utm_term": {
      "main": [
        [
          {
            "node": "Check if first_utm_content is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if first_utm_content is Empty": {
      "main": [
        [
          {
            "node": "Update first_utm_content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update first_utm_content": {
      "main": [
        [
          {
            "node": "Remove Tags: reactivation-eligible, unresponsive, not-interested, re",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: reactivation-eligible, unresponsive, not-interested, re": {
      "main": [
        [
          {
            "node": "Add Tags: agentic-active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: agentic-active": {
      "main": [
        [
          {
            "node": "Update Active Bot = Agentic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Bot = Agentic": {
      "main": [
        [
          {
            "node": "Check Entry Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Entry Source": {
      "main": [
        [
          {
            "node": "Add Tags: lead-captured, stage:new-lead, entry:risk-report, active-ent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: lead-captured, stage:new-lead, entry:estimate-calculator, ac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:risk-report, active-ent": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e": {
      "main": [
        [
          {
            "node": "Update Lead Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source": {
      "main": [
        [
          {
            "node": "Wait 1 minutes #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minutes #3": {
      "main": [
        [
          {
            "node": "Check Primary Pain Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Primary Pain Point": {
      "main": [
        [
          {
            "node": "Add Tags: pain-insurance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: pain-storm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-insurance": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 85f4600a": {
      "main": [
        [
          {
            "node": "Branch Fired: Risk Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Risk Report": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-storm": {
      "main": [
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-energy": {
      "main": [
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-burglary": {
      "main": [
        [
          {
            "node": "Go To #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-contractor": {
      "main": [
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-maintenance": {
      "main": [
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-value": {
      "main": [
        [
          {
            "node": "Go To #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #7": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Storm Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Point Storm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Insurance Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Point Storm": {
      "main": [
        [
          {
            "node": "Add Tags: pain-storm #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-storm #2": {
      "main": [
        [
          {
            "node": "Go To #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #8": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Insurance Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Point Insurance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Burglary Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Point Insurance": {
      "main": [
        [
          {
            "node": "Add Tags: pain-insurance #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-insurance #2": {
      "main": [
        [
          {
            "node": "Go To #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #9": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Burglary Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Point Burglary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Energy Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Point Burglary": {
      "main": [
        [
          {
            "node": "Add Tags: pain-burglary #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-burglary #2": {
      "main": [
        [
          {
            "node": "Go To #10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #10": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Energy Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Point Energy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Maintenance Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Point Energy": {
      "main": [
        [
          {
            "node": "Add Tags: pain-energy #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-energy #2": {
      "main": [
        [
          {
            "node": "Go To #11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #11": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Maintenance Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Point Maintenance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for Value Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Point Maintenance": {
      "main": [
        [
          {
            "node": "Add Tags: pain-maintenance #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-maintenance #2": {
      "main": [
        [
          {
            "node": "Go To #12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #12": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Value Pain": {
      "main": [
        [
          {
            "node": "Update Primary Pain Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: pain-generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Primary Pain Value": {
      "main": [
        [
          {
            "node": "Add Tags: pain-value #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-value #2": {
      "main": [
        [
          {
            "node": "Go To #13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #13": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: pain-generic": {
      "main": [
        [
          {
            "node": "Go To #14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #14": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 85f4600a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #15": {
      "main": [
        [
          {
            "node": "Check for Storm Pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:estimate-calculator, ac": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #2": {
      "main": [
        [
          {
            "node": "Update Lead Source #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #2": {
      "main": [
        [
          {
            "node": "Update Active to agentic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active to agentic": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 74c90736",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 74c90736": {
      "main": [
        [
          {
            "node": "Branch Fired: Estimate Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Estimate Calculator": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:chatbot, active-entry:c": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:estimate-calculat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:estimate-calculat": {
      "main": [
        [
          {
            "node": "Update Lead Source #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #3": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 2d404941",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 2d404941": {
      "main": [
        [
          {
            "node": "Branch Fired: Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Chatbot": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:referral, active-entry:": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #3": {
      "main": [
        [
          {
            "node": "Update Lead Source #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #4": {
      "main": [
        [
          {
            "node": "Enroll in Workflow e3ad4b2f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow e3ad4b2f": {
      "main": [
        [
          {
            "node": "Branch Fired: Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Referral": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:high-intent-digital, ac": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #4": {
      "main": [
        [
          {
            "node": "Update Lead Source #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #5": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 92c5d673",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 92c5d673": {
      "main": [
        [
          {
            "node": "Branch Fired: High-Intent Digital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: High-Intent Digital": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:canvassing, active-entr": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:chatbot, active-entry:estimate-calculator,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:chatbot, active-entry:estimate-calculator,": {
      "main": [
        [
          {
            "node": "Determine canvass subtype",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine canvass subtype": {
      "main": [
        [
          {
            "node": "Add Tags: canvass-subtype:sticky",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: canvass-subtype:event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: canvass-subtype:sticky": {
      "main": [
        [
          {
            "node": "Update Lead Source #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #6": {
      "main": [
        [
          {
            "node": "Update Active to agentic #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active to agentic #2": {
      "main": [
        [
          {
            "node": "Enroll in Workflow d526e09e",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow d526e09e": {
      "main": [
        [
          {
            "node": "Branch Fired: Canvassing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Canvassing": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: canvass-subtype:event": {
      "main": [
        [
          {
            "node": "Go To #16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #16": {
      "main": [
        [
          {
            "node": "Update Lead Source #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: canvass-subtype:door-to-door": {
      "main": [
        [
          {
            "node": "Go To #17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #17": {
      "main": [
        [
          {
            "node": "Update Lead Source #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Entry": {
      "main": [
        [
          {
            "node": "Add Tags: lead-captured, stage:new-lead, entry:other, active-entry:oth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: lead-captured, stage:new-lead, entry:other, active-entry:oth": {
      "main": [
        [
          {
            "node": "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-entry:canvassing, active-entry:chatbot, active-e #5": {
      "main": [
        [
          {
            "node": "Update Lead Source #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Source #7": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 0c7b2137",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 0c7b2137": {
      "main": [
        [
          {
            "node": "Branch Fired: Other (else)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Fired: Other (else)": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #18": {
      "main": [
        [
          {
            "node": "Remove Tags: lead-captured, active-e.0, agentic-inbound #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #19": {
      "main": [
        [
          {
            "node": "Remove Tags: reactivation-eligible, unresponsive, not-interested, re",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #20": {
      "main": [
        [
          {
            "node": "Check if first_utm_content is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #21": {
      "main": [
        [
          {
            "node": "Check if first_utm_term is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #22": {
      "main": [
        [
          {
            "node": "Check if first_utm_medium is Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: E.0 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}