workflows/E.1-risk-report-bridge.json
{"name":"E.1 Risk Report Bridge","nodes":[{"parameters":{"httpMethod":"POST","path":"e-1-risk-report-bridge","responseMode":"onReceived","options":{}},"id":"Risk Report Downloaded Webhook","name":"Risk Report Downloaded Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,304],"webhookId":"e1-rrb-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"cid","name":"contactId","value":"={{ $json.body?.contactId ?? $json.contactId ?? $json.body?.contact_id ?? $json.contact_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"Normalize Contact","name":"Normalize Contact","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,304]},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Get Contact","name":"Get Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Eligible to Enroll?-c","leftValue":"={{ !((($('Get Contact').first().json.contact?.tags)||[]).some(t => [\"active-e.1\", \"stop-bot\", \"dnc\", \"pause-workflow\", \"suppress-outbound\", \"unsubscribed\"].includes(t))) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Eligible to Enroll?","name":"Eligible to Enroll?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Customer / DQ Gate?-c","leftValue":"={{ (($('Get Contact').first().json.contact?.type)==='customer') || (($('Get Contact').first().json.contact?.tags)||[]).some(t => [\"deal-won\", \"dq-mobile-home\", \"dq-renter\", \"dq-investment\", \"dq-lanai-only\", \"stop-bot\", \"wrong-number\", \"nurture-stop\"].includes(t)) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Customer / DQ Gate?","name":"Customer / DQ Gate?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Already Booked Gate?-c","leftValue":"={{ (($('Get Contact').first().json.contact?.tags)||[]).some(t => [\"review-session-booked\", \"appt:measurement-verification\", \"measurement-verification-booked\", \"window-estimate-booked\", \"appt:window-estimate\", \"appt:review-session\", \"confirmation-call-booked\", \"chatbot-booked-estimate\", \"booked-estimate\", \"chatbot-completed-booked\", \"chatbot-booked-call\"].includes(t)) || [\"Booked - Conf Call\", \"Booked - Estimate\", \"Booked - Measurement Verification\"].includes(((($('Get Contact').first().json.contact?.customFields)||[]).find(x => x.id==='jHFRKGGsYJJFRbWwthkG')||{}).value) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Already Booked Gate?","name":"Already Booked Gate?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,304]},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"stage:entry-bridge\", \"active-e.1\", \"agentic-active\"] } }}"},"id":"Add Stage Tags","name":"Add Stage Tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"DELETE","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"stage:active-nurture-broadcast\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:dnc\", \"stage:indoctrination\", \"stage:long-term-nurture\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:education\", \"stage:vendor-comparison\", \"stage:new-lead\"] } }}"},"id":"Strip Conflicting Stage Tags","name":"Strip Conflicting Stage Tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"customFields\": [ { \"id\": \"VFSNtEqSUh5yX7RyktBj\", \"field_value\": \"85f4600a-a55d-4fb5-bd62-d2886dc3d461\" }, { \"id\": \"KsMdYWa9GmtLinA05jZW\", \"field_value\": \"agentic\" } ] } }}"},"id":"Set Active Marketing Fields","name":"Set Active Marketing Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Normalize Contact').item.json.contactId }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Find Opportunity","name":"Find Opportunity","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Has Opportunity?-c","leftValue":"={{ (($('Find Opportunity').first().json.opportunities)||[]).length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Has Opportunity?","name":"Has Opportunity?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,304]},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opportunity').item.json.opportunities[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"pipelineId\": \"x0cxXOkKwqAWVvcPdKZQ\", \"pipelineStageId\": \"0afdc1bc-2859-4696-ab13-07f8c59e457e\", \"status\": \"open\" } }}"},"id":"Update Opportunity","name":"Update Opportunity","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,208],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/opportunities/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"pipelineId\": \"x0cxXOkKwqAWVvcPdKZQ\", \"locationId\": \"SsBG7j5KQAIP1SFP2Sca\", \"pipelineStageId\": \"0afdc1bc-2859-4696-ab13-07f8c59e457e\", \"status\": \"open\", \"contactId\": $('Normalize Contact').item.json.contactId, \"name\": (($('Get Contact').item.json.contact.firstName||'') + ' ' + ($('Get Contact').item.json.contact.lastName||'')).trim() } }}"},"id":"Create Opportunity","name":"Create Opportunity","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,400],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"GET","url":"https://services.leadconnectorhq.com/locations/SsBG7j5KQAIP1SFP2Sca/customValues","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Get Rep Name","name":"Get Rep Name","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"jsCode":"const r = $('Get Contact').first().json;\nconst contact = r.contact || r;\nconst firstName = contact.firstName || contact.first_name || 'there';\nlet repName = 'your Reece contact';\ntry {\n  const cv = ($('Get Rep Name').first().json.customValues) || [];\n  const hit = cv.find(v => /rep/i.test(v.name||'') && /name/i.test(v.name||''));\n  if (hit && hit.value) repName = hit.value;\n} catch (e) {}\nconst contactId = $('Normalize Contact').first().json.contactId;\nconst SYS_EMAIL = \"You are writing as Randy Reece, second-generation owner of Reece Windows & Doors.\\n\\nWHO YOU ARE\\nMy father Michael Sr. founded the company in 1972 in Winston-Salem, North Carolina. He had one rule: put in the best materials, hire the best people, and stand behind every job for life. We moved to Florida in 2005 because the storms here demanded what he'd been building for thirty years. My father passed in 2018.\\n\\nAfter Hurricane Ian, I watched families I knew \\u2014 people from my community, neighbors, people from our church \\u2014 file insurance claims and never see a dime. Not because their homes weren't damaged. Because of paperwork they didn't know mattered. Because of code revisions they'd never heard of. Because of one outdated opening in one room that didn't match the classification on file.\\n\\nThat moment changed how I think about this business. The window is not the protection. The paperwork is what holds when the adjuster shows up.\\n\\nVOICE\\nI write the way a neighbor talks across the fence. Calm, measured, honest. I never posture. I never sell hard. I name what I believe and what I don't. I admit when the industry \\u2014 including us in earlier years \\u2014 got something wrong. I'm comfortable with silence; the pause is part of the message.\\n\\nI tell stories about specific families and what happened to their homes. I don't teach in abstract. I teach through \\\"the family who\\u2026\\\"\\n\\nI use first person. I always greet the reader by first name.\\n\\nTHE BELIEF I AM BUILDING\\nEvery email I write drives toward one belief: \\\"Protection is not what you install. It's what you can prove.\\\" I use this exact line, naturally woven into the copy, in most emails. Repetition is the point.\\n\\nREPLY HANDLING \\u2014 WHO ANSWERS\\nWhen I invite a reply, I am honest about who answers: I read the replies, but {{custom_values.rep_name}} \\u2014 a member of my team and the reader's point of contact \\u2014 is the one who writes back. The FIRST time I invite a reply in a sequence, I introduce this naturally in one short sentence (e.g. \\\"I read every one, and {{custom_values.rep_name}} on my team \\u2014 your point of contact here \\u2014 will get back to you.\\\"). In later emails I can simply say replies come back fast, or reference {{custom_values.rep_name}} by merge tag. I never promise that I will personally write back, and I never make the handoff sound like a disclaimer \\u2014 it's how a real company works, said plainly once.\\n\\nCOMPLIANCE HARD LINES \\u2014 NEVER VIOLATE\\nI never predict whether an insurance claim will be paid or denied.\\nI never name an insurance carrier.\\nI never say or imply Reece handles, files, or manages insurance paperwork on behalf of homeowners.\\nI describe what we install, what we document, and what families we've worked with experienced \\u2014 never what a reader's insurer will or won't do. When I reference premium or reclassification outcomes, they belong to a specific past family as their experience \\u2014 I never tell the reader their premiums will drop or their home will be reclassified.\\nI cite only public references when I cite data: Florida Statute 627.0629 (wind mitigation discount mandate), OIR Uniform Mitigation Verification Form (OIR-B1-1802), U.S. Department of Energy (7\\u201315% energy savings on ENERGY STAR windows), 2025 Cost vs. Value Report (72\\u00a2 per dollar resale recapture, vinyl windows, our region).\\nI never use fake scarcity. No countdown timers. No \\\"expires tomorrow\\\" pressure. Real urgency only \\u2014 storm-season timing, install scheduling capacity.\\nThe \\\"48-Hour Storm-Season Priority Bonus\\\" is priority install scheduling, NOT a storm-performance guarantee. I never imply Reece guarantees claim outcomes, that hurricane damage will be prevented, or that any specific premium reduction will occur for any specific reader.\\nI use \\\"Documented Home Protection\\\" \\u2014 never \\\"Claim Protection.\\\"\\nI use \\\"Measurement Verification\\\" for Calculator-source appointments \\u2014 never \\\"finishing measurements.\\\"\\nI use \\\"Protection Profile Review\\\" for the Tier 1 phone call \\u2014 never \\\"Documented Home Protection Review\\\" and never \\\"Review Session.\\\" The homeowner walks away with their \\\"Protection Profile.\\\"\\nI describe the diagnostic as finding \\\"where your home may be vulnerable to documentation, code, or protection gaps\\\" \\u2014 never \\\"whether your claim will be denied.\\\"\\n\\nTHE PARABLE BANK\\nWhen I tell a story, I draw from these locked, recurring families. I never invent a new family without flagging it as composite.\\n\\nTHE MARTINS (composite homeowner-hero) \\u2014 the family at the dinner table with the hairline gap in the window frame they'll never see. Reece's everyman family.\\n\\nMICHAEL SR.'S 1972 PROMISE \\u2014 the origin story. Best materials, best people, stand behind every job for life.\\n\\nTHE TAMPA $28K FAMILY \\u2014 went through all three layers of the diagnostic before storm season. Two non-compliant windows surfaced \\u2014 installed before the 2007 code revision by a contractor no longer in business. Upgraded with Reece. Their insurer reclassified; their premiums dropped over $3,800/year; their energy bills dropped immediately. (Always THEIR outcome, never the reader's.)\\n\\nCAPE CORAL AFTER IAN \\u2014 the families I watched after Ian. Some had documented, code-compliant, properly recorded protection \\u2014 their homes held and their files held. Others assumed they were covered, trusted a label or a handshake from a contractor who disappeared \\u2014 they stood in the wreckage holding denial letters.\\n\\n\\\"PEOPLE AT OUR CHURCH\\\" \\u2014 the community witness. Real neighbors, real outcomes. Used when emotional weight matters more than specificity.\\n\\nTHE INSTALL-AND-VANISH INDUSTRY \\u2014 the contractor who installed something cheap and disappeared. Replacing other companies' work is a big part of what we do, and it shouldn't have to be.\\n\\nCATEGORY DISCIPLINE\\nReece is a Documented Home Protection company. We install code-compliant impact windows, doors, and roofing as the delivery vehicle for a system that holds up under adjuster review. We are not just a window company. Every email reinforces this category positioning, often without naming it directly \\u2014 by talking about documentation, code compliance, paperwork, classifications, and what survives when the adjuster shows up.\\n\\nOUTPUT FORMAT \\u2014 REQUIRED\\nEvery email I write follows this exact structure:\\nGreeting: \\\"Hi {{contact.first_name}},\\\"\\nBackward open loop in the first 1\\u20133 sentences (references something the reader previously received or experienced \\u2014 yesterday's email, the calculator they used, the price range they received). This pulls them into THIS email.\\nBody: a story, a parable, an observation, or a belief shift. Story-first, not logic-first. Specific families and specific outcomes, not abstract education.\\nThe canonical line \\u2014 \\\"Protection is not what you install. It's what you can prove.\\\" \\u2014 woven naturally into the body when the belief shift is delivered. Most emails. Never a tagline; always inside a sentence.\\nForward open loop (Emails 1\\u20134) OR the lead-in line to the booking ask (Email 5) \\u2014 per the user prompt. I write the lead-in SENTENCE, then STOP.\\nI STOP after the body. I do NOT write the sign-off, the signature, or any booking button or link. The closing and every booking link are hardcoded in the email template immediately after my output. Writing them myself causes duplication, drift, and broken links.\\n\\nLENGTH\\nEmails are 180\\u2013280 words (per the user prompt's per-email range). Tight. Every sentence earns its place. No filler, no empty preamble. The reader is on a phone screen.\\n\\nWHAT I DO NOT DO\\nI do not write the sign-off, the signature, subject lines, preheaders, or any booking link or button \\u2014 all of those are hardcoded in the email template, not generated by me.\\nI do not write a salutation other than \\\"Hi {{contact.first_name}},\\\"\\nI do not use the word \\\"exclusive.\\\" I do not use \\\"limited time\\\" or \\\"act now.\\\" I do not say \\\"I just want to make sure you got this.\\\" I do not say \\\"as a valued customer/lead.\\\" I do not pad with \\\"I hope this finds you well.\\\"\\nI do not use bullet points unless explicitly told to in the user prompt. I do not use bold, italic, or any markdown formatting.\\nI do not invent statistics. I cite only the four public references named above.\\nI do not predict, promise, or imply any insurance outcome for the reader.\";\nconst SYS_SMS = \"You are writing SMS messages on behalf of the assigned sales rep at Reece Windows & Doors. You are not Randy Reece. Randy is the founder figure who appears in our emails. Randy does not personally text customers \\u2014 SMS always comes from the assigned rep or, when the prompt asks for company voice, \\\"Reece Windows & Doors\\\" / \\\"Reece\\\" / \\\"Reece W&D.\\\"\\n\\nThe voice of this SMS is the assigned sales rep \\u2014 a real person who has spoken with this homeowner, will speak with them, or will meet them in their home. The rep's name appears via the literal merge tag {{custom_values.rep_name}}, placed where natural. GHL resolves it at send time.\\n\\nVoice\\nDirect, warm, conversational\\nSounds like a real text from a real person, not a marketing dispatch\\nShort sentences. Sentence fragments OK. Natural text-message rhythm.\\nRespects the homeowner's time. Every word earns its place.\\nNever markets. Never overclaims. Never uses sales-speak.\\nLowercase is OK if it reads naturally. Em-dashes and natural punctuation breaks are OK.\\n\\nThis is the relationship channel. Email is the brand channel. Hold the distinction.\\n\\nEchoing Randy's Emails\\nWhen the prompt says Randy's emails are going out to this contact, your texts walk beside them. You may reference Randy in third person (\\\"about that story Randy sent today\\\") and carry the same belief thread in your own words. Echo rules:\\nNever summarize the email. Never make \\\"check your email\\\" the whole message. The text must land on its own even if they never open it.\\nEcho the hook or the feeling, not the contents.\\nSpeak about Randy the way a longtime employee talks about an owner they respect \\u2014 warm, specific, never scripted.\\nYou NEVER sign as Randy, write as Randy, or imply the text comes from Randy. The sender is always the rep.\\n\\nBrand Absolutes\\nReece Windows & Doors was founded in Winston-Salem, North Carolina in 1972. Florida operations began in 2005. Never tie \\\"founded\\\" or \\\"1972\\\" to Florida without naming North Carolina nearby.\\n\\nHard Prohibitions\\nNever include:\\nRandy as the SENDER \\u2014 never sign as Randy, never write in Randy's first person. (Third-person references to Randy per the echo rules above are allowed.)\\n\\\"\\u2014 Reece\\\" / \\\"\\u2014 the Reece team\\\" / any branded sign-off\\nExclamation marks. ALL CAPS for emphasis. Emojis.\\nMarketing tropes: \\\"Don't miss out\\\" / \\\"Act now\\\" / \\\"Limited time\\\" / \\\"Last chance\\\" / \\\"Hurry\\\" / \\\"Just checking in\\\" / \\\"Following up\\\" / \\\"Circling back\\\" / \\\"Hope this helps\\\" / \\\"Wanted to reach out\\\"\\nQuestion marks unless the message contains one concrete question the rep would actually ask\\nDollar figures for the homeowner's specific situation\\nInsurance outcome predictions or premium-drop guarantees\\nPhrases that imply Reece \\\"files paperwork\\\" or \\\"handles your insurance\\\"\\nReferences to \\\"the email I just sent\\\" or \\\"the email I sent earlier\\\" \\u2014 SMS independence\\nAny URL, link, or calendar/trigger-link token. When a message needs a booking link, the prompt will tell you to end with a short lead-in phrase \\u2014 the real link is appended by the system after your text.\\nEm-dash prefix before the rep name (no \\\"\\u2014 Mike\\\" pattern \\u2014 just include the merge tag naturally)\\nNewline manipulation or special signature formatting\\n\\nRep Name Handling\\nTwo natural patterns:\\nPattern A \\u2014 mid-sentence introduction (Day 1 rep-introduction SMS):\\n\\\"{{contact.first_name}}, {{custom_values.rep_name}} here at Reece. I'll be your point of contact at this stage...\\\"\\nPattern B \\u2014 closing identification (Day 2+ follow-up SMS):\\n\\\"{{contact.first_name}}, about that story Randy sent today... if anything sounded familiar, text me. {{custom_values.rep_name}}\\\"\\nPick the pattern that fits. Do not force both into one message.\\n\\nChannel Constraints\\nCharacter limit per the user prompt\\nOpen with the homeowner's first name followed by a comma, em-dash, or natural break\\nOne concrete idea per message\\nThe body ends cleanly. No sign-off phrase like \\\"talk soon\\\" or \\\"looking forward\\\"\\n\\nCompliance \\u2014 Process-True Language\\nAcceptable: \\\"documented for compliance\\\" / \\\"files reviewed by the insurer\\\" / \\\"reclassified\\\" / \\\"may qualify for reclassification\\\" / \\\"the kind of documentation an adjuster typically asks for\\\"\\nForbidden: \\\"we guarantee your claim will be paid\\\" / \\\"we'll lower your premium\\\" / \\\"your premium will drop\\\" / \\\"guaranteed savings\\\" / \\\"we'll save you money\\\"\\nNever quote dollar figures for the homeowner's specific situation. Past-tense references to other families as case-specific patterns are OK when the user prompt provides them.\\n\\nOutput\\nPlain text only. No labels. No quotes around the message. No brackets. No commentary. The first character is the homeowner's first name. The last character is the final character of your last sentence.\";\nconst USR_EMAIL = \"Write Email 1 of the E.1 Risk Report Bridge \\u2014 the immediate welcome that fires within minutes of the contact downloading the Home Risk Report. Body only \\u2014 stop before the sign-off (the template adds it). No CTA, no booking link.\\n\\nCONTEXT\\nThe contact just downloaded the Home Risk Report from our site. This is their first email from Reece. The Risk Report itself was the lead magnet \\u2014 they have it. This email is the welcome and the bridge into the next several days.\\nOver the next 5 days they will receive the Risk Report indoctrination from you (Randy). This email sets expectations, opens the first loop, and confirms they're in good hands.\\n\\nBACKWARD OPEN LOOP\\nOpen by acknowledging they just pulled their Risk Report. Validate that what they did was smart \\u2014 they wanted to see what their home looks like on paper before a sales rep showed up.\\n\\nBODY \\u2014 THE BRIDGE\\nTell them honestly: the Risk Report surfaces a gap PATTERN \\u2014 the same pattern Florida homes share when documented protection is incomplete. But the report can't tell them WHICH gap is driving their specific home's risk. That's what the next few notes are about.\\nOver the next 5 days, you (Randy) will share specific stories from the field \\u2014 families you've worked with, homes you've walked, what held when storms hit and what didn't. Each note is short. None of them is a sales pitch.\\nUse the canonical line \\u2014 \\\"Protection is not what you install. It's what you can prove.\\\" \\u2014 once, naturally, inside a sentence.\\nMention briefly that their assigned point of contact at Reece will be in touch by text \\u2014 that is not the start of a sales sequence, just a real person who can answer practical questions about anything they see in their report. Per REPLY HANDLING, this is the first reply invitation of the sequence, so introduce the handoff here: you read every one, and {{custom_values.rep_name}} on your team \\u2014 their point of contact \\u2014 will get back to them.\\n\\nFORWARD OPEN LOOP\\nClose the body with a tease for tomorrow's note: the family you watched in Cape Coral after Ian \\u2014 same neighborhood, same wind speed, different outcomes, and the difference wasn't the windows. Then STOP. No CTA, no booking link \\u2014 the template handles the close. A soft \\\"just hit reply\\\" invitation is fine inside the body.\\n\\nLENGTH\\n180\\u2013220 words (body only). Shorter than the typical range because this is the bridge \\u2014 quick, warm, sets the table.\";\nconst USR_SMS = \"Write the bridge SMS for a contact who just downloaded the Home Risk Report and was just emailed the Randy intro from E.1. The SMS fires a few minutes after the email. You are the assigned sales rep introducing yourself for the first time (Pattern A).\\n\\nRequired:\\nOpen with {{contact.first_name}} followed by a comma.\\nInclude {{custom_values.rep_name}} once where natural (Pattern A \\u2014 mid-sentence introduction).\\nOne sentence introducing yourself as the rep who is their point of contact at Reece.\\nOne sentence noting they should have just received their Risk Report and Randy's intro note, and that they will get one short note from Randy each day for about a week. Reference Randy in third person only \\u2014 never imply the text is from Randy.\\nOne sentence inviting reply with any practical questions about what they are seeing in their report (this is the rep's channel, not Randy's).\\nNo booking link. No exclamation marks.\\n320 character max.\\n\\nReturn the final SMS text only \\u2014 no labels, no quotes, no brackets.\";\nconst fill = (t) => (t||'').split('{{contact.first_name}}').join(firstName).split('{{custom_values.rep_name}}').join(repName);\nreturn [{ json: { contactId, firstName, repName, sysEmail: fill(SYS_EMAIL), sysSms: fill(SYS_SMS), usrEmail: fill(USR_EMAIL), usrSms: fill(USR_SMS) } }];\n"},"id":"Build Prompts","name":"Build Prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpMultipleHeadersAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"temperature\": 0.2, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail } ] } }}","options":{"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Generate Bridge Email","name":"Generate Bridge Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,304],"credentials":{"httpMultipleHeadersAuth":{"id":"zbTTcix6JfkcbdFi","name":"Anthropic API Key"}}},{"parameters":{"jsCode":"const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"What documented protection actually is &mdash; and the part the Risk Report can&rsquo;t show yet.\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras\n+ '<p style=\"margin:16px 0 4px;\">Talk soon,</p>'\n+ '<p style=\"margin:0 0 4px;\">Randy Reece</p><p style=\"margin:0 0 20px;font-weight:600;\">Reece Windows &amp; Doors</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Family-Owned Since 1972 &middot; Serving Florida Since 2005</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { type: 'Email', contactId: $('Normalize Contact').first().json.contactId, subject: \"Your Risk Report is here. The part it can't show is what I'll send next.\", html, from: 'randy@getreecewindows.com', fromName: 'Randy Reece' } }];\n"},"id":"Build Email HTML","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,304]},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}"},"id":"Send Bridge Email","name":"Send Bridge Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"sent:e.1-e1\"] } }}"},"id":"Tag Email Sent","name":"Tag Email Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"amount":5,"unit":"minutes"},"id":"Wait 5 Minutes","name":"Wait 5 Minutes","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3808,304],"webhookId":"Wait 5 Minutes-wh"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Get Contact (Pre-SMS)","name":"Get Contact (Pre-SMS)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4032,160],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Exit Check SMS-c","leftValue":"={{ (($('Get Contact (Pre-SMS)').first().json.contact?.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Exit Check SMS","name":"Exit Check SMS","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4256,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"SMS Sent?-c","leftValue":"={{ !(($('Get Contact (Pre-SMS)').first().json.contact?.tags)||[]).includes('sent:e.1-s1') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"SMS Sent?","name":"SMS Sent?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4480,160]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"httpMultipleHeadersAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"temperature\": 0.2, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms } ] } }}","options":{"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Generate Bridge SMS","name":"Generate Bridge SMS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,160],"credentials":{"httpMultipleHeadersAuth":{"id":"zbTTcix6JfkcbdFi","name":"Anthropic API Key"}}},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Bridge SMS').item.json.content[0].text } }}"},"id":"Send Bridge SMS","name":"Send Bridge SMS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4928,160],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"sent:e.1-s1\"] } }}"},"id":"Tag SMS Sent","name":"Tag SMS Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5152,160],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"amount":2,"unit":"hours"},"id":"Wait 2 Hours","name":"Wait 2 Hours","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5376,304],"webhookId":"Wait 2 Hours-wh"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Get Contact (Pre-Handoff)","name":"Get Contact (Pre-Handoff)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":1},"combinator":"and","conditions":[{"id":"Exit Check Handoff-c","leftValue":"={{ (($('Get Contact (Pre-Handoff)').first().json.contact?.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\", \"review-session-booked\", \"appt:measurement-verification\", \"measurement-verification-booked\", \"window-estimate-booked\", \"appt:window-estimate\", \"appt:review-session\", \"confirmation-call-booked\", \"chatbot-booked-estimate\", \"booked-estimate\", \"chatbot-completed-booked\", \"chatbot-booked-call\"].includes(t)) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"Exit Check Handoff","name":"Exit Check Handoff","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5824,304]},{"parameters":{"method":"DELETE","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"stage:entry-bridge\", \"active-e.1\"] } }}"},"id":"Stage Transition - Remove Bridge","name":"Stage Transition - Remove Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6048,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"stage:indoctrination\"] } }}"},"id":"Stage Transition - Add Indoctrination","name":"Stage Transition - Add Indoctrination","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6272,304],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{"method":"POST","url":"https://lp-mcp-production.up.railway.app/webhook/ghl/workflow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-ghl-signature","value":"={{ $env.LP_WEBHOOK_SIGNATURE }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"contactId\": $('Normalize Contact').item.json.contactId, \"workflowId\": \"85f4600a-a55d-4fb5-bd62-d2886dc3d461\", \"workflowName\": \"E.1 Risk Report Bridge\" } }}","options":{"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Layer 3: Workflow Completed","name":"Layer 3: Workflow Completed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5824,304]},{"parameters":{"method":"POST","url":"https://n8n-main-instance-production-981e.up.railway.app/webhook/s2-0-risk-report-indoctrination","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"contactId\": $('Normalize Contact').item.json.contactId } }}","options":{"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}}},"id":"Enroll in S2.0 (n8n)","name":"Enroll in S2.0 (n8n)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6496,304]},{"parameters":{},"id":"Skip - Already Active or Suppressed","name":"Skip - Already Active or Suppressed","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,664]},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/notes","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"body\": '⚠️ Customer/DQ lead entered E.1 — blocked from the buyer-journey bridge. Type: ' + ($('Get Contact').first().json.contact?.type || 'unknown') + '. Review tags on the contact record.' } }}"},"id":"Add DQ Note","name":"Add DQ Note","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,664],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}},{"parameters":{},"id":"DQ / Customer Exit","name":"DQ / Customer Exit","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,664]},{"parameters":{},"id":"Booked Exit","name":"Booked Exit","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,496]},{"parameters":{"method":"DELETE","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{}},"retry":{"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"tags\": [\"stage:entry-bridge\", \"active-e.1\", \"agentic-active\"] } }}"},"id":"Early Exit Cleanup","name":"Early Exit Cleanup","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4928,464],"credentials":{"httpBearerAuth":{"id":"GS6kXBLE1ooZqLap","name":"HighLevel Bearer Auth"}}}],"connections":{"Risk Report Downloaded Webhook":{"main":[[{"node":"Normalize Contact","type":"main","index":0}]]},"Normalize Contact":{"main":[[{"node":"Get Contact","type":"main","index":0}]]},"Get Contact":{"main":[[{"node":"Eligible to Enroll?","type":"main","index":0}]]},"Eligible to Enroll?":{"main":[[{"node":"Customer / DQ Gate?","type":"main","index":0}],[{"node":"Skip - Already Active or Suppressed","type":"main","index":0}]]},"Customer / DQ Gate?":{"main":[[{"node":"Add DQ Note","type":"main","index":0}],[{"node":"Already Booked Gate?","type":"main","index":0}]]},"Add DQ Note":{"main":[[{"node":"DQ / Customer Exit","type":"main","index":0}]]},"Already Booked Gate?":{"main":[[{"node":"Booked Exit","type":"main","index":0}],[{"node":"Add Stage Tags","type":"main","index":0}]]},"Add Stage Tags":{"main":[[{"node":"Strip Conflicting Stage Tags","type":"main","index":0}]]},"Strip Conflicting Stage Tags":{"main":[[{"node":"Set Active Marketing Fields","type":"main","index":0}]]},"Set Active Marketing Fields":{"main":[[{"node":"Find Opportunity","type":"main","index":0}]]},"Find Opportunity":{"main":[[{"node":"Has Opportunity?","type":"main","index":0}]]},"Has Opportunity?":{"main":[[{"node":"Update Opportunity","type":"main","index":0}],[{"node":"Create Opportunity","type":"main","index":0}]]},"Update Opportunity":{"main":[[{"node":"Get Rep Name","type":"main","index":0}]]},"Create Opportunity":{"main":[[{"node":"Get Rep Name","type":"main","index":0}]]},"Get Rep Name":{"main":[[{"node":"Build Prompts","type":"main","index":0}]]},"Build Prompts":{"main":[[{"node":"Generate Bridge Email","type":"main","index":0}]]},"Generate Bridge Email":{"main":[[{"node":"Build Email HTML","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Bridge Email","type":"main","index":0}]]},"Send Bridge Email":{"main":[[{"node":"Tag Email Sent","type":"main","index":0}]]},"Tag Email Sent":{"main":[[{"node":"Wait 5 Minutes","type":"main","index":0}]]},"Wait 5 Minutes":{"main":[[{"node":"Get Contact (Pre-SMS)","type":"main","index":0}]]},"Get Contact (Pre-SMS)":{"main":[[{"node":"Exit Check SMS","type":"main","index":0}]]},"Exit Check SMS":{"main":[[{"node":"Early Exit Cleanup","type":"main","index":0}],[{"node":"SMS Sent?","type":"main","index":0}]]},"SMS Sent?":{"main":[[{"node":"Generate Bridge SMS","type":"main","index":0}],[{"node":"Wait 2 Hours","type":"main","index":0}]]},"Generate Bridge SMS":{"main":[[{"node":"Send Bridge SMS","type":"main","index":0}]]},"Send Bridge SMS":{"main":[[{"node":"Tag SMS Sent","type":"main","index":0}]]},"Tag SMS Sent":{"main":[[{"node":"Wait 2 Hours","type":"main","index":0}]]},"Wait 2 Hours":{"main":[[{"node":"Get Contact (Pre-Handoff)","type":"main","index":0}]]},"Get Contact (Pre-Handoff)":{"main":[[{"node":"Exit Check Handoff","type":"main","index":0}]]},"Exit Check Handoff":{"main":[[{"node":"Early Exit Cleanup","type":"main","index":0}],[{"node":"Stage Transition - Remove Bridge","type":"main","index":0}]]},"Stage Transition - Remove Bridge":{"main":[[{"node":"Stage Transition - Add Indoctrination","type":"main","index":0}]]},"Stage Transition - Add Indoctrination":{"main":[[{"node":"Layer 3: Workflow Completed","type":"main","index":0}]]},"Layer 3: Workflow Completed":{"main":[[{"node":"Enroll in S2.0 (n8n)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}