workflows/E.2-E-calculator-bridge-exit.json
{
  "name": "E.2-E Calculator Bridge Exit",
  "nodes": [
    {
      "id": "dd2b441c-7437-4fb7-8267-583915d0c6e0",
      "name": "Webhook: E.2-E Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "bada8132-fcc1-42a3-81fc-ccbf3e0bb9c7",
      "parameters": {
        "httpMethod": "POST",
        "path": "e-2-e-e-2-e-calculator-bridge-exit",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "bdb56188-53a0-4f1e-8ead-386f917e910e",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "d9920845-1299-4177-804f-c65e31b15847",
      "name": "Remove from Workflow 74c90736",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/74c90736-6550-4504-881d-2849231aa63c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "c9c48b85-2d28-4c5a-8081-c2b7e5e75139",
      "name": "Remove Tags: stage:new-lead, stage:entry-bridge, active-w02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:new-lead\", \"stage:entry-bridge\", \"active-w02\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "72a0a4dd-5247-4eb7-8415-b47956ec1943",
      "name": "Note: E.2-E",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## E.2-E Calculator Bridge Exit\nTranslated from GHL workflow 569b19d1-e933-421a-9834-8b0cdba07e1d.\nGHL triggers: contact_tag:measurement-verification-booked; contact_tag:review-session-booked; customer_appointment:Booked Protection Assessment; customer_appointment:Booked Review Session; customer_appointment:Booked Measurement Verification; contact_tag:window-estimate-booked; contact_tag:hprc-booked; contact_ta\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Remove from Workflow 74c90736": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:new-lead, stage:entry-bridge, active-w02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: E.2-E Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Remove from Workflow 74c90736",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}