workflows/E.3-chatbot-qualifier.json
{
  "name": "E.3 Chatbot Qualifier",
  "nodes": [
    {
      "id": "fbb913fb-2513-4754-8f65-ef38d92cb8d0",
      "name": "Webhook: E.3 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "e4b674b1-aa47-436a-8bf8-8c52f2718e65",
      "parameters": {
        "httpMethod": "POST",
        "path": "e-3-e-3-chatbot-qualifier",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "f5a4e606-84a0-4644-8266-e782952f2008",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "5c644801-94fc-4eae-8d8a-2781de42a553",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: E.3 Entry').first().json.body.trigger_id||$('Webhook: E.3 Entry').first().json.body.triggerId||'') === \"7f09a328-74ec-4538-8e8a-56ef1c2de020\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fc6dd380-08f4-42cb-8bbd-912d7ae7b937",
      "name": "Contact Found? Find Contact by Contact ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d2e9eadc-7d25-4c16-80c3-2d2b1f710e7b",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "75abcfd4-f456-4a1d-8612-d096207cfbae",
      "name": "Check if workflow active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "71cf0cce-051d-4c8a-8908-339c2d858cd1",
              "leftValue": "={{ (![\"active-e.3\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5e6653cb-296e-4094-8a59-275a2e4fb82a",
      "name": "Add Tags: stage:entry-bridge, active-e.3, agentic-active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-e.3\", \"agentic-active\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "89733edb-c107-4052-8006-f093eb816555",
      "name": "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:new-lead\", \"stage:active-nurture-broadcast\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:dnc\", \"stage:education\", \"stage:indoctrination\", \"stage:long-term-nurture\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:vendor-comparison\", \"stage:hot-call\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6bafc1d6-9cdf-4391-8c4d-01b619e4c59b",
      "name": "Update Active Marketing Workflow ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"VFSNtEqSUh5yX7RyktBj\", \"value\": \"2d404941-fc8b-46c7-a310-2acd176eb2f9\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "364ac6b8-b35a-4432-8d6b-516f5e76c804",
      "name": "GATE: Customer / DQ / Stop Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "0a73c4f2-441e-41ac-8fa5-b590f11a83b3",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"type\")||{}).value) == \"customer\" || [\"deal-won\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"status\")||{}).value) == \"won\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"type\")||{}).value) == \"customer\" || [\"deal-won\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"dq-mobile-home\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"dq-renter\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"dq-investment\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"dq-lanai-only\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"stop-bot\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"wrong-number\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"nurture-stop\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || parseFloat((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"YWhoVixgPtvEDzSXcMpJ\")||{}).value)||'0') > 1) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3b1ed28b-89be-464b-8298-81e5b70328c5",
      "name": "Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: \"Contact type: {{contact.type}} Tags: check contact record. This lead was blocked from the buyer journey bridge.\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "40cba462-0165-4085-887c-a7126c1a6c0a",
      "name": "Remove Tags: stage:entry-bridge, active-e.3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-e.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "30dacb7b-589c-4958-8547-d139b8c711fb",
      "name": "[STUB] Remove from Marketing Workflows",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        180
      ],
      "parameters": {},
      "notes": "GHL bulk/all remove_from_workflow (43 targets). No single n8n equiv; retarget to orchestrator."
    },
    {
      "id": "7123b263-e523-4af8-8bb1-b17e6c5247a7",
      "name": "Remove from Workflow 2d404941",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "e50a3016-3fdd-434e-8d54-aef560c1cfc8",
      "name": "Check if Already Booked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "76dc45b8-c417-4b65-88c3-db48a10af4a5",
              "leftValue": "={{ ([\"review-session-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:measurement-verification\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"measurement-verification-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"window-estimate-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:window-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:review-session\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"confirmation-call-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-booked-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"booked-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-completed-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-booked-call\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Conf Call\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Estimate\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Measurement Verification\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "954a5063-8f25-43c0-8a5a-3c2febdb3cf6",
      "name": "Remove Tags: stage:entry-bridge, active-e.3 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-e.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "60518127-bf7d-42f8-8591-23d91258e3f8",
      "name": "Assign User: Assign to Randy Reece",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ assignedTo: \"9YNXGEOajzmH9brXcLsy\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6eea9faa-cac4-46bf-8da2-9b8019e8b94e",
      "name": "Assign User: Assign to Mark from Reece",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ assignedTo: \"SyXxtHKpsFBOX15cEa9o\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f9c70a05-20d6-4fc4-81f9-ac62820a99ab",
      "name": "Check for Human Request / Frustration",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "32366be2-62e7-4bf8-8fa5-5a26ea419da1",
              "leftValue": "={{ ([\"human-requested\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"frustrated-fast-track\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "1e96ffd5-f491-48fa-8002-116596906b89",
      "name": "[STUB] Alert: Lead Requested Human Contact",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        360
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'internal_notification'. Intended: Alert: Lead Requested Human Contact. Implement before go-live."
    },
    {
      "id": "e8173b75-cc0d-4cfe-8432-bfaf56e8574c",
      "name": "Remove Tags: stage:entry-bridge, active-e.3 #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-e.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d05d2bfc-f4a6-4131-8fc4-f15bb8505e03",
      "name": "Add Tags: stage:indoctrination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:indoctrination\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8d128ae6-21a9-4acd-853c-a6ed1450949e",
      "name": "Layer 3: Workflow Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"2d404941-fc8b-46c7-a310-2acd176eb2f9\", \"workflowName\": \"W0.3 Chatbot Intent Qualifier\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4077a14c-681e-4e68-87f3-e2bc0e3d00cd",
      "name": "Enroll in Workflow ea3c3aed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/ea3c3aed-77a4-470d-bc3c-1b1765bfff3b",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e17467ee-1b1d-4e1c-8276-01dc867fdee7",
      "name": "Check if Real Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1a0045af-4f1f-4ef0-8cda-a009ae25d152",
              "leftValue": "={{ (false && false && false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6057b63d-4ccc-491e-856d-666d40071ac7",
      "name": "Check Current Stage in P1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "60a0c1cf-420a-43d9-87d6-3aca087683cb",
              "leftValue": "={{ (false || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) == \"P1 Stage 0\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) == \"P1 Stage 1\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "0e717f3a-547e-448d-870e-d06d951bfd2e",
      "name": "Find Opp: Update Opportunity 2. High-Intent Qualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "dd1d69e3-0e3f-447a-8b35-3fef8fdf49e2",
      "name": "Opp Found? Update Opportunity 2. High-Intent Q",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "05f9919c-9c05-4840-85f9-48d850c95e40",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 2. High-Intent Qualified').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f1702fb0-ad1b-4f9e-8f8a-36efc606b4da",
      "name": "Update Opp Stage: Update Opportunity 2. High-Intent Qualif",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 2. High-Intent Qualified').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"0afdc1bc-2859-4696-ab13-07f8c59e457e\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7a5f3432-12da-4cb0-8c09-92a65586e2b7",
      "name": "Create Opp: Update Opportunity 2. High-Intent Qualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"0afdc1bc-2859-4696-ab13-07f8c59e457e\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"E.3 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6809d227-2e6a-4531-8a35-fd9f5140acb0",
      "name": "Opp Ready: Update Opportunity 2. High-Intent Qualif",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        540
      ],
      "parameters": {}
    },
    {
      "id": "6f026f66-00c7-4465-8291-adfb36b1a756",
      "name": "Check for Deferred Timing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "6c7a99c3-939b-4feb-8393-85bf5fbe2e59",
              "leftValue": "={{ ([\"follow-up-1month\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"follow-up-2months\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"follow-up-after-holidays\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"follow-up-seasonal\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ab90cd1e-d03b-48a0-803a-f0ac488e4d69",
      "name": "Remove Tags: stage:entry-bridge, active-w03",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d1ae82c0-6433-40f3-8e3b-9c0b1a55ac30",
      "name": "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:new-lead\", \"stage:active-nurture-broadcast\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:dnc\", \"stage:education\", \"stage:indoctrination\", \"stage:long-term-nurture\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:vendor-comparison\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e16e2c0e-9bf9-422e-8439-c7f0cb0c92f5",
      "name": "Add Tags: stage:long-term-nurture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:long-term-nurture\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8e490ef1-b166-4865-8be4-1ce56f1fed81",
      "name": "Enroll in Workflow 750f1b7f",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/750f1b7f-e688-47fa-ba52-d0ca6d7032ab",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "94b76380-0440-4cbe-885b-c043ce4041a8",
      "name": "Check if Estimate Calculator Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "e35abec5-43bb-4106-85f2-28ea8090457c",
              "leftValue": "={{ (false || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2f6d7c50-ce33-48bb-8bb8-447307637aff",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1d5f3a8f-85cc-45c4-8f67-ba3f14d8dacf",
      "name": "Wait 2 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        720
      ],
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      }
    },
    {
      "id": "a37afcad-6ee3-4957-8ce3-b93c6c853115",
      "name": "Check if Email Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "952f2bec-e3fa-4fad-8fb9-4d314fc5564d",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "356de65b-6798-434f-8e38-1051bbeedb65",
      "name": "Add Tags: agentic-active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"agentic-active\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b7c4ba96-db61-4e24-852b-a94bc275cde7",
      "name": "Wait 43200 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        900
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "8cca1487-e247-42f3-865b-1856e8eab6e3",
      "name": "Send SMS: (x)Send SMS #1: Chat Acknowledgment + Value Tease",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hey {{contact.first_name}}, this is {{custom_values.rep_name}} from Reece. I saw you were chatting with us earlier. I put together something useful for you based on what you shared, mind if I send it to your email? Just reply with your email address and I'll get it over to you.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3255e07c-c866-4914-8ba1-6ece077de8e3",
      "name": "Wait 20 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        900
      ],
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      }
    },
    {
      "id": "7462731b-6a90-46ec-8e5a-db28da14fd7e",
      "name": "Email Collected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "34f97b80-aa4c-415f-8804-cf76396fbc42",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cdabbb8f-d0d0-4776-83b3-801a9b274f07",
      "name": "Add Tags: send-guide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"send-guide\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "87a219a1-acca-4eb5-8e9f-f025288367b2",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "parameters": {}
    },
    {
      "id": "35380673-42d0-4e8b-8f9a-1e639fa30fcb",
      "name": "Wait 43200 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        900
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "88a3e6ad-ae99-49f3-83aa-188426a81a8c",
      "name": "Send SMS: (x)Send SMS #2: Standalone Relevance Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"{{contact.first_name}}, one thing I wanted to mention, Florida updated their building code requirements again recently. A lot of homeowners who thought they were compliant found out the hard way during inspections. Might be worth a 5-minute check on your place.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3b60161e-ef62-42ce-8327-2659e69a08dd",
      "name": "Wait 24 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        1080
      ],
      "parameters": {
        "amount": 24,
        "unit": "minutes"
      }
    },
    {
      "id": "c0e1216f-23e4-4f20-813c-39b2d90be85a",
      "name": "Wait 43200 minutes #3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        1080
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "52a1777f-54bf-4840-888b-b613a874222c",
      "name": "Send SMS: Send SMS #3: Soft Close + Booking Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Last message from me on this {{contact.first_name}}. If you ever want a quick professional assessment of your windows, free, no pressure, just reply \\\"check\\\" or grab a time here: {{trigger_link.rNS8dHTklxYQaakVyBHo}}\\n\\nEither way, your info is saved if you need us later.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "07f43a72-efcf-4d0c-8b1a-1f8460c8e30f",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6058cdaa-59be-4104-86b5-6f9b0e4db14d",
      "name": "Add Tags: stage:indoctrination #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:indoctrination\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "25474bb4-ffee-4ddd-88aa-d6d2c173cd6a",
      "name": "Layer 3: Workflow Completed #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"2d404941-fc8b-46c7-a310-2acd176eb2f9\", \"workflowName\": \"W0.3 Chatbot Intent Qualifier\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1c658944-c820-4781-86e7-3933920f8f49",
      "name": "Enroll in Workflow ea3c3aed #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/ea3c3aed-77a4-470d-bc3c-1b1765bfff3b",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9ac57eb6-c4c2-4b96-8f65-8ac1f02499b5",
      "name": "Remove from Workflow 2d404941 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "b09a9060-c58b-4e27-869e-34334f5df77e",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "84f15133-b90d-423b-8b7a-c0fb83115358",
      "name": "Remove from Workflow 2d404941 #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "c4be0d8b-80e6-4816-8d08-d0e8b4ea3e06",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2c7e5f99-ff15-4c35-8ec9-d040d56809e2",
      "name": "Remove from Workflow 2d404941 #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "1d627a13-03fd-4deb-8198-e3310cfb02fb",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "237a21ba-dc2a-4aa7-88cb-3299c29b5857",
      "name": "Wait 43200 minutes #4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        1260
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "40f13e18-9784-483c-801d-114d7f650b56",
      "name": "Send Email: Send Email #1: Chat Follow-Up + Pre-Frame",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"What we didn't get to cover in our chat...\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    p {\\n      margin: 0;\\n      padding: 0;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding: 16px !important;\\n      }\\n\\n      .hide-sm {\\n        display: none !important;\\n      }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0; background-color:#f9f9f9;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    The one thing most South Florida homeowners don&#8217;t check until it&#8217;s too\\n    late.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\" style=\\\"background-color:#f9f9f9;\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:24px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px; background-color:#ffffff;\\\">\\n\\n          <!-- Brand Bar -->\\n          <tr>\\n            <td align=\\\"center\\\"\\n              style=\\\"background-color:#122739; color:#CFE0EA; padding:8px 16px; font:12px/1.4 Arial, sans-serif; letter-spacing:.3px; text-transform:uppercase;\\\">\\n              Reece Windows &amp; Doors\\n            </td>\\n          </tr>\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:32px 24px 0 24px; background-color:#ffffff; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Hardcoded Greeting -->\\n              <p style=\\\"margin:0 0 16px;\\\">Hi {{contact.first_name}},</p>\\n\\n              <!-- GPT Body Content (BODY ONLY \\u2014 NO GREETING / NO SIGNATURE) -->\\n              <div style=\\\"margin:0 0 16px; white-space:normal;\\\">\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Thanks for chatting with us earlier. I know those conversations can feel\\n                  rushed, so I wanted to follow up with something that didn&#8217;t come up.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">There&#8217;s one detail about your home&#8217;s hurricane protection that\\n                  determines everything &mdash; whether your insurance claim gets paid, whether your home passes\\n                  inspection, and whether your family is actually safe when it matters.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Most homeowners in {{contact.city}} assume they&#8217;re covered. The data\\n                  says otherwise.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Over the next couple of days, I&#8217;m going to share exactly what that\\n                  detail is, why it matters more than the windows themselves, and what you can do about it &mdash; even\\n                  if you&#8217;re not planning to make any changes right now.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Talk soon,</p>\\n\\n              </div>\\n\\n              <!-- Hardcoded Signature -->\\n              <p style=\\\"margin:0 0 4px; font-weight:600;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0 0 20px; font-weight:600;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\"\\n              style=\\\"padding:14px 16px; background:#FFFFFF; font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif; color:#666666;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n          \\n          </table>\\n          \\n          <!--[if mso]>\\n                      </td>\\n                    </tr>\\n                  </table>\\n                  <![endif]-->\\n          \\n          </td>\\n          </tr>\\n          </table>\\n          </body>\\n          \\n          </html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d65ac1c0-5db4-4a26-8f5e-9a03810f85cc",
      "name": "Wait 1 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        1260
      ],
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      }
    },
    {
      "id": "f45ca85f-47c1-4465-8007-99f88fe24a0b",
      "name": "Wait 43200 minutes #5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        1440
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "4dee090f-2994-414b-827c-9027b7da3b6d",
      "name": "Send SMS: Send SMS #1: Standalone Emotional Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hey {{contact.first_name}}, quick question, do you know what rating your windows have? It's the #1 thing insurers check after a storm, and most homeowners have no idea.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e6c97e42-89de-4a3c-8ea9-f629409c7cf0",
      "name": "Wait 20 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1440
      ],
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      }
    },
    {
      "id": "90934893-4727-41bf-8367-37b93303d3ac",
      "name": "Wait 43200 minutes #6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        840,
        1440
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "4891a69c-0fcd-4326-8daa-9e462563af59",
      "name": "Send Email: Send Email #2: Belief Shift - The Hidden Vulnerabi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"The part your insurer checks first (it's not what you think)\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    p {\\n      margin: 0;\\n      padding: 0;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding: 16px !important;\\n      }\\n\\n      .hide-sm {\\n        display: none !important;\\n      }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0; background-color:#f9f9f9;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    A homeowner in Tampa found out the hard way last hurricane\\n    season.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\" style=\\\"background-color:#f9f9f9;\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:24px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px; background-color:#ffffff;\\\">\\n\\n          <!-- Brand Bar -->\\n          <tr>\\n            <td align=\\\"center\\\"\\n              style=\\\"background-color:#122739; color:#CFE0EA; padding:8px 16px; font:12px/1.4 Arial, sans-serif; letter-spacing:.3px; text-transform:uppercase;\\\">\\n              Reece Windows &amp; Doors\\n            </td>\\n          </tr>\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:32px 24px 0 24px; background-color:#ffffff; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Hardcoded Greeting -->\\n              <p style=\\\"margin:0 0 16px;\\\">Hi {{contact.first_name}},</p>\\n\\n              <!-- GPT Body Content (BODY ONLY \\u2014 NO GREETING / NO SIGNATURE) -->\\n              <div style=\\\"margin:0 0 16px; white-space:normal;\\\">\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Last hurricane season, a homeowner in Tampa filed a $45,000 wind\\n                  damage claim. Impact windows installed. Shutters on every opening. They did everything right &mdash;\\n                  or so they thought.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">The claim was denied.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">The reason? Their windows weren&#8217;t rated for the wind zone they\\n                  actually lived in. The previous contractor installed windows that met code for a different zone\\n                  &mdash; one with lower wind speed requirements. On paper, they had impact windows. In reality, they\\n                  had a gap that voided their coverage.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">This isn&#8217;t rare. It&#8217;s more common than most homeowners in South\\n                  Florida realize.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">The distinction that matters isn&#8217;t whether you have impact windows, it&#8217;s whether your windows carry the correct certification for YOUR specific wind zone, YOUR building code jurisdiction, and YOUR insurance carrier&#8217;s requirements.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Tomorrow, I&#8217;ll share exactly how to verify this yourself in about 5\\n                  minutes &mdash; no appointment needed, no sales pitch.</p>\\n\\n                <p style=\\\"margin:0 0 16px;\\\">Talk soon,</p>\\n\\n              </div>\\n\\n              <!-- Hardcoded Signature -->\\n              <p style=\\\"margin:0 0 4px; font-weight:600;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0 0 20px; font-weight:600;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\"\\n              style=\\\"padding:14px 16px; background:#FFFFFF; font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif; color:#666666;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n          \\n          </table>\\n          \\n          <!--[if mso]>\\n                      </td>\\n                    </tr>\\n                  </table>\\n                  <![endif]-->\\n          \\n          </td>\\n          </tr>\\n          </table>\\n          </body>\\n          \\n          </html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "048b6364-40af-415b-8d30-d06f1b34486f",
      "name": "Wait 4 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        1440
      ],
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      }
    },
    {
      "id": "ca4ab82a-84f0-41cb-8d24-f958362cc6ba",
      "name": "Wait 43200 minutes #7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        1440
      ],
      "parameters": {
        "amount": 43200,
        "unit": "minutes"
      }
    },
    {
      "id": "328fb724-243f-4b98-895f-c589f9a31379",
      "name": "Send SMS: Send SMS #2: Urgency Seed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Heads up {{contact.first_name}}, Florida updated their building code requirements again. Homes that were compliant last year might not be anymore. It's a quick thing to check.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7689bc0b-d1a3-43ad-8ad5-d78f85816a26",
      "name": "Wait 20 minutes #3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        1620
      ],
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      }
    },
    {
      "id": "9eae5309-a7b6-476d-82ba-e23993e180c7",
      "name": "Check if Already Booked #2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        1620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "76dc45b8-c417-4b65-88c3-db48a10af4a5",
              "leftValue": "={{ ([\"review-session-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:measurement-verification\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"measurement-verification-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"window-estimate-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:window-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"appt:review-session\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"confirmation-call-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-booked-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"booked-estimate\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-completed-booked\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"chatbot-booked-call\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Conf Call\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Estimate\" || (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"jHFRKGGsYJJFRbWwthkG\")||{}).value) == \"Booked - Measurement Verification\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e33b2b43-7fbc-416e-8273-655e968442c5",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6268b830-b0a1-4143-86cc-5e1378575452",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3dae51ef-6305-42f4-877e-25cfcfd486f0",
      "name": "Add Tags: stage:indoctrination #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:indoctrination\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3acb99c3-f85b-400b-8ea9-61c4ee56568e",
      "name": "Layer 3: Workflow Completed #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"2d404941-fc8b-46c7-a310-2acd176eb2f9\", \"workflowName\": \"W0.3 Chatbot Intent Qualifier\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "5ec087f2-25fc-4832-83a7-1551bb3ea11d",
      "name": "Enroll in Workflow ea3c3aed #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/ea3c3aed-77a4-470d-bc3c-1b1765bfff3b",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f4a2006e-1ca7-476a-8a1b-96d09cab625c",
      "name": "Remove from Workflow 2d404941 #5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "4efa3de9-f56c-411e-814d-c7fcdd6233b4",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "5cc36623-9637-42b9-87d6-26b607764383",
      "name": "Remove from Workflow 2d404941 #6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "a0133fc2-4614-4170-85d5-00deaab59ff6",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9cf3ad00-3875-4d53-87a7-b96df1bf70c8",
      "name": "Remove from Workflow 2d404941 #7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "0ae2860b-044a-48aa-8ff6-b2c8c3838862",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2f643b8c-a454-4ef5-8e4b-d64f72c9866d",
      "name": "Remove from Workflow 2d404941 #8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/2d404941-fc8b-46c7-a310-2acd176eb2f9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "335302a1-ffda-4b90-8825-9aac5e4aa10b",
      "name": "Remove Tags: stage:entry-bridge, active-w03 #12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-w03\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e008d035-5719-4fbd-8ea7-4b69cb0fc19f",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1800
      ],
      "parameters": {}
    },
    {
      "id": "4cf761a3-3ec1-4d8c-89c7-793c57546a52",
      "name": "Remove Tags: stage:entry-bridge, active-e.3 #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:entry-bridge\", \"active-e.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e361a0b9-cd49-4309-8d3c-d7f35d174012",
      "name": "Find Opp: Find opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "84d184ba-8dbc-45e8-8a5c-4a85c01cbfa7",
      "name": "Opp Found? Find opportunity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1980
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "df5e126c-3022-483a-88ef-e0b40363c2b9",
              "leftValue": "={{ (($('Find Opp: Find opportunity').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "83809d9e-8b13-4aca-8e92-6284cc00f9cc",
      "name": "Find Opp: Update Opportunity to Abandon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "77ad1226-d790-404e-8467-5931e3a40c17",
      "name": "Opp Found? Update Opportunity to Abandon",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1980
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "05a63871-bc58-4647-88cd-20bf89623455",
              "leftValue": "={{ (($('Find Opp: Update Opportunity to Abandon').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "64bdf3eb-9026-4512-8135-bcaa3ae133a4",
      "name": "Update Opp Stage: Update Opportunity to Abandon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity to Abandon').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a183d658-60a4-4440-8f3f-b464ba73f099",
      "name": "Create Opp: Update Opportunity to Abandon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"E.3 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "440c248c-7b06-4234-85c0-2cf466bc1a71",
      "name": "Opp Ready: Update Opportunity to Abandon",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1980
      ],
      "parameters": {}
    },
    {
      "id": "4b3b59f1-63f2-4916-8487-b6e1d47f505f",
      "name": "Wait 5 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        2160
      ],
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      }
    },
    {
      "id": "77f78600-c5f9-4071-8528-e35a74125169",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        2160
      ],
      "parameters": {}
    },
    {
      "id": "baf12597-bfcb-4b11-84b2-b0a386ccf095",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        2160
      ],
      "parameters": {}
    },
    {
      "id": "f0f211ad-0a6b-4099-8fcc-7715c2bf19e4",
      "name": "Note: E.3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## E.3 Chatbot Qualifier\nTranslated from GHL workflow 2d404941-fc8b-46c7-a310-2acd176eb2f9.\nGHL triggers: inbound_webhook:Inbound Agentic Trigger\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 15 | Stubs: 2 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Find Opp: Update Opportunity 2. High-Intent Qualified": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 2. High-Intent Q",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 2. High-Intent Q": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 2. High-Intent Qualif",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 2. High-Intent Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 2. High-Intent Qualif": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 2. High-Intent Qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 2. High-Intent Qualified": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 2. High-Intent Qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Find opportunity": {
      "main": [
        [
          {
            "node": "Opp Found? Find opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity to Abandon": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity to Abandon": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity to Abandon": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity to Abandon": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "Contact Found? Find Contact by Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find Contact by Contact ID": {
      "main": [
        [
          {
            "node": "Check if workflow active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if workflow active": {
      "main": [
        [
          {
            "node": "Add Tags: stage:entry-bridge, active-e.3, agentic-active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:entry-bridge, active-e.3, agentic-active": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b": {
      "main": [
        [
          {
            "node": "Update Active Marketing Workflow ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Marketing Workflow ID": {
      "main": [
        [
          {
            "node": "GATE: Customer / DQ / Stop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE: Customer / DQ / Stop Check": {
      "main": [
        [
          {
            "node": "Add Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Already Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Note": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-e.3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-e.3": {
      "main": [
        [
          {
            "node": "[STUB] Remove from Marketing Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Remove from Marketing Workflows": {
      "main": [
        [
          {
            "node": "Remove from Workflow 2d404941",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Booked": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-e.3 #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign User: Assign to Randy Reece",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign User: Assign to Randy Reece": {
      "main": [
        [
          {
            "node": "Assign User: Assign to Mark from Reece",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign User: Assign to Mark from Reece": {
      "main": [
        [
          {
            "node": "Check for Human Request / Frustration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Human Request / Frustration": {
      "main": [
        [
          {
            "node": "[STUB] Alert: Lead Requested Human Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Real Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Alert: Lead Requested Human Contact": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-e.3 #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-e.3 #3": {
      "main": [
        [
          {
            "node": "Add Tags: stage:indoctrination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:indoctrination": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Completed": {
      "main": [
        [
          {
            "node": "Enroll in Workflow ea3c3aed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Real Contact": {
      "main": [
        [
          {
            "node": "Check Current Stage in P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-e.3 #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Stage in P1": {
      "main": [
        [
          {
            "node": "Find Opp: Update Opportunity 2. High-Intent Qualified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Update Opportunity 2. High-Intent Qualif": {
      "main": [
        [
          {
            "node": "Check for Deferred Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Deferred Timing": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Estimate Calculator Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-w03": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:new-lead, stage:active-nurture-broadcast, stage:b #2": {
      "main": [
        [
          {
            "node": "Add Tags: stage:long-term-nurture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:long-term-nurture": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 750f1b7f",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Estimate Calculator Lead": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes": {
      "main": [
        [
          {
            "node": "Check if Email Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Email Exists": {
      "main": [
        [
          {
            "node": "Add Tags: agentic-active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 43200 minutes #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: agentic-active": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes": {
      "main": [
        [
          {
            "node": "Send SMS: (x)Send SMS #1: Chat Acknowledgment + Value Tease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: (x)Send SMS #1: Chat Acknowledgment + Value Tease": {
      "main": [
        [
          {
            "node": "Wait 20 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 minutes": {
      "main": [
        [
          {
            "node": "Email Collected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Collected?": {
      "main": [
        [
          {
            "node": "Add Tags: send-guide",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 43200 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: send-guide": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #2": {
      "main": [
        [
          {
            "node": "Send SMS: (x)Send SMS #2: Standalone Relevance Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: (x)Send SMS #2: Standalone Relevance Hook": {
      "main": [
        [
          {
            "node": "Wait 24 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 minutes": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #3": {
      "main": [
        [
          {
            "node": "Send SMS: Send SMS #3: Soft Close + Booking Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: Send SMS #3: Soft Close + Booking Link": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-w03 #3": {
      "main": [
        [
          {
            "node": "Add Tags: stage:indoctrination #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:indoctrination #2": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Completed #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Completed #2": {
      "main": [
        [
          {
            "node": "Enroll in Workflow ea3c3aed #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #2": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #3": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #4": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #4": {
      "main": [
        [
          {
            "node": "Send Email: Send Email #1: Chat Follow-Up + Pre-Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: Send Email #1: Chat Follow-Up + Pre-Frame": {
      "main": [
        [
          {
            "node": "Wait 1 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minutes": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #5": {
      "main": [
        [
          {
            "node": "Send SMS: Send SMS #1: Standalone Emotional Hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: Send SMS #1: Standalone Emotional Hook": {
      "main": [
        [
          {
            "node": "Wait 20 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 minutes #2": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #6": {
      "main": [
        [
          {
            "node": "Send Email: Send Email #2: Belief Shift - The Hidden Vulnerabi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: Send Email #2: Belief Shift - The Hidden Vulnerabi": {
      "main": [
        [
          {
            "node": "Wait 4 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 minutes": {
      "main": [
        [
          {
            "node": "Wait 43200 minutes #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 43200 minutes #7": {
      "main": [
        [
          {
            "node": "Send SMS: Send SMS #2: Urgency Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: Send SMS #2: Urgency Seed": {
      "main": [
        [
          {
            "node": "Wait 20 minutes #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 minutes #3": {
      "main": [
        [
          {
            "node": "Check if Already Booked #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Booked #2": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-w03 #8": {
      "main": [
        [
          {
            "node": "Add Tags: stage:indoctrination #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:indoctrination #3": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Completed #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Completed #3": {
      "main": [
        [
          {
            "node": "Enroll in Workflow ea3c3aed #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #5": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #6": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #7": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow 2d404941 #8": {
      "main": [
        [
          {
            "node": "Remove Tags: stage:entry-bridge, active-w03 #12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Check for Deferred Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: stage:entry-bridge, active-e.3 #4": {
      "main": [
        [
          {
            "node": "Find Opp: Find opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Find opportunity": {
      "main": [
        [
          {
            "node": "Find Opp: Update Opportunity to Abandon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 minutes": {
      "main": [
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Check if workflow active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: E.3 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}