workflows/L.2-loss-reason-recovery-router.json
{
  "name": "L.2 Loss Reason Recovery Router",
  "nodes": [
    {
      "id": "4f59f85b-81f7-45c9-80e8-fbd59fe1724c",
      "name": "Webhook: L.2 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "c91f0406-93ad-4566-871f-023d17e72a9f",
      "parameters": {
        "httpMethod": "POST",
        "path": "l-2-l-2-loss-reason-recovery-router",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "b240bcd4-c1bb-4a74-8f91-c9a9ac46875d",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "ca6c45da-430d-4acf-8a21-03cddec76311",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: L.2 Entry').first().json.body.trigger_id||$('Webhook: L.2 Entry').first().json.body.triggerId||'') === \"a4018fa3-a128-434a-9758-c76ff89006ad\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "0d88a305-b763-41f6-88e1-e693ca94ec9f",
      "name": "Contact Found? Find Contact by Contact ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d2e9eadc-7d25-4c16-80c3-2d2b1f710e7b",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2ee8c14f-4443-4b38-8907-3a91483b25aa",
      "name": "Step 1: Is this a recovery?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "6abe6c8b-50c1-4764-807f-561cbd7ce7e4",
              "leftValue": "={{ ([\"loss-needs-reason\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) || [\"dq-needs-type\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "56937487-485f-402e-879c-6551305b605c",
      "name": "Remove Tags: loss-needs-reason, dq-needs-type",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"loss-needs-reason\", \"dq-needs-type\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "299d6e68-a264-4b92-8cb5-15987f8801d3",
      "name": "Add Tags: reroute-loss",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"reroute-loss\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "717c961c-723e-4ca4-81b4-cc127e12bbe6",
      "name": "Remove from Workflow 543b8a1d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/543b8a1d-7271-44ce-800e-57b448c22e3c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "25c73dd0-47ea-4315-81c9-cf6b74631b51",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "parameters": {}
    },
    {
      "id": "d3daa10d-93e0-426c-820b-1b398da1ac5f",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        180
      ],
      "parameters": {}
    },
    {
      "id": "a3c2f8db-aa70-4a09-8afe-92bde01141d6",
      "name": "Note: L.2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## L.2 Loss Reason Recovery Router\nTranslated from GHL workflow 543b8a1d-7271-44ce-800e-57b448c22e3c.\nGHL triggers: inbound_webhook:Inbound Agentic Trigger; opportunity_changed:Loss Reason Changed; opportunity_changed:Disqualification Type\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "Contact Found? Find Contact by Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find Contact by Contact ID": {
      "main": [
        [
          {
            "node": "Step 1: Is this a recovery?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove from Workflow 543b8a1d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: Is this a recovery?": {
      "main": [
        [
          {
            "node": "Remove Tags: loss-needs-reason, dq-needs-type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: loss-needs-reason, dq-needs-type": {
      "main": [
        [
          {
            "node": "Add Tags: reroute-loss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Step 1: Is this a recovery?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: L.2 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}