workflows/L.6-p2-loss-classification.json
{
  "name": "L.6 P2 Loss Classification",
  "nodes": [
    {
      "id": "326a4551-d325-4b0f-8d48-cc402ece5a91",
      "name": "Webhook: L.6 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f33b7ed5-0310-441d-897d-02fa09dae324",
      "parameters": {
        "httpMethod": "POST",
        "path": "l-6-l-6-p2-loss-classification",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "1581cbc3-f5e0-4664-8d55-9cca885bc944",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "f1f8e223-49a7-4315-8592-44ed15eb7a18",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: L.6 Entry').first().json.body.trigger_id||$('Webhook: L.6 Entry').first().json.body.triggerId||'') === \"a4018fa3-a128-434a-9758-c76ff89006ad\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "08802705-8ff5-4481-87bc-5be8aef3f3b5",
      "name": "Contact Found? Find Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bb3c361e-7c0c-4fd7-8aca-0b62bd4a3352",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "1b6511f1-fb12-4856-86d0-79691b45ba0d",
      "name": "Find Opp: Find Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a2b3cf65-0c8c-40d6-8d2e-bc3af019b794",
      "name": "Opp Found? Find Opportunity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "58ff7459-2bfb-443e-864d-52f2959bf8c5",
              "leftValue": "={{ (($('Find Opp: Find Opportunity').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "87ca95c9-a6dc-4394-8a94-0ba72baa47d8",
      "name": "Hold or Loss?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "3af06a45-9d90-40c8-88ec-ca4fca89984a",
              "leftValue": "={{ (false && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"holdReason\")||{}).value) != \"-\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a2b40878-7958-46fa-8e26-41e4e75150f7",
      "name": "Check Hold Reason",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "417cf765-0f20-4fe8-8996-fd9cf9c03c3d",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"holdReason\")||{}).value) == \"No Rehash (7-day rep hold)\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9c870e25-b0cb-4410-8001-fb60b3e0a378",
      "name": "Find Opp: No Rehash (7-day rep hold)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "33ab992c-c624-4fa3-83a3-97dc5de660b6",
      "name": "Opp Found? No Rehash (7-day rep hold)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d7d8f95c-f9c9-4248-8be2-e5c83c656d4c",
              "leftValue": "={{ (($('Find Opp: No Rehash (7-day rep hold)').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6264166c-9a10-45f1-806e-c5f2ae7d028c",
      "name": "Update Opp Stage: No Rehash (7-day rep hold)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: No Rehash (7-day rep hold)').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4675fcc9-d32b-47c3-8ba1-4ffd8444ab1e",
      "name": "Create Opp: No Rehash (7-day rep hold)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4944dec1-1c54-4057-8cd5-b66b0a5e9dce",
      "name": "Opp Ready: No Rehash (7-day rep hold)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ],
      "parameters": {}
    },
    {
      "id": "6a183f44-febe-4165-8e4c-b56a87c66aba",
      "name": "Find Opp: Pending Spouse Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4c5ab326-8af0-4273-8e1a-fd86dd4438a5",
      "name": "Opp Found? Pending Spouse Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "6710dada-c961-4fff-891c-af8a18fa196b",
              "leftValue": "={{ (($('Find Opp: Pending Spouse Decision').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b20139a6-fb49-481e-860b-f2336d2e71d0",
      "name": "Update Opp Stage: Pending Spouse Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Pending Spouse Decision').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f85ef89e-d647-4b4e-8021-72edb963e325",
      "name": "Create Opp: Pending Spouse Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "571f3ae8-21f8-4d38-8193-da4af40a2dbd",
      "name": "Opp Ready: Pending Spouse Decision",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        360
      ],
      "parameters": {}
    },
    {
      "id": "4d43be81-8454-4f6d-8ec1-9b9c85852bfe",
      "name": "Find Opp: Seasonal / Weather Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "fb817fb5-67e5-4562-8409-46dce34efc76",
      "name": "Opp Found? Seasonal / Weather Hold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "9b2d30bf-14da-4a2c-8b46-1b203d692f7d",
              "leftValue": "={{ (($('Find Opp: Seasonal / Weather Hold').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e8810aed-7ad7-4c49-86d4-9dc62265f717",
      "name": "Update Opp Stage: Seasonal / Weather Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Seasonal / Weather Hold').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "32268db1-ffd4-4a0b-8aed-9f03f303fb5e",
      "name": "Create Opp: Seasonal / Weather Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "85112a57-a945-4084-8761-38761055d585",
      "name": "Opp Ready: Seasonal / Weather Hold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        360
      ],
      "parameters": {}
    },
    {
      "id": "a1fb55df-116b-4016-822f-ddba602cc73f",
      "name": "Check Loss Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a7ee709a-f8ec-4740-82da-c0f96d82b094",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"lostType\")||{}).value) == \"Soft\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6deb68d8-f1e2-42cb-8b62-e63ff84c2d4a",
      "name": "Find Opp: Soft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2d6a7ea6-dedb-49de-896b-3c66a79bc4ec",
      "name": "Opp Found? Soft",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "392b1b8a-5863-4b14-8a6f-e9ea987a5a33",
              "leftValue": "={{ (($('Find Opp: Soft').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4da110c9-cf4d-43db-891e-101e77a2dee9",
      "name": "Update Opp Stage: Soft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Soft').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a36ef54c-2244-43e9-86cf-0da4bcb89979",
      "name": "Create Opp: Soft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f6c90651-11b8-445f-8da4-ac6c94cd2b4f",
      "name": "Opp Ready: Soft",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        540
      ],
      "parameters": {}
    },
    {
      "id": "b0c4a3c0-4a36-4ebe-8e89-ea99ad9270ed",
      "name": "Check for Disqualification Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "443fe466-41c7-45ce-8bed-4e1bba2c7b14",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dbec7b03-dd50-4f16-8ea6-daf41a588ea2",
      "name": "Check Disqualification Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "211578d2-4c23-494b-8cff-516d757c05f3",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"disqualificationType\")||{}).value) == \"Home Type Incompatible\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4ce69090-92b0-4dfe-8d8a-f40d964e57e6",
      "name": "Find Opp: Home Type Incompatible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "549597e1-2750-4577-8320-5f0ee2c9f1a1",
      "name": "Opp Found? Home Type Incompatible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "35ed609d-4868-4936-844c-567d3578899c",
              "leftValue": "={{ (($('Find Opp: Home Type Incompatible').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1a40ec7-87ff-4076-8ce6-3477f02c28e4",
      "name": "Update Opp Stage: Home Type Incompatible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Home Type Incompatible').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2491d503-42dd-4d51-8def-a6b6f3b1ef98",
      "name": "Create Opp: Home Type Incompatible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "33696b17-a7ea-46f8-8f02-31a71aec2cd7",
      "name": "Opp Ready: Home Type Incompatible",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        720
      ],
      "parameters": {}
    },
    {
      "id": "f2d8506a-381d-43a1-8307-b2ccd112b700",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        720
      ],
      "parameters": {}
    },
    {
      "id": "0ba98e80-4881-481f-84f6-75ac757d123e",
      "name": "Find Opp: HOA Restriction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1ddfc364-3ec2-4a1c-8d11-d2aeabd7cec2",
      "name": "Opp Found? HOA Restriction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "4a392052-bc92-46db-8b98-f6ac08f95882",
              "leftValue": "={{ (($('Find Opp: HOA Restriction').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5bbe8107-7018-4c8e-86f1-68a257acd210",
      "name": "Update Opp Stage: HOA Restriction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: HOA Restriction').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f517e59e-6c49-44b2-8100-a7db0852e78a",
      "name": "Create Opp: HOA Restriction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8980a8ba-2555-4b61-88fe-b0a5b6c5df8a",
      "name": "Opp Ready: HOA Restriction",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        900
      ],
      "parameters": {}
    },
    {
      "id": "0ed8134f-6f65-4427-8f51-111438a7fbcb",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        900
      ],
      "parameters": {}
    },
    {
      "id": "1eb4dc8e-e80c-4b93-8eb4-1a2c532a0aaa",
      "name": "Find Opp: Code Exclusion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9c588e95-7763-444b-88a2-1b9faa0c10ea",
      "name": "Opp Found? Code Exclusion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bf455d63-b2ef-4ee6-811e-1d1770293085",
              "leftValue": "={{ (($('Find Opp: Code Exclusion').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6565de49-f65f-4d98-8ead-f123833026d6",
      "name": "Update Opp Stage: Code Exclusion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Code Exclusion').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "56bc02de-ed44-4d38-8b0f-8362ceca6464",
      "name": "Create Opp: Code Exclusion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8b3f3bbf-842c-456c-8637-7478facd65b1",
      "name": "Opp Ready: Code Exclusion",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        900
      ],
      "parameters": {}
    },
    {
      "id": "3b7d3f21-67c0-4101-8b87-bffcdaac758b",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "4325e40a-a93a-4f2b-8478-96149bb1cd6e",
      "name": "Find Opp: Already Has Impact Windows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4e5cbae6-70a0-413f-8db3-95573f0cf47e",
      "name": "Opp Found? Already Has Impact Windows",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1080
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ca8911fb-7aa2-44a7-8ce6-7b262a7dda64",
              "leftValue": "={{ (($('Find Opp: Already Has Impact Windows').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3b879444-578e-4062-8f6c-3779b321bafb",
      "name": "Update Opp Stage: Already Has Impact Windows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Already Has Impact Windows').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "09d9ca64-fecc-4377-8644-2b424c6bb295",
      "name": "Create Opp: Already Has Impact Windows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4ae3227b-835a-43be-8838-3b0cdc82d02b",
      "name": "Opp Ready: Already Has Impact Windows",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "46a51c19-a8e2-457b-8301-c30cb362a07d",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "3af1f879-b327-4661-86c6-547b57698983",
      "name": "Find Opp: Other Structural Barrier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "85000064-2d10-44ef-8d5f-c1039108e823",
      "name": "Opp Found? Other Structural Barrier",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "4ea55bdd-9f0b-4006-84dd-7aad7b29b224",
              "leftValue": "={{ (($('Find Opp: Other Structural Barrier').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cfaf1a5e-2298-414b-8295-d95ecababb47",
      "name": "Update Opp Stage: Other Structural Barrier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Other Structural Barrier').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9aaf0b29-1921-4d6a-8747-dbd2efe53fe3",
      "name": "Create Opp: Other Structural Barrier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b5cb58a4-e627-4d0d-845d-8d0c92747772",
      "name": "Opp Ready: Other Structural Barrier",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "1ee94404-c810-42a0-88ad-a23545f09cc1",
      "name": "Check Loss Reason",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "95b1aff7-5267-4787-88fb-281da326ba00",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"lostReasonLabel\")||{}).value) == \"Deferred / Timing\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d091e5c4-80c7-4f56-8c58-1dbc14d4f38c",
      "name": "Find Opp: Update Opportunity 1. Deferred / Timing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cdc35843-51ca-43bb-86ee-80a809878502",
      "name": "Opp Found? Update Opportunity 1. Deferred / Ti",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7bd002bd-1323-428e-827a-65ae761b695f",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 1. Deferred / Timing').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d3b8f50a-816a-433f-8127-7551320ee636",
      "name": "Update Opp Stage: Update Opportunity 1. Deferred / Timing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 1. Deferred / Timing').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ed077787-bef7-4c86-89d0-bf94c65aea03",
      "name": "Create Opp: Update Opportunity 1. Deferred / Timing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9f0ec7b9-0a4d-4931-8c98-da98649f8b33",
      "name": "Opp Ready: Update Opportunity 1. Deferred / Timing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "f9808bd3-d824-49f1-8de5-327d773e4ac2",
      "name": "Find Opp: Update Opportunity 2. Not Interested (Now)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e6e0f1ad-222e-4ae4-8888-bd61104adfdc",
      "name": "Opp Found? Update Opportunity 2. Not Intereste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        1440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "9ff837a5-c2c9-4e9e-8b48-ec81893acdaf",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 2. Not Interested (Now)').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cf91c271-830c-4601-824c-2a054f34db81",
      "name": "Update Opp Stage: Update Opportunity 2. Not Interested (No",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 2. Not Interested (Now)').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"e0bde70a-f32f-4b6d-88b2-be0c89c46852\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ed393076-e3af-4d63-84fc-f104bb2d28f0",
      "name": "Create Opp: Update Opportunity 2. Not Interested (Now)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"e0bde70a-f32f-4b6d-88b2-be0c89c46852\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3c401758-e753-4c94-8bf8-9f652f62d3ec",
      "name": "Opp Ready: Update Opportunity 2. Not Interested (No",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "d101081e-8491-4748-80da-b6348ed29fc9",
      "name": "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "acb1ac0a-39c7-4820-8a93-ba6acb2bdd80",
      "name": "Opp Found? Update Opportunity 3. Bad Fit / Wro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b7cf9f85-e089-4123-81c6-80017542dd4a",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e1d704b7-d7a3-4076-8ffa-f0ed856a6808",
      "name": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a296a4d5-0387-4179-8ae2-a3ab2bad9282",
      "name": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2223d2fb-2c88-4514-8ce1-d1945964a9f8",
      "name": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1620
      ],
      "parameters": {}
    },
    {
      "id": "997fb893-0e07-4f66-8325-cddf8c1cb60a",
      "name": "Find Opp: Update Opportunity 4. Do Not Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "836c009f-85e9-4d7e-85dd-d9dfb1cab8ee",
      "name": "Opp Found? Update Opportunity 4. Do Not Contac",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        1620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "116974d7-e49e-4057-8771-70f4c50bcb36",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 4. Do Not Contact').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3e8e915a-1384-4e01-8a3b-b9fb682bcffd",
      "name": "Update Opp Stage: Update Opportunity 4. Do Not Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 4. Do Not Contact').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"5f332652-b8c1-4a67-ba30-dc3450a3e039\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "51031e97-a1f9-48ba-8c72-63d00242d29f",
      "name": "Create Opp: Update Opportunity 4. Do Not Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"5f332652-b8c1-4a67-ba30-dc3450a3e039\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1a453fb2-1aa9-435e-8381-2815d5abf362",
      "name": "Opp Ready: Update Opportunity 4. Do Not Contact",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1800
      ],
      "parameters": {}
    },
    {
      "id": "935f098f-18b7-4896-8a06-0746a0d47eff",
      "name": "Find Opp: Update Opportunity 5. Hard Disqualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "25553b61-38d5-4b2a-89bc-27be92c5dd60",
      "name": "Opp Found? Update Opportunity 5. Hard Disquali",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1800
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f17fe9d1-83b7-4307-87b5-d9fc83d577b1",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 5. Hard Disqualified').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6b202ec3-6ba8-4e64-8573-01d8675a5274",
      "name": "Update Opp Stage: Update Opportunity 5. Hard Disqualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 5. Hard Disqualified').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"6194a841-8f59-4164-adee-dc0bd99510dc\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6f712022-e160-4644-8194-c40cf2e5b29f",
      "name": "Create Opp: Update Opportunity 5. Hard Disqualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"6194a841-8f59-4164-adee-dc0bd99510dc\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1f97d1e4-4741-4d9e-8682-b80e6ac90100",
      "name": "Opp Ready: Update Opportunity 5. Hard Disqualified",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1800
      ],
      "parameters": {}
    },
    {
      "id": "69194de3-2cac-4fd6-8d55-79d50973624d",
      "name": "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d1378c66-e0b0-4deb-836b-011f9ba31766",
      "name": "Opp Found? Update Opportunity 3. Bad Fit / Wro #2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        1800
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b7cf9f85-e089-4123-81c6-80017542dd4a",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #2').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4d3197a2-4a7b-41d1-89ae-d2f344ceace3",
      "name": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #2').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0e462027-6e87-42f9-89d2-01827c61a5be",
      "name": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e0db47d9-76c5-49d9-807f-9c76ef3d0bd4",
      "name": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1980
      ],
      "parameters": {}
    },
    {
      "id": "d98c5e8e-76cb-4304-863e-cda610407f26",
      "name": "Find Opp: Update Opportunity 1. Deferred / Timing #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "caf8b50b-b58c-4e39-8bbe-f544f2e4d808",
      "name": "Opp Found? Update Opportunity 1. Deferred / Ti #2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1980
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7bd002bd-1323-428e-827a-65ae761b695f",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 1. Deferred / Timing #2').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2391238f-35c6-4082-8ab5-5747ba119aa9",
      "name": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 1. Deferred / Timing #2').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "14642b4f-13bb-44d7-88e4-2ce320b0b4b5",
      "name": "Create Opp: Update Opportunity 1. Deferred / Timing #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1980
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "afc67c59-e705-4b25-8eb8-2eecbd6e1f1d",
      "name": "Opp Ready: Update Opportunity 1. Deferred / Timing #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1980
      ],
      "parameters": {}
    },
    {
      "id": "701e6dd3-0089-4cb9-8c70-5191a2827c08",
      "name": "Find Opp: Update Opportunity 1. Deferred / Timing #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b8b695de-bb2d-4793-8070-a6ba92aad1f9",
      "name": "Opp Found? Update Opportunity 1. Deferred / Ti #3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        2160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7bd002bd-1323-428e-827a-65ae761b695f",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 1. Deferred / Timing #3').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "0a7ff646-f5d2-4775-838c-62481821c5a3",
      "name": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 1. Deferred / Timing #3').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f1d8afa9-39be-4770-896f-cf808f9cc313",
      "name": "Create Opp: Update Opportunity 1. Deferred / Timing #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e94cd382-95d3-4da3-88eb-17603c861866",
      "name": "Opp Ready: Update Opportunity 1. Deferred / Timing #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        2160
      ],
      "parameters": {}
    },
    {
      "id": "098b1e80-df83-485d-86e1-62ec4342460f",
      "name": "Find Opp: Update Opportunity 1. Deferred / Timing #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "97cfa835-279a-41f1-8c26-253e9cc58e4b",
      "name": "Opp Found? Update Opportunity 1. Deferred / Ti #4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        2160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7bd002bd-1323-428e-827a-65ae761b695f",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 1. Deferred / Timing #4').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d4373951-16cb-45c6-86a3-213f8f4f82b9",
      "name": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 1. Deferred / Timing #4').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3de2cc7a-bfde-4d14-8db8-a2794f2944dc",
      "name": "Create Opp: Update Opportunity 1. Deferred / Timing #4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"3b786609-dec8-411f-9318-8b63778aa4cb\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "118d65a5-6d14-4447-8ecd-8081c744a771",
      "name": "Opp Ready: Update Opportunity 1. Deferred / Timing #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        2340
      ],
      "parameters": {}
    },
    {
      "id": "826ce5b1-f62a-4aa2-87f3-0e5f841c89c8",
      "name": "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=1jIWe4Ad04oJtYE9UuXq",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1f38cf1c-9473-4b21-888d-d59bee9d9064",
      "name": "Opp Found? Update Opportunity 3. Bad Fit / Wro #3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        2340
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b7cf9f85-e089-4123-81c6-80017542dd4a",
              "leftValue": "={{ (($('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #3').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f465265a-0275-4c89-8c61-e3ce14a13af0",
      "name": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #3').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "733bb13d-adff-441d-85fa-c952025ba19c",
      "name": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2340
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"1jIWe4Ad04oJtYE9UuXq\", pipelineStageId: \"f9cd1a23-a6f9-452c-b129-c47d5a14a6bd\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3b678b3c-29e1-4b7f-8109-06077cf2c80b",
      "name": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        2340
      ],
      "parameters": {}
    },
    {
      "id": "a6cd5888-f635-4b57-8a7e-34b9e1b20909",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        2340
      ],
      "parameters": {}
    },
    {
      "id": "3c31bc0b-a143-4102-87a3-8c8003db7d50",
      "name": "Find Opp: Hard (Recoverable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a96b77f1-4ae1-44bb-854d-6b28b3414b20",
      "name": "Opp Found? Hard (Recoverable)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        2520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "4d072446-b118-4482-8b62-438f6ce6fec5",
              "leftValue": "={{ (($('Find Opp: Hard (Recoverable)').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9e261964-8e1f-4dd1-85fa-a3ed6c0342ae",
      "name": "Update Opp Stage: Hard (Recoverable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Hard (Recoverable)').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "5ce4eb2c-9adf-4558-8fe4-290a292df22b",
      "name": "Create Opp: Hard (Recoverable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b61ea475-12f6-4dc7-89ca-86b6762e9c7a",
      "name": "Opp Ready: Hard (Recoverable)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        2520
      ],
      "parameters": {}
    },
    {
      "id": "3be010b0-3d47-4fa5-8458-436d9b53eeaf",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        2520
      ],
      "parameters": {}
    },
    {
      "id": "d6537c45-32da-4881-87c3-b6ec6a19c9d6",
      "name": "Find Opp: Hard (Permanent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2520
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "bcc72a36-9b73-4c3d-8c26-ac70384ab528",
      "name": "Opp Found? Hard (Permanent)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        2520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dc9ea533-e703-4eb8-8663-2bf6a8d47b8c",
              "leftValue": "={{ (($('Find Opp: Hard (Permanent)').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a7e550b2-cc8c-431a-8f32-f94415429f34",
      "name": "Update Opp Stage: Hard (Permanent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2700
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Hard (Permanent)').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f29bf0c9-5952-49f6-8c3c-bcb2e8729204",
      "name": "Create Opp: Hard (Permanent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        2700
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "99ad7fd8-1952-4298-80ae-f27d35dc2b60",
      "name": "Opp Ready: Hard (Permanent)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "e4a50312-ce86-47ea-8c08-cc00d132b038",
      "name": "Go To #7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        2700
      ],
      "parameters": {}
    },
    {
      "id": "3c252eb7-84a9-426b-88f9-f52372d4fc8b",
      "name": "Find Opp: Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2700
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f63603db-a086-472e-8dca-3a5d2e106db6",
      "name": "Opp Found? Invalid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        2700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "452f7eee-1538-4853-8981-df88a7467637",
              "leftValue": "={{ (($('Find Opp: Invalid').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a497cea4-1abd-4d5b-8a0c-80f97c2b82bf",
      "name": "Update Opp Stage: Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        2700
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Invalid').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "32dbf1c2-703b-46f7-8196-65cc0208af00",
      "name": "Create Opp: Invalid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        2700
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"L.6 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ab59020c-5ec7-4302-89bd-c814055cb85c",
      "name": "Opp Ready: Invalid",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        2880
      ],
      "parameters": {}
    },
    {
      "id": "9075cab9-c033-4498-88d9-7259b7dc681c",
      "name": "Go To #8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        2880
      ],
      "parameters": {}
    },
    {
      "id": "454f95fb-4401-46a8-8d40-bf89afa28ccd",
      "name": "Remove from Workflow 04bf7710",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2880
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/04bf7710-c09b-48df-9796-d9d008c5c101",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "14e00704-5adc-4c90-8803-3604ae30f6b8",
      "name": "Go To #9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        2880
      ],
      "parameters": {}
    },
    {
      "id": "f31fadaa-ba2a-4219-8f70-662aa955e6b7",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        2880
      ],
      "parameters": {}
    },
    {
      "id": "9c8159ea-e68a-4a2c-8677-0cc5fe0dc128",
      "name": "Note: L.6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## L.6 P2 Loss Classification\nTranslated from GHL workflow 04bf7710-c09b-48df-9796-d9d008c5c101.\nGHL triggers: inbound_webhook:Inbound Agentic Trigger\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 6 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Find Opp: Find Opportunity": {
      "main": [
        [
          {
            "node": "Opp Found? Find Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: No Rehash (7-day rep hold)": {
      "main": [
        [
          {
            "node": "Opp Found? No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? No Rehash (7-day rep hold)": {
      "main": [
        [
          {
            "node": "Update Opp Stage: No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: No Rehash (7-day rep hold)": {
      "main": [
        [
          {
            "node": "Opp Ready: No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: No Rehash (7-day rep hold)": {
      "main": [
        [
          {
            "node": "Opp Ready: No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Pending Spouse Decision": {
      "main": [
        [
          {
            "node": "Opp Found? Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Pending Spouse Decision": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Pending Spouse Decision": {
      "main": [
        [
          {
            "node": "Opp Ready: Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Pending Spouse Decision": {
      "main": [
        [
          {
            "node": "Opp Ready: Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Seasonal / Weather Hold": {
      "main": [
        [
          {
            "node": "Opp Found? Seasonal / Weather Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Seasonal / Weather Hold": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Seasonal / Weather Hold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Seasonal / Weather Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Seasonal / Weather Hold": {
      "main": [
        [
          {
            "node": "Opp Ready: Seasonal / Weather Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Seasonal / Weather Hold": {
      "main": [
        [
          {
            "node": "Opp Ready: Seasonal / Weather Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Soft": {
      "main": [
        [
          {
            "node": "Opp Found? Soft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Soft": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Soft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Soft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Soft": {
      "main": [
        [
          {
            "node": "Opp Ready: Soft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Soft": {
      "main": [
        [
          {
            "node": "Opp Ready: Soft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Home Type Incompatible": {
      "main": [
        [
          {
            "node": "Opp Found? Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Home Type Incompatible": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Home Type Incompatible": {
      "main": [
        [
          {
            "node": "Opp Ready: Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Home Type Incompatible": {
      "main": [
        [
          {
            "node": "Opp Ready: Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: HOA Restriction": {
      "main": [
        [
          {
            "node": "Opp Found? HOA Restriction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? HOA Restriction": {
      "main": [
        [
          {
            "node": "Update Opp Stage: HOA Restriction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: HOA Restriction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: HOA Restriction": {
      "main": [
        [
          {
            "node": "Opp Ready: HOA Restriction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: HOA Restriction": {
      "main": [
        [
          {
            "node": "Opp Ready: HOA Restriction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Code Exclusion": {
      "main": [
        [
          {
            "node": "Opp Found? Code Exclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Code Exclusion": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Code Exclusion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Code Exclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Code Exclusion": {
      "main": [
        [
          {
            "node": "Opp Ready: Code Exclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Code Exclusion": {
      "main": [
        [
          {
            "node": "Opp Ready: Code Exclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Already Has Impact Windows": {
      "main": [
        [
          {
            "node": "Opp Found? Already Has Impact Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Already Has Impact Windows": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Already Has Impact Windows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Already Has Impact Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Already Has Impact Windows": {
      "main": [
        [
          {
            "node": "Opp Ready: Already Has Impact Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Already Has Impact Windows": {
      "main": [
        [
          {
            "node": "Opp Ready: Already Has Impact Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Other Structural Barrier": {
      "main": [
        [
          {
            "node": "Opp Found? Other Structural Barrier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Other Structural Barrier": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Other Structural Barrier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Other Structural Barrier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Other Structural Barrier": {
      "main": [
        [
          {
            "node": "Opp Ready: Other Structural Barrier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Other Structural Barrier": {
      "main": [
        [
          {
            "node": "Opp Ready: Other Structural Barrier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 1. Deferred / Timing": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 1. Deferred / Ti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 1. Deferred / Ti": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 1. Deferred / Timing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 1. Deferred / Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 1. Deferred / Timing": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 1. Deferred / Timing": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 2. Not Interested (Now)": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 2. Not Intereste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 2. Not Intereste": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 2. Not Interested (No",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 2. Not Interested (Now)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 2. Not Interested (No": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 2. Not Interested (No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 2. Not Interested (Now)": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 2. Not Interested (No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 3. Bad Fit / Wro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 3. Bad Fit / Wro": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 4. Do Not Contact": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 4. Do Not Contac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 4. Do Not Contac": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 4. Do Not Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 4. Do Not Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 4. Do Not Contact": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 4. Do Not Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 4. Do Not Contact": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 4. Do Not Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 5. Hard Disqualified": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 5. Hard Disquali",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 5. Hard Disquali": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 5. Hard Disqualified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 5. Hard Disqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 5. Hard Disqualified": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 5. Hard Disqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 5. Hard Disqualified": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 5. Hard Disqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #2": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 3. Bad Fit / Wro #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 3. Bad Fit / Wro #2": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #2": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #2": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 1. Deferred / Timing #2": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 1. Deferred / Ti #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 1. Deferred / Ti #2": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 1. Deferred / Timing #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 1. Deferred / Timing #2": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 1. Deferred / Timing #2": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 1. Deferred / Timing #3": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 1. Deferred / Ti #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 1. Deferred / Ti #3": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 1. Deferred / Timing #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 1. Deferred / Timing #3": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 1. Deferred / Timing #3": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 1. Deferred / Timing #4": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 1. Deferred / Ti #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 1. Deferred / Ti #4": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 1. Deferred / Timing #4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 1. Deferred / Timing #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 1. Deferred / Timing #4": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 1. Deferred / Timing #4": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 1. Deferred / Timing #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Update Opportunity 3. Bad Fit / Wrong Home #3": {
      "main": [
        [
          {
            "node": "Opp Found? Update Opportunity 3. Bad Fit / Wro #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Update Opportunity 3. Bad Fit / Wro #3": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Update Opportunity 3. Bad Fit / Wrong Ho #3": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Update Opportunity 3. Bad Fit / Wrong Home #3": {
      "main": [
        [
          {
            "node": "Opp Ready: Update Opportunity 3. Bad Fit / Wrong Ho #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Hard (Recoverable)": {
      "main": [
        [
          {
            "node": "Opp Found? Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Hard (Recoverable)": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Hard (Recoverable)": {
      "main": [
        [
          {
            "node": "Opp Ready: Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Hard (Recoverable)": {
      "main": [
        [
          {
            "node": "Opp Ready: Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Hard (Permanent)": {
      "main": [
        [
          {
            "node": "Opp Found? Hard (Permanent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Hard (Permanent)": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Hard (Permanent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Hard (Permanent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Hard (Permanent)": {
      "main": [
        [
          {
            "node": "Opp Ready: Hard (Permanent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Hard (Permanent)": {
      "main": [
        [
          {
            "node": "Opp Ready: Hard (Permanent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Invalid": {
      "main": [
        [
          {
            "node": "Opp Found? Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Invalid": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Invalid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Invalid": {
      "main": [
        [
          {
            "node": "Opp Ready: Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Invalid": {
      "main": [
        [
          {
            "node": "Opp Ready: Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "Contact Found? Find Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find Contact": {
      "main": [
        [
          {
            "node": "Find Opp: Find Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove from Workflow 04bf7710",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Find Opportunity": {
      "main": [
        [
          {
            "node": "Hold or Loss?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hold or Loss?": {
      "main": [
        [
          {
            "node": "Check Hold Reason",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Loss Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hold Reason": {
      "main": [
        [
          {
            "node": "Find Opp: No Rehash (7-day rep hold)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Opp: Pending Spouse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loss Type": {
      "main": [
        [
          {
            "node": "Find Opp: Soft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Opp: Hard (Recoverable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Soft": {
      "main": [
        [
          {
            "node": "Check for Disqualification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Disqualification Type": {
      "main": [
        [
          {
            "node": "Check Disqualification Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Disqualification Type": {
      "main": [
        [
          {
            "node": "Find Opp: Home Type Incompatible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Opp: HOA Restriction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Home Type Incompatible": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: HOA Restriction": {
      "main": [
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Code Exclusion": {
      "main": [
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Already Has Impact Windows": {
      "main": [
        [
          {
            "node": "Go To #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Other Structural Barrier": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loss Reason": {
      "main": [
        [
          {
            "node": "Find Opp: Update Opportunity 1. Deferred / Timing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Opp: Update Opportunity 2. Not Interested (Now)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Check Loss Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Hard (Recoverable)": {
      "main": [
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Check for Disqualification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Hard (Permanent)": {
      "main": [
        [
          {
            "node": "Go To #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #7": {
      "main": [
        [
          {
            "node": "Check for Disqualification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Invalid": {
      "main": [
        [
          {
            "node": "Go To #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #8": {
      "main": [
        [
          {
            "node": "Check for Disqualification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #9": {
      "main": [
        [
          {
            "node": "Find Opp: Find Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: L.6 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}