workflows/S1.1-re-engage-weakest-point.json
{
  "name": "S1.1 Re-engage Weakest Point",
  "nodes": [
    {
      "id": "fe42ac95-1be1-434c-8bc6-5d2d573a6d68",
      "name": "Webhook: S1.1 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "65d23740-81e6-407a-8ae1-ab09d29fdf1a",
      "parameters": {
        "httpMethod": "POST",
        "path": "s1-1-s1-1-re-engage-weakest-point",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "16c19e27-d84d-481c-8c2c-1f16898204b1",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "34498942-428b-4e6d-8c46-69d7c1054ba8",
      "name": "Entry Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "888684d7-387f-4985-8f9f-8580b46958e4",
              "leftValue": "={{ (![\"dnc\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"dnc-email\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"lp-dnc\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"p3:dnc\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"stage:booked-main-appointment\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"suppress-outbound\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"cooling-active\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6eb0d223-c087-49dd-8a26-04bb259abb90",
      "name": "Layer 3: Workflow Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/workflow_started",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"dc850226-d693-4911-b255-ade8280a0815\", \"workflowName\": \"S1.1 90-Day Re-engagement v3\", \"workflow_code\": \"S1.1\", \"time\": \"{{right_now.time_ampm}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8be16b91-7c33-479c-85d6-61b000632859",
      "name": "Check for Email or Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ac4b931a-0a39-4c7a-8f0b-a636fcaaa9a9",
              "leftValue": "={{ (false || false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "83dab6e9-ea09-463f-8f8a-23c1fca97b15",
      "name": "Check if Active Entry is Canvassing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "91822820-20c6-4b2a-892f-8d5d9444cf2a",
              "leftValue": "={{ (![\"active-entry:canvassing\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "187f18eb-0429-45c1-8e78-b8ed71bcf7d8",
      "name": "Update Active Marketing Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"VFSNtEqSUh5yX7RyktBj\", \"value\": \"dc850226-d693-4911-b255-ade8280a0815\"}, {\"id\": \"5MmqueQgbVELUl8CpaMR\", \"value\": \"{{inboundWebhookRequest.enrollment_reason}}\"}, {\"id\": \"h6OyxuBTv7w7ieub1P9y\", \"value\": \"{{inboundWebhookRequest.ai_msg_next_wait_hours}}\"}, {\"id\": \"KsMdYWa9GmtLinA05jZW\", \"value\": \"agentic\"}, {\"id\": \"7YkTgCb9IXsoQWDsP50E\", \"value\": \"{{user.id}}\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "f5da2b36-9a42-4e41-82ef-22f92f01e2c2",
      "name": "Add Tags: stage:re-engagement, active-s1.1, agentic-active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:re-engagement\", \"active-s1.1\", \"agentic-active\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b3eb8d6c-3a5b-4f0d-8508-923b0eeed413",
      "name": "Remove Tags: active-w0, active-w01, active-w02, active-w03, active-w",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-w0\", \"active-w01\", \"active-w02\", \"active-w03\", \"active-w04\", \"active-w05\", \"active-w06\", \"active-w07\", \"active-w1\", \"active-w1.0\", \"active-w1.1\", \"active-w1.2\", \"active-w2.0\", \"active-w2.1\", \"active-w2.2\", \"active-w3.0\", \"active-w3.1\", \"active-w3.2\", \"active-w4.1\", \"active-w5.2\", \"active-w9\", \"active-w9.0\", \"active-e.0\", \"active-e.2\", \"active-e.5\", \"active-s2.1\", \"active-s2.5\", \"active-s2.6\", \"active-s3.0\", \"active-s3.1\", \"active-s4.0\", \"active-s4.1\", \"active-s4.2\", \"active-s4.5\", \"active-s5.2\", \"active-w10.0\", \"active-w11.1\", \"active-w11.2\", \"active-w12.0\", \"active-w12.1\", \"active-w12.2\", \"active-w12.3\", \"active-w12.4\", \"active-w12.5\", \"active-w12.6\", \"active-w12.7\", \"active-w4.0\", \"active-w4.2\", \"active-w4.5\", \"active-w5.1\", \"active-w8.0\", \"active-2.0\", \"active-e.1\", \"active-e.3\", \"active-e02-vc\", \"active-s1.0\", \"active-s1.2\", \"active-s2.0\", \"active-s2.3\", \"active-s2.2\", \"active-w-hdl2\", \"active-w-hdl1\", \"active-w11.1-customer-removed\", \"active-w11.1-eject-applied\", \"active-w11.1-lapsed-rerouted\", \"active-w11.1-rep-callback-issued\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "e2533d41-df4f-4236-87d8-d1893b8c546a",
      "name": "Check Current Stage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f116ad1a-097b-46ec-8798-cd185d08ae74",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) == \"P1 Stage 2\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "1a704c76-1411-4d38-82dc-96133d168692",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "parameters": {}
    },
    {
      "id": "29d588e3-312b-4544-87e2-e441a212d020",
      "name": "Check if Message Already Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-sms-t1\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "7f92a0a2-c1b1-431c-886d-65f1272855f0",
      "name": "Check Lead Age",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "3841fede-a498-4eea-80a0-ea51fb56523b",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3ae70b48-048f-401b-815e-f826cb2a563e",
      "name": "Add Tags: sent:s1.1-sms-t1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-sms-t1\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "aa613011-f3cf-42fd-8f2f-7edc690a11b1",
      "name": "Check if Message Already Sent #2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-e-t2\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ea57f244-6acc-4b77-80d7-a29c176d230b",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        180
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "50d63adc-4452-4015-89a9-917700d3a79d",
      "name": "Add Tags: sent:s1.1-e-t2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-e-t2\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0606dcad-d430-4c90-873f-9f2d9f2673e7",
      "name": "Check if Message Already Sent #3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-e-t3\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fb1061b2-5f15-4e9a-8c4b-33c14dd787bf",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        360
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "c19cbd6a-dccc-4a80-8892-c66a5224f648",
      "name": "Add Tags: sent:s1.1-e-t3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-e-t3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8a406852-cf6c-43fc-86c8-ba2ef8deb213",
      "name": "Check if Message Already Sent #4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-s-t4\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "98b6b72f-c6e8-4b90-834d-86f849ce5289",
      "name": "Send SMS: S1.1-SM-T04-SA4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"{{contact.first_name}}, one undocumented window can be the difference between \\\"approved\\\" and \\\"we can't verify that.\\\" That's a conversation no homeowner wants after a storm. Want to know where yours stands? I'll check it with you in plain English: {{trigger_link.7DYJ5r60Yyfh6RKuu69A}}\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "caf14b7e-8add-4675-8255-d8db27ce3755",
      "name": "Add Tags: sent:s1.1-s-t4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-s-t4\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7c219326-b858-42d6-8408-cfa018acc2f1",
      "name": "Check if Message Already Sent #5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-e-t5\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a7c1346a-9aee-4e48-8374-317851038f62",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        540
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "1164eed1-c1e8-40fb-8ddb-c1cac4fb1593",
      "name": "Send Email: S1.1-EM-T05-SA4-cost-of-waiting-v1.5(A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"The price of waiting almost nobody shows you\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n      a.lnk { color: #6fb3e0 !important; }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    Material, labor, and code all move while you think it over.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>Waiting feels free. It isn&#8217;t. While most Florida homeowners think it over, three meters keep running: material costs climb, the best installers book out before hurricane season, and the code tightens again.</p>\\n                <p>None of that is a sales push. It&#8217;s just the calendar. The earlier you get a clear read, the more options stay open to you.</p>\\n                <p>The fastest way to see where your home stands is Randy&#8217;s short video &mdash; a few minutes, costs you nothing: <a class=\\\"lnk\\\" href=\\\"{{trigger_link.Ela1xqrBK6ROhF3qbLB4}}\\\">watch it here</a>.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Want the fast version? A 15-minute Protection Profile Review by phone gives you the same read, live: <a class=\\\"lnk\\\" href=\\\"{{trigger_link.OH1tw0LSvKGd7ruSgatA}}\\\">book it here</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "febb5db9-a990-44c5-8701-a53bfcdfec8c",
      "name": "Add Tags: sent:s1.1-e-t5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-e-t5\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "61b5a8e8-89a7-4842-838b-8de84c03bb47",
      "name": "Check if Message Already Sent #6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-s-t6\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cfa6acb7-e153-4938-886e-c23a4b74347f",
      "name": "Send SMS: S1.1-SM-T06-SA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"{{contact.first_name}}, with a system now active off the coast, this is the exact stretch homeowners wish they'd checked sooner. Want a clear read on your home's protection before it gets busy?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0850ef15-e5ea-41fc-8950-34973efce4ac",
      "name": "Add Tags: sent:s1.1-s-t6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-s-t6\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "03f09ca7-39d3-434a-8783-46c198a8b92c",
      "name": "Check if Message Already Sent #7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-e-t7\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "eb7c924a-b20d-496a-85e7-0979b5067768",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        540
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "fc9958c9-fc23-40a6-896b-d6ab33548bcf",
      "name": "Add Tags: sent:s1.1-e-t7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-e-t7\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cb0a86ab-1117-4551-828e-e3a2cbd8d5f6",
      "name": "Check if Message Already Sent #8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-e-t8\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "38ba8d81-1e20-4261-8d61-ed8f4c2a08bd",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        720
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "cb331d18-536e-4a5b-8d80-7721a42eae37",
      "name": "Add Tags: sent:s1.1-e-t8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-e-t8\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9d7554cc-5539-424a-880c-ce1631575f1e",
      "name": "Check if Message Already Sent #9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f9480707-b3e3-49b8-83fa-abf0fd40e8ce",
              "leftValue": "={{ (![\"sent:s1.1-s-t9\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e94dfbbd-11b5-4480-8b1c-555747629892",
      "name": "Add Tags: sent:s1.1-s-t9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.1-s-t9\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ac993b1c-2ea1-41bf-8107-383f0ef7f8ee",
      "name": "Layer 3: Workflow Exit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/workflow_exit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"dc850226-d693-4911-b255-ade8280a0815\", \"workflowName\": \"S1.1 90-Day Re-engagement v3\", \"reason\": \"completed\", \"time\": \"{{right_now.time_ampm}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9ebc701e-b90a-492f-8d01-217e110cded3",
      "name": "Remove from Workflow dc850226",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/dc850226-d693-4911-b255-ade8280a0815",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "95eef319-61d0-437e-84da-024a1019252f",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        900
      ],
      "parameters": {}
    },
    {
      "id": "0aa1c1ff-8f8f-476b-8c00-35e16c992891",
      "name": "Send Email: S1.1-EM-T08-SA4-crew-nearby-v1.5(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"Before we're in your area, watch this\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n      a.lnk { color: #6fb3e0 !important; }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    What our crews actually check, and why it surprises people.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>We&#8217;ll have one of our factory-trained crews doing home protection assessments around {{contact.city}} soon. Before that, it&#8217;s worth knowing what they&#8217;d actually be checking &mdash; because it&#8217;s usually not what people expect.</p>\\n                <p>Randy&#8217;s short video walks through exactly that: <a class=\\\"lnk\\\" href=\\\"{{trigger_link.uqdxf4FXKTRk4RID2SBK}}\\\">watch it here</a>.</p>\\n                <p>If it makes you want a read on your own home, the first step isn&#8217;t a visit &mdash; it&#8217;s a free 15-minute Protection Profile Review by phone. If that call surfaces a reason to come out, we&#8217;ll already be in your area.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Want to start with that call? <a class=\\\"lnk\\\" href=\\\"{{trigger_link.7dunXGsmqjZoDD0OkRs4}}\\\">Grab a time here</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "77f00e54-20c8-4a52-8e1e-15960eccf25e",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        900
      ],
      "parameters": {}
    },
    {
      "id": "b70354d7-4c3d-4c6e-8dd4-1c117f9219b6",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        900
      ],
      "parameters": {}
    },
    {
      "id": "4681f260-6e20-47c3-8695-7618334dea92",
      "name": "Send Email: S1.1-EM-T07-SA1+SA4-code-drift-v1.5(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"The year on that inspection cost them\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n\\n      a.lnk {\\n        color: #6fb3e0 !important;\\n      }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    Passed inspection years ago. The code didn&#8217;t stop\\n    changing.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>A homeowner near {{contact.city}} called us after a bad surprise. Their windows had passed inspection\\n                  when they went in &mdash; back in 2004. The code was rewritten in 2007, 2012, 2017, and 2023.</p>\\n                <p>But here&#8217;s the part that caught them off guard: what surprised them wasn&#8217;t the window. It\\n                  was the paperwork attached to it.</p>\\n                <p>Randy explains exactly why in this short video:\\n                  <a class=\\\"lnk\\\" href=\\\"{{trigger_link.OH78M4H9ukiG0qXfkvZg}}\\\">watch it here</a>.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Prefer to just ask someone? Grab a free 15-minute\\n                Protection Profile Review &mdash; phone only, no obligation:\\n                <a class=\\\"lnk\\\" href=\\\"{{trigger_link.VtuL9CehVhpxUzFT0XSx}}\\\">book a time</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7388a9eb-934c-482b-86dd-6eb6e55e842d",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "parameters": {}
    },
    {
      "id": "f646beb2-1521-4b86-8a29-18146898f104",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        900
      ],
      "parameters": {}
    },
    {
      "id": "3adba53e-11b3-4da6-8500-7a2a521115a5",
      "name": "Send SMS: S1.1-SM-T06-SA1 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"{{contact.first_name}}, still want a straight answer on where your home stands? Short conversation, no obligation, and you'll know exactly what you have and what you don't. Want me to set it up?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "eb1dd1bd-91ab-4c8e-8d71-73e1155e5705",
      "name": "Go To #7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "f2dbab0f-9af6-409f-8ca8-f58eaada607b",
      "name": "Go To #8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "9093cf24-d14e-4911-8b2d-da925861b6d3",
      "name": "Send Email: S1.1-EM-T05-SA4-cost-of-waiting-v1.5(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"What waiting on this quietly costs you\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n      a.lnk { color: #6fb3e0 !important; }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    Material, labor, and code all move while you think it over.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>Waiting feels free. It isn&#8217;t. While most Florida homeowners think it over, three meters keep running: material costs climb, the best installers book out before hurricane season, and the code tightens again.</p>\\n                <p>None of that is a sales push. It&#8217;s just the calendar. The earlier you get a clear read, the more options stay open to you.</p>\\n                <p>The fastest way to see where your home stands is Randy&#8217;s short video &mdash; a few minutes, costs you nothing: <a class=\\\"lnk\\\" href=\\\"{{trigger_link.Ela1xqrBK6ROhF3qbLB4}}\\\">watch it here</a>.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Want the fast version? A 15-minute Protection Profile Review by phone gives you the same read, live: <a class=\\\"lnk\\\" href=\\\"{{trigger_link.OH1tw0LSvKGd7ruSgatA}}\\\">book it here</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cb854301-c093-40a5-8d67-e0e39deb6309",
      "name": "Go To #9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "58d203d4-1216-4c7c-802e-0e41dee0da71",
      "name": "Go To #10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "05b87fe1-9e16-48a2-80c2-a1eaad0a0780",
      "name": "Go To #11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "89d9601c-6c51-4078-86a4-541a11e292ee",
      "name": "Send Email: S1.1-EM-T03-SA4-unknown-word-v1.5(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"One word in your file decides storm claims\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n\\n      a.lnk {\\n        color: #6fb3e0 !important;\\n      }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    If it reads &lsquo;unknown,&rsquo; that&#8217;s where claims quietly fall\\n    apart.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>There&#8217;s a single word that can sit in your home&#8217;s protection record:\\n                  &ldquo;unknown.&rdquo; It costs nothing to ignore right up until a storm, when it becomes the most\\n                  expensive word in the house.</p>\\n                <p>This isn&#8217;t about any one insurer. It&#8217;s about whether your protection can be proven on\\n                  paper when it&#8217;s reviewed. Protection isn&#8217;t what you install. It&#8217;s what you can\\n                  prove.</p>\\n                <p>Randy walks through how to find out where your home actually stands:\\n                  <a class=\\\"lnk\\\" href=\\\"{{trigger_link.Xj5fvF3BTVWyCj06TNZu}}\\\">watch the short video</a>.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Rather have someone read it with you? Book a free 15-minute\\n                call &mdash; no visit, no sales pitch:\\n                <a class=\\\"lnk\\\" href=\\\"{{trigger_link.wPnNgqzGi2aIV7bdevHe}}\\\">pick a time</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "54b504c0-9948-4cdc-8135-a650faebedf8",
      "name": "Go To #12",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "aa593deb-b919-4fac-870f-e08197db3f98",
      "name": "Go To #13",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "5442e40e-abae-4e5a-8b1d-9fc59a633a28",
      "name": "Send Email: S1.1-EM-T02-SA1-two-homes-v1.5(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"Why one house survived and the next didn't\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n\\n      a.lnk {\\n        color: #6fb3e0 !important;\\n      }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    The difference wasn&#8217;t the window. It wasn&#8217;t luck\\n    either.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>After a storm moves through Florida, you can see it on one street: a home stands clean while the one\\n                  next door is torn open. Same builder. Same year. Same wind.</p>\\n                <p>Everyone blames the window. The window is maybe a third of it. The rest is whether the install met\\n                  current code and whether anyone can prove it after the fact.</p>\\n                <p>Randy, our founder, made a short video breaking down exactly what separated those two homes. A few\\n                  minutes, no pitch:\\n                  <a class=\\\"lnk\\\" href=\\\"{{trigger_link.5TsJS3kaD2TePLsUhR9d}}\\\">watch Randy break it down</a>.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Want to skip ahead and just talk it through? It&#8217;s a\\n                free 15-minute Protection Profile Review &mdash; phone only, no one comes to your home:\\n                <a class=\\\"lnk\\\" href=\\\"{{trigger_link.fcP46HClyynfFkdh0JBl}}\\\">grab a time</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d41927e4-505e-4b65-8769-494fbe609090",
      "name": "Go To #14",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "07eb3769-5f86-4b99-80e3-0c2e610a0524",
      "name": "Go To #15",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "a220eeb8-b99f-4a94-81b7-00ddd21de8e5",
      "name": "Send SMS: S1.1-SMS-T2 (91-365d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors here in Florida. One honest question: is your home's storm protection still on your mind, or not right now? YES or NO is plenty.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "718f5990-5426-4400-8f80-0e3868e12e9b",
      "name": "Go To #16",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "1008c8d8-e57b-4d3e-8b29-1b1e4d7015ac",
      "name": "Send SMS: S1.1-SMS-T3 (365d+)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors. Homeowners in {{contact.city}} are finding their windows are rated differently than they assumed. Worth a 30-second look for you? Reply YES or NO.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a1db426d-8e4c-46fb-8b24-b51ae1972f45",
      "name": "Go To #17",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1260
      ],
      "parameters": {}
    },
    {
      "id": "b5d02c7b-a4c2-4a75-8567-cd308e3f6eeb",
      "name": "Go To #18",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "0937a666-560b-4b25-887c-95d929b30d49",
      "name": "Layer 3: Workflow Exit #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/workflow_exit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"dc850226-d693-4911-b255-ade8280a0815\", \"workflowName\": \"S1.1 90-Day Re-engagement v3\", \"reason\": \"canvassing_active\", \"time\": \"{{right_now.time_ampm}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "5bacaf5f-3579-4b4c-8137-5d07afd4cdb8",
      "name": "Remove from Workflow dc850226 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/dc850226-d693-4911-b255-ade8280a0815",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "aca1b1b0-9e50-4a3b-8a2d-5af3a06ef7ea",
      "name": "Add Tags: contact:delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"contact:delete\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "71cc3f3f-d0d5-459d-8268-5cdc600a0cae",
      "name": "Layer 3: Workflow Exit #3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/workflow_exit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"dc850226-d693-4911-b255-ade8280a0815\", \"workflowName\": \"S1.1 90-Day Re-engagement v3\", \"reason\": \"not_contact\", \"time\": \"{{right_now.time_ampm}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1d7bf868-268d-4cbc-8c40-71b2d9da20bd",
      "name": "Go To #19",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "a7172eef-9d85-4073-89e8-c23d45488376",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "e07af886-53b6-422c-8e44-ac5cdaa6cfe6",
      "name": "Note: S1.1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## S1.1 Re-engage Weakest Point\nTranslated from GHL workflow dc850226-d693-4911-b255-ade8280a0815.\nGHL triggers: inbound_webhook:Inbound Agentic Trigger\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 8 | Stubs: 5 | Brand-law: 6",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Entry Gate": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Started": {
      "main": [
        [
          {
            "node": "Check for Email or Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Email or Phone": {
      "main": [
        [
          {
            "node": "Check if Active Entry is Canvassing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tags: contact:delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Active Entry is Canvassing": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Layer 3: Workflow Exit #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Marketing Details": {
      "main": [
        [
          {
            "node": "Add Tags: stage:re-engagement, active-s1.1, agentic-active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:re-engagement, active-s1.1, agentic-active": {
      "main": [
        [
          {
            "node": "Remove Tags: active-w0, active-w01, active-w02, active-w03, active-w",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-w0, active-w01, active-w02, active-w03, active-w": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Stage": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent": {
      "main": [
        [
          {
            "node": "Check Lead Age",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Age": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SMS: S1.1-SMS-T2 (91-365d)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-sms-t1": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #2": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-e-t2": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #3": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-e-t3": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #4": {
      "main": [
        [
          {
            "node": "Send SMS: S1.1-SM-T04-SA4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.1-SM-T04-SA4": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-s-t4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-s-t4": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #5": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #3": {
      "main": [
        [
          {
            "node": "Send Email: S1.1-EM-T05-SA4-cost-of-waiting-v1.5(A)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T05-SA4-cost-of-waiting-v1.5(A)": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-e-t5": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #6": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.1-SM-T06-SA1": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-s-t6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-s-t6": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #7": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #4": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-e-t7": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #8": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #5": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-e-t8": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message Already Sent #9": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.1-s-t9": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Exit": {
      "main": [
        [
          {
            "node": "Remove from Workflow dc850226",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T08-SA4-crew-nearby-v1.5(B)": {
      "main": [
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T07-SA1+SA4-code-drift-v1.5(B)": {
      "main": [
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.1-SM-T06-SA1 #2": {
      "main": [
        [
          {
            "node": "Go To #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #7": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #8": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T05-SA4-cost-of-waiting-v1.5(B)": {
      "main": [
        [
          {
            "node": "Go To #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #9": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #10": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #11": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T03-SA4-unknown-word-v1.5(B)": {
      "main": [
        [
          {
            "node": "Go To #12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #12": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #13": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.1-EM-T02-SA1-two-homes-v1.5(B)": {
      "main": [
        [
          {
            "node": "Go To #14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #14": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-e-t2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #15": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.1-SMS-T2 (91-365d)": {
      "main": [
        [
          {
            "node": "Go To #16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #16": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-sms-t1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.1-SMS-T3 (365d+)": {
      "main": [
        [
          {
            "node": "Go To #17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #17": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.1-sms-t1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #18": {
      "main": [
        [
          {
            "node": "Check if Message Already Sent #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Exit #2": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: contact:delete": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Exit #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Exit #3": {
      "main": [
        [
          {
            "node": "Go To #19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #19": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: S1.1 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Entry Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}