workflows/S1.2-E-exit-conditions.json
{
  "name": "S1.2-E Exit Conditions",
  "nodes": [
    {
      "id": "cf9346ef-e4ae-49f7-8443-8fa0f9e4acfd",
      "name": "Webhook: S1.2-E Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "e824b437-b050-4d5b-8fed-e6ac82dec105",
      "parameters": {
        "httpMethod": "POST",
        "path": "s1-2-e-s1-2-e-exit-conditions",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "59290bb9-ccd1-42cd-84d1-895d1c9f3d0d",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "f0dad6d3-b5c6-4390-81e0-3b2093c2976b",
      "name": "Remove Tags: active-w11.2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-w11.2\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "6dee90ce-bd43-49af-880e-4aa1d647c51a",
      "name": "Remove from Workflow bf894396",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/bf894396-1cd9-4095-8789-7ce12a4e412a",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "b5df93ec-9bdb-43fb-8ff5-66f24afeb3d7",
      "name": "Note: S1.2-E",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## S1.2-E Exit Conditions\nTranslated from GHL workflow 76a45ffd-ced7-4711-857c-03697e07cc2c.\nGHL triggers: contact_tag:appt:home-assessment; contact_tag:hprc-booked; contact_tag:appt:measurement-verification; contact_tag:assessment-booked; contact_tag:appt:window-estimate; contact_tag:booked-estimate; customer_appointment:Review Session; customer_appointment:Home Protection Assessment; contact_tag:window\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Remove Tags: active-w11.2": {
      "main": [
        [
          {
            "node": "Remove from Workflow bf894396",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: S1.2-E Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Remove Tags: active-w11.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}