workflows/S1.3-stale-lead-revival.json
{
  "name": "S1.3 Stale Lead Revival",
  "nodes": [
    {
      "id": "519d2c12-3397-4d6c-8957-f421a39dfcaf",
      "name": "Webhook: S1.3 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "7fae49d0-645f-4d26-8179-8ad8e032c0a8",
      "parameters": {
        "httpMethod": "POST",
        "path": "s1-3-s1-3-stale-lead-revival",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "49a75c22-dac3-4ef5-88a2-d6721270b74d",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "d2a16e13-2126-4d70-8d08-d5119d3a2166",
      "name": "[STUB] Drip mode 25 every 15 minutes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'drip'. Intended: Drip mode 25 every 15 minutes. Implement before go-live."
    },
    {
      "id": "a5616783-69ca-4ec5-878a-a5e2258add98",
      "name": "Contact Found? Find contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c23ec403-5a91-4ea4-8cff-52d17ec95a82",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5b870355-32d9-4c8e-8e34-1c1789a97797",
      "name": "Check Active Entry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "af12f812-67c4-44c5-88d0-0bba5551c6b1",
              "leftValue": "={{ (![\"active-entry:canvassing\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b0a8d0cf-cc0b-4d05-85fb-a1785dc76684",
      "name": "Check Current Stage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f116ad1a-097b-46ec-8798-cd185d08ae74",
              "leftValue": "={{ ((((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 2\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 3\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 4\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 5\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 6\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 7\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 8\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 9\" && (((($('Get Contact (Entry)').first().json.contact?.customFields)||[]).find(f => f.id === \"2lrRmCPQG6eXnfw7s91J\")||{}).value) != \"P1 Stage 10\") || (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6fde6019-1fba-47ed-8c27-0c1e367b0c40",
      "name": "Find Opp: Opportunity P1 Stage 2. Cold Awakening",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b81f136a-4a00-40a2-8fd3-b3e5788f9451",
      "name": "Opp Found? Opportunity P1 Stage 2. Cold Awaken",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "48103502-9857-4ca8-8c14-27e7e7544729",
              "leftValue": "={{ (($('Find Opp: Opportunity P1 Stage 2. Cold Awakening').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "503e50ab-ba9b-44fb-8081-c08f9a8b1df0",
      "name": "Update Opp Stage: Opportunity P1 Stage 2. Cold Awakening",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Opportunity P1 Stage 2. Cold Awakening').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"9a3fec61-4057-4b30-bb23-5b5f57702d4d\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0f80867b-ad38-4af1-82dd-af1e86ba1b41",
      "name": "Create Opp: Opportunity P1 Stage 2. Cold Awakening",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"9a3fec61-4057-4b30-bb23-5b5f57702d4d\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"S1.3 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "95139842-2fa5-4d10-89a1-0d9adb69d40d",
      "name": "Opp Ready: Opportunity P1 Stage 2. Cold Awakening",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        180
      ],
      "parameters": {}
    },
    {
      "id": "d84ba8b5-b03d-4b07-8ee8-970cbfd4fdf1",
      "name": "Layer 3: Opportunity Stage Change Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/opportunity_stage_changed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"32fa691b-2422-4727-83c9-1174801974e9\", \"workflowName\": \"S1.3 Stale Lead Revival\", \"pipelineId\": \"x0cxXOkKwqAWVvcPdKZQ\", \"stageId\": \"{{contact.p1_current_stage_id}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d25263fa-bff5-4470-854b-75776eeec7ed",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ],
      "parameters": {}
    },
    {
      "id": "ff8fad61-4166-420c-850f-2c7405151df8",
      "name": "Check if Name Normalized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "0c7c8d13-fc03-4f55-84cd-90a991d60c4f",
              "leftValue": "={{ ([\"name-normalized\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5287ff19-d8a5-471b-81ed-a99b9ae59039",
      "name": "Check for Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d807266f-e06f-4900-8dfc-2c8a29341d23",
              "leftValue": "={{ (false) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "05521a34-2fb3-4128-83a8-da2410e3bfb1",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        180
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "291630af-0097-435c-86ea-01339a9129c7",
      "name": "Send SMS: S1.3-SMS-T01(A)-Status-Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors. We spoke a while back about impact windows for your home. Did you ever end up moving forward with that?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4d335bbb-681c-440a-84f6-f8ef5e6ec00b",
      "name": "Add Tags: sent:s1.3-sms-t1-var-a",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t1-var-a\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "202649fb-b3ae-4bef-8d84-3406f694f5c8",
      "name": "Wait 48 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        360
      ],
      "parameters": {
        "amount": 48,
        "unit": "minutes"
      }
    },
    {
      "id": "87215ff8-f99f-4187-8f5c-82f755c2fbae",
      "name": "Check if Day 2 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c92d997c-d4c9-4fb4-81c3-92320548465c",
              "leftValue": "={{ (![\"sent:s1.3-e-t2\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8b786065-a065-44de-8c48-6932ecf2c432",
      "name": "Send Email: S1.3-EM-T02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"Did you ever take care of this?\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n      a.lnk { color: #6fb3e0 !important; }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    Quick question about your home &mdash; one reply is plenty.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>A while back you reached out about impact windows for your home. Things get busy and projects slide &mdash; happens to everyone.</p>\\n                <p>So, one quick question: did you ever end up getting it done?</p>\\n                <p>If you did, great. Reply &ldquo;all set&rdquo; and I&#8217;ll close your file.</p>\\n                <p>If not, and protecting your home is still on your list, just reply to this email and I&#8217;ll pick up right where we left off.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Rather skip the back-and-forth? Start with a free 15-minute Protection Profile Review by phone &mdash; <a class=\\\"lnk\\\" href=\\\"{{trigger_link.scJbpJI3NrzscReDwHOY}}\\\">grab a time here</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4aea2112-cad1-4525-8d57-789dc3e569d2",
      "name": "Add Tags: sent:s1.3-e-t2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-e-t2\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7bf7c022-d215-41ab-8c89-e3e891da51ca",
      "name": "Wait 5760 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        360
      ],
      "parameters": {
        "amount": 5760,
        "unit": "minutes"
      }
    },
    {
      "id": "517e4351-3a5b-4852-8494-74a164e268d0",
      "name": "Check if Day 6 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "fe69b856-f677-48c0-8be6-e92ebf5c1292",
              "leftValue": "={{ (![\"sent:s1.3-sms-t3\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "8530d8b0-2b11-4d8d-888f-c8c4962428e3",
      "name": "Send SMS: S1.3-SMS-T03",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hey {{contact.first_name}}, {{custom_values.rep_name}} at Reece Windows & Doors. We're updating our records and saw we spoke about impact windows a while back. Did you ever take care of that, or is it still on your list?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "32bbeb65-368e-4971-8eba-2ee9903415d2",
      "name": "Add Tags: sent:s1.3-sms-t3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "70bc050f-3994-4479-8c0e-8b5aa09e1594",
      "name": "Wait 5760 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        540
      ],
      "parameters": {
        "amount": 5760,
        "unit": "minutes"
      }
    },
    {
      "id": "b8bd97be-489c-415d-83ee-97c9cd7d33e3",
      "name": "Check if Day 10 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cc766f92-cc00-4fda-8cdc-c94be11332d9",
              "leftValue": "={{ (![\"sent:s1.3-e-t4\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d8df0084-9d56-4379-87be-aa6292805436",
      "name": "Send Email: S1.3-EM-T04",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'Email', contactId: $('Get Contact (Entry)').first().json.contact.id, subject: \"Hurricane season started June 1\", html: \"<!DOCTYPE html>\\n<html lang=\\\"en\\\" xmlns:v=\\\"urn:schemas-microsoft-com:vml\\\">\\n\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <meta name=\\\"x-apple-disable-message-reformatting\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <meta http-equiv=\\\"Content-Type\\\" content=\\\"text/html; charset=UTF-8\\\">\\n  <meta name=\\\"color-scheme\\\" content=\\\"light dark\\\">\\n  <meta name=\\\"supported-color-schemes\\\" content=\\\"light dark\\\">\\n  <title>Reece Windows &amp; Doors</title>\\n\\n  <style>\\n    :root {\\n      color-scheme: light dark;\\n      supported-color-schemes: light dark;\\n    }\\n\\n    /* Email client resets */\\n    table {\\n      border-collapse: collapse;\\n      mso-table-lspace: 0pt;\\n      mso-table-rspace: 0pt;\\n    }\\n\\n    img {\\n      border: 0;\\n      outline: none;\\n      text-decoration: none;\\n      -ms-interpolation-mode: bicubic;\\n      display: block;\\n    }\\n\\n    a {\\n      text-decoration: underline;\\n    }\\n\\n    /* Body paragraphs get one line of breathing room below them.\\n       Signature <p> tags carry inline style=\\\"margin:0\\\" which overrides\\n       this rule, so they stay stacked tight. */\\n    p {\\n      margin: 0 0 16px 0;\\n      padding: 0;\\n    }\\n\\n    /* Inline text links inside the body + PS \\u2014 personal-letter style,\\n       not buttons. Brand-blue, bold, underlined. */\\n    a.lnk {\\n      color: #1b6ca8;\\n      font-weight: 600;\\n      text-decoration: underline;\\n    }\\n\\n    @media screen and (max-width:640px) {\\n      .container {\\n        width: 100% !important;\\n      }\\n\\n      .p-sm {\\n        padding-left: 20px !important;\\n        padding-right: 20px !important;\\n      }\\n    }\\n\\n    @media (prefers-color-scheme: dark) {\\n      .ps-divider {\\n        border-color: #3a3a3a !important;\\n      }\\n      a.lnk { color: #6fb3e0 !important; }\\n    }\\n  </style>\\n  <!-- outlook-fixes-applied -->\\n</head>\\n\\n<body style=\\\"margin:0; padding:0;\\\">\\n\\n  <!-- Hidden Preheader (STATIC PER TEMPLATE \\u2014 NOT AI GENERATED) -->\\n  <div\\n    style=\\\"display:none; max-height:0; overflow:hidden; font-size:1px; line-height:1px; opacity:0; color:transparent;\\\">\\n    Not a sales pitch &mdash; a 30-second status check.&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\">\\n    <tr>\\n      <td align=\\\"center\\\" style=\\\"padding:16px 12px;\\\">\\n\\n        <!--[if mso]>\\n        <table role=\\\"presentation\\\" width=\\\"640\\\" align=\\\"center\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\">\\n          <tr>\\n            <td>\\n        <![endif]-->\\n\\n        <table role=\\\"presentation\\\" class=\\\"container\\\" width=\\\"640\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\"\\n          style=\\\"width:640px;\\\">\\n\\n          <!-- Body -->\\n          <tr>\\n            <td class=\\\"p-sm\\\"\\n              style=\\\"padding:5px 24px 0 24px; font:16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#333333; mso-line-height-rule:exactly;\\\">\\n\\n              <!-- Static body copy (BODY ONLY \\u2014 greeting + paragraphs; sign-off + signature below) -->\\n              <div style=\\\"margin:0 0 20px; white-space:normal;\\\">\\n                <p>{{contact.first_name}},</p>\\n                <p>Hurricane season officially started June 1st and runs through November 30th. That&#8217;s not a scare tactic &mdash; it&#8217;s just the calendar.</p>\\n                <p>When we last spoke, your windows were on your mind. I don&#8217;t know whether you&#8217;ve since upgraded, sold the home, or just shelved the project &mdash; and that&#8217;s exactly what I&#8217;m trying to find out.</p>\\n                <p>Which one is it?</p>\\n                <p style=\\\"margin:0 0 4px 0;\\\"><strong>A)</strong> Already handled it</p>\\n                <p><strong>B)</strong> Still on the list</p>\\n                <p>Reply with a letter. That&#8217;s it. If it&#8217;s B, I&#8217;ll tell you the fastest way to get a real answer on what your home actually needs before the season peaks.</p>\\n              </div>\\n\\n              <!-- Hardcoded sign-off + signature -->\\n              <p style=\\\"margin:16px 0 4px 0; color:#122739;\\\">Talk soon,</p>\\n              <p style=\\\"margin:0; font-weight:400; color:#122739;\\\">{{custom_values.rep_name}}</p>\\n              <p style=\\\"margin:0; font-weight:600; color:#122739;\\\">Reece Windows &amp; Doors</p>\\n\\n            </td>\\n          </tr>\\n\\n          <!-- PS Section -->\\n          <tr>\\n            <td class=\\\"p-sm\\\" style=\\\"padding:18px 28px 8px 28px;\\\">\\n              <div class=\\\"ps-divider\\\"\\n                style=\\\"border-top:1px solid #e5e5e5; padding-top:18px; font:15px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#555555; mso-line-height-rule:exactly;\\\">\\n                <strong style=\\\"color:#122739;\\\">P.S.</strong> Ready to skip ahead? Book a free 15-minute Protection Profile Review by phone &mdash; <a class=\\\"lnk\\\" href=\\\"{{trigger_link.xeAt3ZNuNqZyodSdrqO7}}\\\">grab a time here</a>.\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Trust band -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:18px 28px 6px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#666666; mso-line-height-rule:exactly;\\\">\\n              <em>Protecting families since 1972</em>\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td align=\\\"center\\\" class=\\\"p-sm\\\"\\n              style=\\\"padding:6px 28px 24px 28px; font:12px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; color:#888888; mso-line-height-rule:exactly;\\\">\\n              <div style=\\\"color:#888888;\\\">\\n                {{location.address}}, {{location.city}}, {{location.state}}\\n                {{location.postal_code}}\\n              </div>\\n              <div style=\\\"margin-top:8px; color:#888888;\\\">\\n                <a href=\\\"{{email.unsubscribe_link}}\\\" style=\\\"color:#888888; text-decoration:underline; mso-style-textfill-fill-color:#888888;\\\"><!--[if mso]><font color=\\\"#888888\\\"><![endif]-->Unsubscribe<!--[if mso]></font><![endif]--></a>\\n                &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}\\n              </div>\\n              <!--[if mso]><p style=\\\"margin:0;line-height:8px;mso-line-height-rule:exactly;font-size:8px;\\\">&nbsp;</p><![endif]-->\\n            </td>\\n          </tr>\\n\\n        </table>\\n\\n        <!--[if mso]>\\n            </td>\\n          </tr>\\n        </table>\\n        <![endif]-->\\n\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n\\n</html>\", from: \"randy@getreecewindows.com\", fromName: \"Randy Reece\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "936faa5d-5aeb-4b80-88bc-56a49160d1c3",
      "name": "Add Tags: sent:s1.3-e-t4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        540
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-e-t4\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "8fb9ba8d-baef-47fe-8153-726c815c0db5",
      "name": "Wait 5760 minutes #3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "amount": 5760,
        "unit": "minutes"
      }
    },
    {
      "id": "e53dade5-1669-4152-8f08-27711624c3c6",
      "name": "Check if Day 14 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bd3fb16b-6db4-42b8-81fc-59d5fa563f2b",
              "leftValue": "={{ (![\"sent:s1.3-sms-t5\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "7b5a2c7c-f081-41af-8754-95d7808a286e",
      "name": "Send SMS: S1.3-SMS-T05",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, last note from me at Reece Windows & Doors. If protecting your home this hurricane season is still on your list, just reply here and I'll help. If not, no problem - I'll close your file.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d7613eb1-9e27-4b1d-85a8-7ea59979a8c8",
      "name": "Add Tags: sent:s1.3-sms-t5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t5\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "2d01abda-84d1-4270-82db-8400de17e299",
      "name": "Wait 2880 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        720
      ],
      "parameters": {
        "amount": 2880,
        "unit": "minutes"
      }
    },
    {
      "id": "5f4b2755-b4d1-4255-8070-9a0763f770cd",
      "name": "Remove Tags: active-w11.1, stage:reactivation, stage:unresponsive, s",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-w11.1\", \"stage:reactivation\", \"stage:unresponsive\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:active-nurture-broadcast\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:education\", \"stage:entry-bridge\", \"stage:hot-call\", \"stage:indoctrination\", \"stage:new-lead\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:solution-pitch\", \"stage:vendor-comparison\", \"stage:appointment-rescue\", \"stage:cancellation-review\", \"stage:closed-won\", \"stage:fast-track\", \"stage:lost\", \"active-s1.3\", \"active-s1.0\", \"active-s1.1\", \"active-s1.2\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4c0356d0-dbd1-4295-8f74-2388c05e2090",
      "name": "Add Tags: stage:long-term-nurture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"stage:long-term-nurture\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0f5d2d1c-38bd-4a21-83c7-b89f06ce95b9",
      "name": "Find Opp: Opportunity P1 Stage 12. Long-Term Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Get Contact (Entry)').first().json.contact.id }}&pipeline_id=x0cxXOkKwqAWVvcPdKZQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d4998045-0220-4998-8cf3-ed40891307d8",
      "name": "Opp Found? Opportunity P1 Stage 12. Long-Term ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "2c37e522-fb35-4e92-88f2-b35a037371cc",
              "leftValue": "={{ (($('Find Opp: Opportunity P1 Stage 12. Long-Term Hold').first().json.opportunities)||[]).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a73a65a2-6435-444c-8236-a6df5f002688",
      "name": "Update Opp Stage: Opportunity P1 Stage 12. Long-Term Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        720
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opp: Opportunity P1 Stage 12. Long-Term Hold').first().json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"36ccbca0-c57f-466a-bd66-c7aa2a91e79d\", status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0f746745-31f5-4f80-80ed-535f104993ea",
      "name": "Create Opp: Opportunity P1 Stage 12. Long-Term Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"SsBG7j5KQAIP1SFP2Sca\", pipelineId: \"x0cxXOkKwqAWVvcPdKZQ\", pipelineStageId: \"36ccbca0-c57f-466a-bd66-c7aa2a91e79d\", contactId: $('Get Contact (Entry)').first().json.contact.id, name: ($('Get Contact (Entry)').first().json.contact.name||\"S1.3 Lead\"), status: \"open\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "11e1e77f-173e-4b7d-8487-9a93b747a03e",
      "name": "Opp Ready: Opportunity P1 Stage 12. Long-Term Hold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        900
      ],
      "parameters": {}
    },
    {
      "id": "7b3df872-9dbe-4716-889f-4e3b754ffc82",
      "name": "Layer 3: Workflow Exit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/workflow_exit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"32fa691b-2422-4727-83c9-1174801974e9\", \"workflowName\": \"S1.3 Stale Lead Revival\", \"reason\": \"completed\", \"time\": \"{{right_now.time_ampm}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1418fc13-980e-4ae6-87e1-74c840d6a47f",
      "name": "Remove from Workflow 32fa691b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        900
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/32fa691b-2422-4727-83c9-1174801974e9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "ce3d9190-1d84-4770-88e9-2ab28c948a0f",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        900
      ],
      "parameters": {}
    },
    {
      "id": "fc6cdadb-5028-47d4-8ccb-c1a000cf2778",
      "name": "Go To #3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "parameters": {}
    },
    {
      "id": "a89d8eef-1052-4b83-81a8-4740c0ac5bb7",
      "name": "Go To #4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        900
      ],
      "parameters": {}
    },
    {
      "id": "8fbaef66-2aec-4961-8c0a-d8dafb622d87",
      "name": "Go To #5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        900
      ],
      "parameters": {}
    },
    {
      "id": "027dbec6-49af-42b2-851b-96fc997d22b4",
      "name": "Send SMS: S1.3-SMS-T01(B)-Timing-Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors. Has anything changed since we last spoke about impact windows for your home?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7c9be588-0ba7-40b9-88a5-50f3a7a7a888",
      "name": "Add Tags: sent:s1.3-sms-t1-var-b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t1-var-b\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "361fc0a9-8ce2-47cb-8f01-739c3d663cd3",
      "name": "Go To #6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "c8e8eadb-e96b-4b37-89f9-c8ae80a9b459",
      "name": "Go To #7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1080
      ],
      "parameters": {}
    },
    {
      "id": "3ba7e07c-6f8a-435f-8005-0ec2da136419",
      "name": "Check if Day 0 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1080
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "121ffd43-ac84-47de-8418-9079159b4472",
              "leftValue": "={{ (![\"sent:s1.3-sms-t1-var-a\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x)) && ![\"sent:s1.3-sms-t1-var-b\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "92985d51-c8fa-4245-833c-6836e558f998",
      "name": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        1080
      ],
      "parameters": {},
      "notes": "GHL workflow_split (weighted/random). Routed to first path; implement Code-based split if needed."
    },
    {
      "id": "09a8263b-d8f6-46b2-817f-d298b74323c3",
      "name": "Send SMS: S1.3-SMS-T01(A)-Status-Question #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors. We spoke a while back about impact windows for your home. Did you ever end up moving forward with that?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "84fd0478-03de-4acb-8c06-041e72c2286e",
      "name": "Add Tags: sent:s1.3-sms-t1-var-a #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1080
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t1-var-a\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "1ea4aac1-3cf9-40d9-8357-57d323653937",
      "name": "Wait 7200 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        1260
      ],
      "parameters": {
        "amount": 7200,
        "unit": "minutes"
      }
    },
    {
      "id": "fbab3ea4-4d5b-4f56-8ba3-38428aaf0411",
      "name": "Check if Day 5 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d22b9eae-8272-48c8-8c42-ccb3bfceb78f",
              "leftValue": "={{ (![\"sent:s1.3-sms-t2-b\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "53690b04-a6ff-4de9-8307-d3ddb1a10995",
      "name": "Send SMS: S1.3-SMS-T02(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hey {{contact.first_name}}, {{custom_values.rep_name}} at Reece Windows & Doors. We're updating our records and saw we spoke about impact windows a while back. Did you ever take care of that, or is it still on your list?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "b6104511-a673-4e13-8664-24940d2a6e11",
      "name": "Add Tags: sent:s1.3-sms-t2-b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t2-b\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "076d13ff-1e17-46cc-8cd7-f59fe04590a9",
      "name": "Wait 10080 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        1260
      ],
      "parameters": {
        "amount": 10080,
        "unit": "minutes"
      }
    },
    {
      "id": "4649dad8-a16e-41bb-8223-761efcbcff62",
      "name": "Check if Day 12 Message Sent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "e407a3c9-1907-411a-8f1f-1d6ddae89d0d",
              "leftValue": "={{ (![\"sent:s1.3-sms-t3-b\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "333bee63-127c-413f-8b89-9e7784985f87",
      "name": "Send SMS: S1.3-SMS-T03(B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, last note from me at Reece Windows & Doors. If protecting your home this hurricane season is still on your list, just reply here and I'll help. If not, no problem - I'll close your file.\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "42820386-62d1-444a-8b21-3dad4194f277",
      "name": "Add Tags: sent:s1.3-sms-t3-b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1260
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t3-b\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "43a0bdbe-141d-43ca-82db-d2115191c7a2",
      "name": "Wait 2880 minutes #2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        1440
      ],
      "parameters": {
        "amount": 2880,
        "unit": "minutes"
      }
    },
    {
      "id": "d2b8391e-0184-4612-8dcc-dc6b88b26deb",
      "name": "Go To #8",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "bcfc226b-a2df-4377-828f-671e249211f3",
      "name": "Go To #9",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "0b6c95e6-4ba8-47b8-84b7-bf024299254e",
      "name": "Go To #10",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "c793ecf5-eacd-40fe-88af-09d6762e8f81",
      "name": "Send SMS: S1.3-SMS-T01(B)-Timing-Question #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type:'SMS', contactId: $('Get Contact (Entry)').first().json.contact.id, message: \"Hi {{contact.first_name}}, {{custom_values.rep_name}} with Reece Windows & Doors. Has anything changed since we last spoke about impact windows for your home?\", fromNumber: \"+19542808890\" }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7c75a9be-7c92-499d-8080-6d9601a008b2",
      "name": "Add Tags: sent:s1.3-sms-t1-var-b #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1440
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"sent:s1.3-sms-t1-var-b\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "08d8a496-6ffa-451f-8062-cc6e7edbaaed",
      "name": "Go To #11",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "1e60ecb1-041f-4bda-8988-52fac31f9783",
      "name": "Go To #12",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1440
      ],
      "parameters": {}
    },
    {
      "id": "cb8ee01b-e451-4bb5-80df-82d148ee5aae",
      "name": "Enroll in Workflow 7413fff9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/7413fff9-b1b1-48c5-bb23-b65385db6f09",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ef667915-923d-483d-8731-468f8214974b",
      "name": "Layer 3: Wait Event Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/wait_entered",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"32fa691b-2422-4727-83c9-1174801974e9\", \"workflowName\": \"S1.3 Stale Lead Revival\", \"node\": \"Wait till name-normalized\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "16c7e117-40fe-4b60-84d2-73b909759f0c",
      "name": "Wait 60 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1620
      ],
      "parameters": {
        "amount": 60,
        "unit": "minutes"
      }
    },
    {
      "id": "7c2e05c8-32ac-42d7-8a05-853ce78e4e84",
      "name": "Go To #13",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        1620
      ],
      "parameters": {}
    },
    {
      "id": "ddbcb446-5c8f-47ea-82f8-42b05c552ae5",
      "name": "Layer 3: Wait Event Timeout Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/events/wait_timeout",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"32fa691b-2422-4727-83c9-1174801974e9\", \"workflowName\": \"S1.3 Stale Lead Revival\", \"node\": \"Wait till name-normalized\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "3e815c64-9060-4c72-8f75-5fa532e50929",
      "name": "Normalized after wait?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        1620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a618675b-bc3e-4973-8372-000691c3d50b",
              "leftValue": "={{ ([\"name-normalized\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2b768f47-ccf4-47e3-8c8d-5bba6fff607e",
      "name": "Go To #14",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1620
      ],
      "parameters": {}
    },
    {
      "id": "15e1aae8-ec63-4b1d-85f7-2c432df7b7fd",
      "name": "Update Exit Reason",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1620
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KqZuE8eFkV7UzmG9g1bP\", \"value\": \"normalization-timeout\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "0551520e-e64e-4e3c-822f-67a811542049",
      "name": "Remove Tags: active-s1.3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-s1.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cdc79ea8-1423-40e0-80ef-cb02d5274064",
      "name": "Enroll in Workflow 444fa443",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/444fa443-088f-41a3-9a2e-a40971022058",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cf644f24-0ec0-49f7-8052-6f94d11c1edc",
      "name": "Update Exit Reason #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"KqZuE8eFkV7UzmG9g1bP\", \"value\": \"canvassing-lead\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a6a89ca9-4468-4acc-8a0c-693b210ae85b",
      "name": "Remove Tags: active-s1.3 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"active-s1.3\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a09592fe-6e1c-4772-8577-f040baafa073",
      "name": "Enroll in Workflow 444fa443 #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/444fa443-088f-41a3-9a2e-a40971022058",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cba6f48f-c11b-4adb-8c4b-048aea4c6890",
      "name": "Create contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1800
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"firstName\": \"{{inboundWebhookRequest.first_name}}\", \"lastName\": \"{{inboundWebhookRequest.last_name}}\", \"phone\": \"{{inboundWebhookRequest.phone}}\", \"email\": \"{{inboundWebhookRequest.email}}\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4c38f772-40e5-4787-8a07-aae0ecc98d6f",
      "name": "Go To #15",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        1800
      ],
      "parameters": {}
    },
    {
      "id": "8850c837-87b4-4eef-8d42-ed5ca7c6f9b1",
      "name": "Go To #16",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        1800
      ],
      "parameters": {}
    },
    {
      "id": "06c0554e-60c6-41b3-832f-c0128697ac1a",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        1980
      ],
      "parameters": {}
    },
    {
      "id": "61f9d82f-0d9b-42eb-8b56-82e09d81de5f",
      "name": "Note: S1.3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## S1.3 Stale Lead Revival\nTranslated from GHL workflow 32fa691b-2422-4727-83c9-1174801974e9.\nGHL triggers: inbound_webhook:Agentic Webhook\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 9 | Stubs: 3 | Brand-law: 2",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Find Opp: Opportunity P1 Stage 2. Cold Awakening": {
      "main": [
        [
          {
            "node": "Opp Found? Opportunity P1 Stage 2. Cold Awaken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Opportunity P1 Stage 2. Cold Awaken": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Opportunity P1 Stage 2. Cold Awakening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Opportunity P1 Stage 2. Cold Awakening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Opportunity P1 Stage 2. Cold Awakening": {
      "main": [
        [
          {
            "node": "Opp Ready: Opportunity P1 Stage 2. Cold Awakening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Opportunity P1 Stage 2. Cold Awakening": {
      "main": [
        [
          {
            "node": "Opp Ready: Opportunity P1 Stage 2. Cold Awakening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opp: Opportunity P1 Stage 12. Long-Term Hold": {
      "main": [
        [
          {
            "node": "Opp Found? Opportunity P1 Stage 12. Long-Term ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Found? Opportunity P1 Stage 12. Long-Term ": {
      "main": [
        [
          {
            "node": "Update Opp Stage: Opportunity P1 Stage 12. Long-Term Hold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opp: Opportunity P1 Stage 12. Long-Term Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opp Stage: Opportunity P1 Stage 12. Long-Term Hold": {
      "main": [
        [
          {
            "node": "Opp Ready: Opportunity P1 Stage 12. Long-Term Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opp: Opportunity P1 Stage 12. Long-Term Hold": {
      "main": [
        [
          {
            "node": "Opp Ready: Opportunity P1 Stage 12. Long-Term Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Drip mode 25 every 15 minutes": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find contact": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active Entry": {
      "main": [
        [
          {
            "node": "Check Current Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Exit Reason #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Stage": {
      "main": [
        [
          {
            "node": "Find Opp: Opportunity P1 Stage 2. Cold Awakening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Name Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Opportunity P1 Stage 2. Cold Awakening": {
      "main": [
        [
          {
            "node": "Layer 3: Opportunity Stage Change Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Opportunity Stage Change Notify": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Check if Name Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Name Normalized": {
      "main": [
        [
          {
            "node": "Check for Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enroll in Workflow 7413fff9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Email?": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Day 0 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T01(A)-Status-Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T01(A)-Status-Question": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t1-var-a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t1-var-a": {
      "main": [
        [
          {
            "node": "Wait 48 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48 minutes": {
      "main": [
        [
          {
            "node": "Check if Day 2 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 2 Message Sent": {
      "main": [
        [
          {
            "node": "Send Email: S1.3-EM-T02",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.3-EM-T02": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-e-t2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-e-t2": {
      "main": [
        [
          {
            "node": "Wait 5760 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5760 minutes": {
      "main": [
        [
          {
            "node": "Check if Day 6 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 6 Message Sent": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T03",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T03": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t3": {
      "main": [
        [
          {
            "node": "Wait 5760 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5760 minutes #2": {
      "main": [
        [
          {
            "node": "Check if Day 10 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 10 Message Sent": {
      "main": [
        [
          {
            "node": "Send Email: S1.3-EM-T04",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: S1.3-EM-T04": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-e-t4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-e-t4": {
      "main": [
        [
          {
            "node": "Wait 5760 minutes #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5760 minutes #3": {
      "main": [
        [
          {
            "node": "Check if Day 14 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 14 Message Sent": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T05",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T05": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t5": {
      "main": [
        [
          {
            "node": "Wait 2880 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2880 minutes": {
      "main": [
        [
          {
            "node": "Remove Tags: active-w11.1, stage:reactivation, stage:unresponsive, s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-w11.1, stage:reactivation, stage:unresponsive, s": {
      "main": [
        [
          {
            "node": "Add Tags: stage:long-term-nurture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: stage:long-term-nurture": {
      "main": [
        [
          {
            "node": "Find Opp: Opportunity P1 Stage 12. Long-Term Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opp Ready: Opportunity P1 Stage 12. Long-Term Hold": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Exit": {
      "main": [
        [
          {
            "node": "Remove from Workflow 32fa691b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Wait 2880 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #3": {
      "main": [
        [
          {
            "node": "Check if Day 14 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #4": {
      "main": [
        [
          {
            "node": "Check if Day 10 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #5": {
      "main": [
        [
          {
            "node": "Check if Day 6 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T01(B)-Timing-Question": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t1-var-b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t1-var-b": {
      "main": [
        [
          {
            "node": "Go To #6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #6": {
      "main": [
        [
          {
            "node": "Wait 48 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #7": {
      "main": [
        [
          {
            "node": "Check if Day 2 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 0 Message Sent": {
      "main": [
        [
          {
            "node": "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Split: workflow.asideSection.headerMeta.workflowSpli #2": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T01(A)-Status-Question #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T01(A)-Status-Question #2": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t1-var-a #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t1-var-a #2": {
      "main": [
        [
          {
            "node": "Wait 7200 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7200 minutes": {
      "main": [
        [
          {
            "node": "Check if Day 5 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 5 Message Sent": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T02(B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T02(B)": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t2-b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t2-b": {
      "main": [
        [
          {
            "node": "Wait 10080 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10080 minutes": {
      "main": [
        [
          {
            "node": "Check if Day 12 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Day 12 Message Sent": {
      "main": [
        [
          {
            "node": "Send SMS: S1.3-SMS-T03(B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T03(B)": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t3-b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t3-b": {
      "main": [
        [
          {
            "node": "Wait 2880 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2880 minutes #2": {
      "main": [
        [
          {
            "node": "Go To #8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #8": {
      "main": [
        [
          {
            "node": "Remove Tags: active-w11.1, stage:reactivation, stage:unresponsive, s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #9": {
      "main": [
        [
          {
            "node": "Wait 2880 minutes #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #10": {
      "main": [
        [
          {
            "node": "Check if Day 12 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS: S1.3-SMS-T01(B)-Timing-Question #2": {
      "main": [
        [
          {
            "node": "Add Tags: sent:s1.3-sms-t1-var-b #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: sent:s1.3-sms-t1-var-b #2": {
      "main": [
        [
          {
            "node": "Go To #11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #11": {
      "main": [
        [
          {
            "node": "Wait 7200 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #12": {
      "main": [
        [
          {
            "node": "Check if Day 5 Message Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Workflow 7413fff9": {
      "main": [
        [
          {
            "node": "Layer 3: Wait Event Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Wait Event Notify": {
      "main": [
        [
          {
            "node": "Wait 60 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 minutes": {
      "main": [
        [
          {
            "node": "Go To #13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #13": {
      "main": [
        [
          {
            "node": "Check for Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Wait Event Timeout Notify": {
      "main": [
        [
          {
            "node": "Normalized after wait?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalized after wait?": {
      "main": [
        [
          {
            "node": "Go To #14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Exit Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #14": {
      "main": [
        [
          {
            "node": "Check for Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Exit Reason": {
      "main": [
        [
          {
            "node": "Remove Tags: active-s1.3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-s1.3": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 444fa443",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Exit Reason #2": {
      "main": [
        [
          {
            "node": "Remove Tags: active-s1.3 #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: active-s1.3 #2": {
      "main": [
        [
          {
            "node": "Enroll in Workflow 444fa443 #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create contact": {
      "main": [
        [
          {
            "node": "Go To #15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #15": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #16": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: S1.3 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "[STUB] Drip mode 25 every 15 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}