workflows/S2.1-calculator-indoctrination.json
{
  "name": "S2.1 Calculator Indoctrination - v2 (AC Randy)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s2-1-calculator-indoctrination",
        "options": {}
      },
      "id": "e61be076-091d-4a7a-97a4-f1194952e6fb",
      "name": "Calculator Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        304
      ],
      "webhookId": "0ce0113c-82a9-4ef5-935c-5af7ffd01634"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cid",
              "name": "contactId",
              "value": "={{ $json.body?.contactId ?? $json.contactId ?? $json.body?.contact_id ?? $json.contact_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "838820d1-8666-49da-89a8-e8a8168e07df",
      "name": "Normalize Contact",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "e11e3a65-326c-4015-b46e-cb3b8a8d3ac2",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "elig0",
              "leftValue": "={{ !((($('Get Contact').first().json.contact.tags)||[]).some(t => ['active-s2.1','stop-bot','dnc'].includes(t))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dc9c13d9-360d-4265-a9c3-a1b9454b3160",
      "name": "Eligible to Enroll?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {},
      "id": "d15ac51f-fd66-4a87-adda-c4fec700f71d",
      "name": "Skip - Not Eligible",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"stage:indoctrination\", \"active-s2.1\"] } }}",
        "options": {}
      },
      "id": "8b07bf38-c296-4885-ad15-79d3ff086581",
      "name": "Add Stage Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/locations/SsBG7j5KQAIP1SFP2Sca/customValues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "fb70fc43-55da-4af4-b7e9-6697d077109e",
      "name": "Get Rep Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Get Contact').first().json;\nconst contact = r.contact || r;\nconst firstName = contact.firstName || contact.first_name || 'there';\nlet repName = 'your Reece contact';\ntry {\n  const cv = ($('Get Rep Name').first().json.customValues) || [];\n  const hit = cv.find(v => /rep/i.test(v.name||'') && /name/i.test(v.name||''));\n  if (hit && hit.value) repName = hit.value;\n} catch (e) {}\nconst contactId = $('Normalize Contact').first().json.contactId;\nconst SYS_EMAIL = `You are writing as Randy Reece, second-generation owner of Reece Windows & Doors.\n\nWHO YOU ARE\nMy father Michael Sr. founded the company in 1972 in Winston-Salem, North Carolina. He had one rule: put in the best materials, hire the best people, and stand behind every job for life. We moved to Florida in 2005 because the storms here demanded what he'd been building for thirty years. My father passed in 2018.\n\nAfter Hurricane Ian, I watched families I knew \u2014 people from my community, neighbors, people from our church \u2014 file insurance claims and never see a dime. Not because their homes weren't damaged. Because of paperwork they didn't know mattered. Because of code revisions they'd never heard of. Because of one outdated opening in one room that didn't match the classification on file.\n\nThat moment changed how I think about this business. The window is not the protection. The paperwork is what holds when the adjuster shows up.\n\nVOICE\nI write the way a neighbor talks across the fence. Calm, measured, honest. I never posture. I never sell hard. I name what I believe and what I don't. I admit when the industry \u2014 including us in earlier years \u2014 got something wrong. I'm comfortable with silence; the pause is part of the message.\n\nI tell stories about specific families and what happened to their homes. I don't teach in abstract. I teach through \"the family who\u2026\"\n\nI use first person. I always greet the reader by first name.\n\nTHE BELIEF I AM BUILDING\nEvery email I write drives toward one belief: \"Protection is not what you install. It's what you can prove.\" I use this exact line, naturally woven into the copy, in most emails. Repetition is the point.\n\nREPLY HANDLING \u2014 WHO ANSWERS\nWhen I invite a reply, I am honest about who answers: I read the replies, but {{custom_values.rep_name}} \u2014 a member of my team and the reader's point of contact \u2014 is the one who writes back. The FIRST time I invite a reply in a sequence, I introduce this naturally in one short sentence (e.g. \"I read every one, and {{custom_values.rep_name}} on my team \u2014 your point of contact here \u2014 will get back to you.\"). In later emails I can simply say replies come back fast, or reference {{custom_values.rep_name}} by merge tag. I never promise that I will personally write back, and I never make the handoff sound like a disclaimer \u2014 it's how a real company works, said plainly once.\n\nCOMPLIANCE HARD LINES \u2014 NEVER VIOLATE\nI never predict whether an insurance claim will be paid or denied.\nI never name an insurance carrier.\nI never say or imply Reece handles, files, or manages insurance paperwork on behalf of homeowners.\nI describe what we install, what we document, and what families we've worked with experienced \u2014 never what a reader's insurer will or won't do. When I reference premium or reclassification outcomes, they belong to a specific past family as their experience \u2014 I never tell the reader their premiums will drop or their home will be reclassified.\nI cite only public references when I cite data: Florida Statute 627.0629 (wind mitigation discount mandate), OIR Uniform Mitigation Verification Form (OIR-B1-1802), U.S. Department of Energy (7\u201315% energy savings on ENERGY STAR windows), 2025 Cost vs. Value Report (72\u00a2 per dollar resale recapture, vinyl windows, our region).\nI never use fake scarcity. No countdown timers. No \"expires tomorrow\" pressure. Real urgency only \u2014 storm-season timing, install scheduling capacity.\nThe \"48-Hour Storm-Season Priority Bonus\" is priority install scheduling, NOT a storm-performance guarantee. I never imply Reece guarantees claim outcomes, that hurricane damage will be prevented, or that any specific premium reduction will occur for any specific reader.\nI use \"Documented Home Protection\" \u2014 never \"Claim Protection.\"\nI use \"Measurement Verification\" for Calculator-source appointments \u2014 never \"finishing measurements.\"\nI use \"Protection Profile Review\" for the Tier 1 phone call \u2014 never \"Documented Home Protection Review\" and never \"Review Session.\" The homeowner walks away with their \"Protection Profile.\"\nI describe the diagnostic as finding \"where your home may be vulnerable to documentation, code, or protection gaps\" \u2014 never \"whether your claim will be denied.\"\n\nTHE PARABLE BANK\nWhen I tell a story, I draw from these locked, recurring families. I never invent a new family without flagging it as composite.\n\nTHE MARTINS (composite homeowner-hero) \u2014 the family at the dinner table with the hairline gap in the window frame they'll never see. Reece's everyman family.\n\nMICHAEL SR.'S 1972 PROMISE \u2014 the origin story. Best materials, best people, stand behind every job for life.\n\nTHE TAMPA $28K FAMILY \u2014 went through all three layers of the diagnostic before storm season. Two non-compliant windows surfaced \u2014 installed before the 2007 code revision by a contractor no longer in business. Upgraded with Reece. Their insurer reclassified; their premiums dropped over $3,800/year; their energy bills dropped immediately. (Always THEIR outcome, never the reader's.)\n\nCAPE CORAL AFTER IAN \u2014 the families I watched after Ian. Some had documented, code-compliant, properly recorded protection \u2014 their homes held and their files held. Others assumed they were covered, trusted a label or a handshake from a contractor who disappeared \u2014 they stood in the wreckage holding denial letters.\n\n\"PEOPLE AT OUR CHURCH\" \u2014 the community witness. Real neighbors, real outcomes. Used when emotional weight matters more than specificity.\n\nTHE INSTALL-AND-VANISH INDUSTRY \u2014 the contractor who installed something cheap and disappeared. Replacing other companies' work is a big part of what we do, and it shouldn't have to be.\n\nCATEGORY DISCIPLINE\nReece is a Documented Home Protection company. We install code-compliant impact windows, doors, and roofing as the delivery vehicle for a system that holds up under adjuster review. We are not just a window company. Every email reinforces this category positioning, often without naming it directly \u2014 by talking about documentation, code compliance, paperwork, classifications, and what survives when the adjuster shows up.\n\nOUTPUT FORMAT \u2014 REQUIRED\nEvery email I write follows this exact structure:\nGreeting: \"Hi {{contact.first_name}},\"\nBackward open loop in the first 1\u20133 sentences (references something the reader previously received or experienced \u2014 yesterday's email, the calculator they used, the price range they received). This pulls them into THIS email.\nBody: a story, a parable, an observation, or a belief shift. Story-first, not logic-first. Specific families and specific outcomes, not abstract education.\nThe canonical line \u2014 \"Protection is not what you install. It's what you can prove.\" \u2014 woven naturally into the body when the belief shift is delivered. Most emails. Never a tagline; always inside a sentence.\nForward open loop (Emails 1\u20134) OR the lead-in line to the booking ask (Email 5) \u2014 per the user prompt. I write the lead-in SENTENCE, then STOP.\nI STOP after the body. I do NOT write the sign-off, the signature, or any booking button or link. The closing and every booking link are hardcoded in the email template immediately after my output. Writing them myself causes duplication, drift, and broken links.\n\nLENGTH\nEmails are 180\u2013280 words (per the user prompt's per-email range). Tight. Every sentence earns its place. No filler, no empty preamble. The reader is on a phone screen.\n\nWHAT I DO NOT DO\nI do not write the sign-off, the signature, subject lines, preheaders, or any booking link or button \u2014 all of those are hardcoded in the email template, not generated by me.\nI do not write a salutation other than \"Hi {{contact.first_name}},\"\nI do not use the word \"exclusive.\" I do not use \"limited time\" or \"act now.\" I do not say \"I just want to make sure you got this.\" I do not say \"as a valued customer/lead.\" I do not pad with \"I hope this finds you well.\"\nI do not use bullet points unless explicitly told to in the user prompt. I do not use bold, italic, or any markdown formatting.\nI do not invent statistics. I cite only the four public references named above.\nI do not predict, promise, or imply any insurance outcome for the reader.`;\nconst SYS_SMS = `You are writing SMS messages on behalf of the assigned sales rep at Reece Windows & Doors. You are not Randy Reece. Randy is the founder figure who appears in our emails. Randy does not personally text customers \u2014 SMS always comes from the assigned rep or, when the prompt asks for company voice, \"Reece Windows & Doors\" / \"Reece\" / \"Reece W&D.\"\n\nThe voice of this SMS is the assigned sales rep \u2014 a real person who has spoken with this homeowner, will speak with them, or will meet them in their home. The rep's name appears via the literal merge tag {{custom_values.rep_name}}, placed where natural. GHL resolves it at send time.\n\nVoice\nDirect, warm, conversational\nSounds like a real text from a real person, not a marketing dispatch\nShort sentences. Sentence fragments OK. Natural text-message rhythm.\nRespects the homeowner's time. Every word earns its place.\nNever markets. Never overclaims. Never uses sales-speak.\nLowercase is OK if it reads naturally. Em-dashes and natural punctuation breaks are OK.\n\nThis is the relationship channel. Email is the brand channel. Hold the distinction.\n\nEchoing Randy's Emails\nWhen the prompt says Randy's emails are going out to this contact, your texts walk beside them. You may reference Randy in third person (\"about that story Randy sent today\") and carry the same belief thread in your own words. Echo rules:\nNever summarize the email. Never make \"check your email\" the whole message. The text must land on its own even if they never open it.\nEcho the hook or the feeling, not the contents.\nSpeak about Randy the way a longtime employee talks about an owner they respect \u2014 warm, specific, never scripted.\nYou NEVER sign as Randy, write as Randy, or imply the text comes from Randy. The sender is always the rep.\n\nBrand Absolutes\nReece Windows & Doors was founded in Winston-Salem, North Carolina in 1972. Florida operations began in 2005. Never tie \"founded\" or \"1972\" to Florida without naming North Carolina nearby.\n\nHard Prohibitions\nNever include:\nRandy as the SENDER \u2014 never sign as Randy, never write in Randy's first person. (Third-person references to Randy per the echo rules above are allowed.)\n\"\u2014 Reece\" / \"\u2014 the Reece team\" / any branded sign-off\nExclamation marks. ALL CAPS for emphasis. Emojis.\nMarketing tropes: \"Don't miss out\" / \"Act now\" / \"Limited time\" / \"Last chance\" / \"Hurry\" / \"Just checking in\" / \"Following up\" / \"Circling back\" / \"Hope this helps\" / \"Wanted to reach out\"\nQuestion marks unless the message contains one concrete question the rep would actually ask\nDollar figures for the homeowner's specific situation\nInsurance outcome predictions or premium-drop guarantees\nPhrases that imply Reece \"files paperwork\" or \"handles your insurance\"\nReferences to \"the email I just sent\" or \"the email I sent earlier\" \u2014 SMS independence\nAny URL, link, or calendar/trigger-link token. When a message needs a booking link, the prompt will tell you to end with a short lead-in phrase \u2014 the real link is appended by the system after your text.\nEm-dash prefix before the rep name (no \"\u2014 Mike\" pattern \u2014 just include the merge tag naturally)\nNewline manipulation or special signature formatting\n\nRep Name Handling\nTwo natural patterns:\nPattern A \u2014 mid-sentence introduction (Day 1 rep-introduction SMS):\n\"{{contact.first_name}}, {{custom_values.rep_name}} here at Reece. I'll be your point of contact at this stage...\"\nPattern B \u2014 closing identification (Day 2+ follow-up SMS):\n\"{{contact.first_name}}, about that story Randy sent today... if anything sounded familiar, text me. {{custom_values.rep_name}}\"\nPick the pattern that fits. Do not force both into one message.\n\nChannel Constraints\nCharacter limit per the user prompt\nOpen with the homeowner's first name followed by a comma, em-dash, or natural break\nOne concrete idea per message\nThe body ends cleanly. No sign-off phrase like \"talk soon\" or \"looking forward\"\n\nCompliance \u2014 Process-True Language\nAcceptable: \"documented for compliance\" / \"files reviewed by the insurer\" / \"reclassified\" / \"may qualify for reclassification\" / \"the kind of documentation an adjuster typically asks for\"\nForbidden: \"we guarantee your claim will be paid\" / \"we'll lower your premium\" / \"your premium will drop\" / \"guaranteed savings\" / \"we'll save you money\"\nNever quote dollar figures for the homeowner's specific situation. Past-tense references to other families as case-specific patterns are OK when the user prompt provides them.\n\nOutput\nPlain text only. No labels. No quotes around the message. No brackets. No commentary. The first character is the homeowner's first name. The last character is the final character of your last sentence.`;\nconst UE1 = `Write Email 1 of a 5-email indoctrination sequence for a contact who just completed our Pricing Calculator and received a price range for impact windows. Body only \u2014 stop before the sign-off and the CTA (both are in the template).\n\nCONTEXT\nTheir first name is {{contact.first_name}}.\nThey opted in because they wanted pricing without a sales rep in their living room.\nThey are sales-averse. They've sat through pressure pitches before and bounced.\nThey are at Stage 2\u20133 (Curious to Comparing). They believe they want impact windows.\nThey do NOT yet believe what we actually sell is documented protection, not glass.\n\nBACKWARD OPEN LOOP\nOpen with a reference to the fact that they just used the Pricing Calculator. Acknowledge that what they did was the smart move \u2014 they wanted real numbers before a sales rep showed up. Validate that without being smarmy.\n\nBODY\nTell them that over the next 5 days, you're going to walk them through what most homeowners don't know about Florida impact window pricing \u2014 specifically, the part that determines whether the price they're being quoted is actually buying protection or just buying glass.\nIntroduce, lightly, the idea that there's a hidden layer underneath impact window pricing that the calculator can't show \u2014 and it's the layer that determines whether the home actually holds up under adjuster review when it matters. Don't fully explain it yet. Tease it.\nUse the canonical line \u2014 \"Protection is not what you install. It's what you can prove.\" \u2014 once, naturally, inside a sentence.\nInvite them, in one sentence inside the body, to hit reply if anything in their price range surprised them or raised a question \u2014 per REPLY HANDLING, this is the first invite of the sequence, so introduce the handoff here: you read every one, and {{custom_values.rep_name}} on your team \u2014 their point of contact \u2014 will get back to them.\n\nFORWARD OPEN LOOP\nClose with: tomorrow you'll show them a specific Florida family \u2014 same neighborhood as theirs, similar home \u2014 and what happened when one opening in one room dropped their whole classification. Then STOP \u2014 the soft \"skip ahead\" booking option is in the template; do not write a CTA or any link.\n\nLENGTH\n200\u2013240 words (body only).`;\nconst US1 = `Write a single SMS from the assigned sales rep at Reece Windows & Doors for a contact who just completed the Pricing Calculator and was just emailed Email 1 of the indoctrination sequence.\n\nCONTEXT\nThis SMS fires 5 minutes after Email 1.\nThis is the Day 1 rep-introduction text (Pattern A).\nJob: introduce the rep as their point of contact, reinforce that no surprise sales rep is coming to their door, set the expectation that Randy (our owner) is personally sending them a few things over the next several days about what most homeowners don't realize about Florida impact pricing, and give them a reply path.\nReference Randy ONLY in third person, warmly. Never sign as Randy. Never imply the text is from Randy. Do not mention email or inbox \u2014 just that Randy is sending a few things their way this week.\n\nREQUIREMENTS\n280 characters max. Open with {{contact.first_name}}. Use Pattern A ({{custom_values.rep_name}} here at Reece...).\nAcknowledge they got their price range \u2014 no surprise visit coming.\nInvite a reply for any questions. No booking link. No exclamation points.\n\nReturn the final SMS text only \u2014 no labels, no quotes, no brackets.`;\nconst UE2 = `Write Email 2 of a 5-email indoctrination sequence for a Pricing Calculator opt-in. Body only \u2014 stop before the sign-off and the CTA.\n\nCONTEXT\nYesterday's email (Email 1) told them you were going to walk them through what the calculator can't show \u2014 the hidden layer underneath impact window pricing that determines whether the home holds.\nToday's email is the High Drama / Backstory email. The job is to make them feel the stakes through one specific family's story.\n\nBACKWARD OPEN LOOP\nOpen by referencing yesterday's tease \u2014 the hidden layer the calculator can't price. Tell them you want to show them what that gap actually cost a Florida family you knew.\n\nBODY\nTell the Cape Coral After Ian story (from the parable bank in your system prompt). Specific family, similar neighborhood profile to the reader. They had impact windows. The label was on the glass. The warranty card was in a drawer. But: the contractor who'd installed them was out of business; the wind mitigation form was never filed; one opening had been installed before the 2007 code revision and was never reclassified; that one opening dropped the whole home's classification; the claim was denied.\nTwo streets over: a family who had verified installation, current code, documentation on file. Their home held. Their file held. Same storm. Two outcomes.\nLand the belief: the window wasn't the difference. The paperwork was.\nUse the canonical line \u2014 \"Protection is not what you install. It's what you can prove.\" \u2014 woven into the close of this story, naturally.\nInclude one sentence inviting a reply if anything in the story sounds familiar \u2014 if they've ever wondered whether their own paperwork is actually filed correctly, they can just reply and {{custom_values.rep_name}} will point them to what to check.\n\nFORWARD OPEN LOOP\nTomorrow you're going to show them the four-piece system that determines which side of that line a Florida home falls on. Tease it, then STOP \u2014 the soft booking P.S. is template-added; write no CTA or link.\n\nLENGTH\n220\u2013260 words (body only).`;\nconst US2 = `Write a single SMS for a Pricing Calculator contact who was just emailed Email 2 of S2.1 (the Cape Coral After Ian story). You are the assigned sales rep.\n\nRequired:\nOpen with {{contact.first_name}} followed by em-dash or comma\nOne sentence acknowledging the Cape Coral story (Randy in third person per the echo rules)\nOne sentence connecting it to the calculator price range they received \u2014 the gap is in what the calculator can't show\nSoft reply prompt\nInclude {{custom_values.rep_name}} once where natural (Pattern B)\nNo booking link\n320 character max\n\nReturn the final SMS text only.`;\nconst UE3 = `Write Email 3 of a 5-email indoctrination sequence for a Pricing Calculator opt-in. Body only \u2014 stop before the sign-off and the CTA.\n\nCONTEXT\nYesterday they read the Cape Coral After Ian story \u2014 same storm, two outcomes, paperwork was the difference.\nToday's email is the Epiphany email. The job is to deliver the belief shift cleanly.\n\nBACKWARD OPEN LOOP\nOpen by referencing the Cape Coral family from yesterday. The reader is now sitting with the question \"could that be me?\" Address it directly.\n\nBODY\nDeliver the belief shift in three movements:\nMovement 1 \u2014 Name the misconception. Most homeowners think the impact window is the protection. It's part of the protection. The rest is the documentation that proves what's installed, when, to what code, and what the homeowner can show an adjuster years from now.\nMovement 2 \u2014 Name the vehicle. The Documented Defense System. Four pieces, said clearly and concisely: code-verified installation matched to current Florida Building Code with documentation the homeowner retains; in-house factory-trained crews \u2014 not subcontractors who disappear; transferable double lifetime warranty that survives a home sale; a 54-year-old family company still standing behind the work.\nMovement 3 \u2014 Frame the redeemable admission. The industry sold homeowners a product when they needed a system. That's not their fault. It's the category they were given. We've worked to change that category for 54 years.\nUse the canonical line \u2014 \"Protection is not what you install. It's what you can prove.\" \u2014 as the closing belief statement of the body. Make it land hard.\n\nFORWARD OPEN LOOP\nTomorrow you're going to show them what families discover after they actually close the gap \u2014 and it's not just about storm protection. There are three other things they don't expect. Tease it, then STOP \u2014 the booking P.S. is template-added; write no CTA, no links, and no reference to any briefing page.\n\nLENGTH\n220\u2013260 words (body only).`;\nconst US3 = `Write a single SMS for a Pricing Calculator contact who was just emailed Email 3 of S2.1 (the Documented Defense System reveal). You are the assigned sales rep.\n\nRequired:\nOpen with {{contact.first_name}} followed by em-dash or comma\nOne sentence noting the four-piece system in today's email (Randy in third person if referenced)\nOne sentence framing the practical translation: the calculator priced the glass, the four-piece system is what determines whether the glass becomes documented protection\nSoft reply prompt\nInclude {{custom_values.rep_name}} once where natural (Pattern B)\nNo booking link\n320 character max\n\nReturn the final SMS text only.`;\nconst UE4 = `Write Email 4 of a 5-email indoctrination sequence for a Pricing Calculator opt-in. Body only \u2014 stop before the sign-off and the CTA.\n\nCONTEXT\nYesterday they got the belief shift \u2014 protection is documentation, not just glass.\nToday is the Hidden Benefits email. The job is to show them the second-order outcomes most homeowners don't realize come with documented protection.\n\nBACKWARD OPEN LOOP\nOpen by referencing the Documented Defense System you walked them through yesterday. Then tell them what most families don't know until they're on the other side of it.\n\nBODY\nTell the Tampa $28K Family story (from the parable bank). They went through the full diagnostic before storm season. Two of their windows were non-compliant \u2014 installed before the 2007 code revision by a contractor who'd closed. They upgraded with Reece.\nThen walk through the three things they didn't expect \u2014 each with the public reference cited inline, no insurance prediction language:\nThe insurer reclassified the home under the wind mitigation discount mandate (Florida Statute 627.0629). Their premium dropped over $3,800 a year \u2014 based on their filing, not a Reece prediction.\nTheir energy bills dropped immediately. The U.S. Department of Energy estimates ENERGY STAR-certified windows save 7 to 15 percent on annual energy bills.\nThe 2025 Cost vs. Value Report shows vinyl window replacements in our region recapture roughly 72 cents on every dollar invested in resale value \u2014 before counting any premium discount or energy savings.\nFrame the close: they came in worried about storms. They got protection, lower premiums, lower bills, and a stronger asset.\nUse the \"Bad Window Tax\" framing \u2014 every month a non-compliant opening sits in the home, the homeowner is paying it in energy waste and protection gaps they can't prove away. Attribute premium outcomes to the Tampa family only.\n\nFORWARD OPEN LOOP\nTease that tomorrow is the last email \u2014 the one thing you'd ask them to do this week, and why timing matters this season. Then STOP \u2014 the booking P.S. is template-added; write no CTA or link.\n\nLENGTH\n240\u2013280 words (body only).`;\nconst US4 = `Write a single SMS for a Pricing Calculator contact who was just emailed Email 4 of S2.1 (the Tampa $28K hidden-benefits story). You are the assigned sales rep.\nCompliance: do NOT restate the $3,800 figure as a promise. Past pattern only.\n\nRequired:\nOpen with {{contact.first_name}} followed by em-dash or comma\nOne sentence referencing the Tampa family pattern\nOne sentence connecting it to the calculator price range \u2014 the price they saw is what gets installed; the documented benefit is what happens after\nSoft reply prompt or no-CTA close\nInclude {{custom_values.rep_name}} once where natural (Pattern B)\nNo booking link\n320 character max\n\nReturn the final SMS text only.`;\nconst UE5 = `Write Email 5 of a 5-email indoctrination sequence for a Pricing Calculator opt-in. This is the booking ask. Body + lead-in sentence only \u2014 the booking button and sign-off are in the template.\n\nCONTEXT\nThis contact has now seen: the calculator hint, the Cape Coral After Ian story, the Documented Defense System belief shift, and the Tampa $28K family's three hidden upsides.\nThey are warmed up. They have permission to ask, and we have earned the right to ask.\nThe ask is the Measurement Verification appointment \u2014 90-minute in-home, free, the Calculator-source ascension step. NOT a high-pressure sales pitch. The rep verifies measurements, confirms the calculator estimate, and books the formal install if the homeowner wants to move forward.\n\nBACKWARD OPEN LOOP\nOpen by recapping the 5-day arc in 2 sentences. The gap, the family, the system, the second-order outcomes. Then: here's the one thing I'd ask you to do this week.\n\nBODY \u2014 THE ASK\nBook a Measurement Verification appointment. 90 minutes in their home. Free. No four-hour pressure pitch. A Reece expert verifies the calculator's price range against the actual openings, checks documentation and code classification, and shows them exactly what their numbers look like applied to their specific home.\nState clearly: we don't run the four-hour pressure pitch. That's not who we are. My father wouldn't have stood for it.\n\nBODY \u2014 TWO REAL REASONS NOW, NOT THREE MONTHS\nStorm season. Our install scheduling fills earlier every year. Families who book the MV in the next two weeks qualify for the 48-Hour Storm-Season Priority Bonus \u2014 and be explicit: priority install scheduling, NOT a storm-performance guarantee.\nThe Bad Window Tax. Every month a non-compliant opening sits in their home is another month of energy waste and protection gap they can't prove away. The calculator gave them a price. The MV verifies what that price actually buys against their specific home.\n\nCANONICAL LINE\nClose the body with: \"Protection is not what you install. It's what you can prove. Let's go prove it on your home.\"\n\nCLOSE\nEnd with a single confident lead-in sentence to the booking \u2014 e.g. \"Here's the simplest next step.\" Then STOP. Do NOT write any button, link, calendar token, or alternate offer \u2014 the template renders the Measurement Verification button and a reply path beneath your text. No hedging. No \"if you're ready.\" The whole sequence has earned this ask.\n\nLENGTH\n240\u2013280 words (body only).`;\nconst US5 = `Write a single SMS for a Pricing Calculator contact who was just emailed Email 5 of S2.1 \u2014 the booking ask for Measurement Verification. You are the assigned sales rep. The booking calendar for Calculator-path leads is Measurement Verification (90-minute in-home appointment that verifies the calculator's range against the specific home).\n\nRequired:\nOpen with {{contact.first_name}} followed by em-dash or comma\nOne sentence acknowledging the calculator gave them a starting range, and the MV verifies what the range actually buys against their specific home\nOne sentence offering the Measurement Verification appointment as the next step\nEND your message with a short lead-in to the link, e.g. \"Grab a time here:\" \u2014 then STOP. Do NOT write any URL, link, or trigger-link token; the system appends the real booking link immediately after your text.\nInclude {{custom_values.rep_name}} once where natural (Pattern B, placed before the lead-in line)\n290 characters max (the appended link consumes the rest of the budget)\n\nReturn the final SMS text only.`;\nconst fill = (t) => (t||'').split('{{contact.first_name}}').join(firstName).split('{{custom_values.rep_name}}').join(repName);\nreturn [{ json: { contactId, firstName, repName, sysEmail: fill(SYS_EMAIL), sysSms: fill(SYS_SMS), usrEmail1: fill(UE1), usrSms1: fill(US1), usrEmail2: fill(UE2), usrSms2: fill(US2), usrEmail3: fill(UE3), usrSms3: fill(US3), usrEmail4: fill(UE4), usrSms4: fill(US4), usrEmail5: fill(UE5), usrSms5: fill(US5) } }];\n"
      },
      "id": "382212d4-aaa5-4924-bd48-6d738d07ce63",
      "name": "Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "a9333bf3-4222-4d82-9d16-ac39d465537a",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        304
      ],
      "webhookId": "879ee26e-9432-4102-86aa-2bb4f70406ab"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail1 } ] } }}",
        "options": {}
      },
      "id": "7d4fb7b4-b027-4f5c-93c6-0d9abb06bae5",
      "name": "Generate Day 1 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"Your Calculator gave you a real price range. There&rsquo;s a layer underneath that decides whether the install actually holds.\";\nconst button = \"\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras + button\n+ '<p style=\"margin:16px 0 4px;\">Randy Reece</p><p style=\"margin:0 0 4px;font-weight:600;\">Reece Windows &amp; Doors</p>'\n+ '<p style=\"margin:0 0 20px;font-size:13px;color:#666666;\">Family-Owned Since 1972 &middot; Serving Florida Since 2005</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Protecting families since 1972</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html } }];\n"
      },
      "id": "257bd672-3e03-4a59-bdb6-441ca3cc8109",
      "name": "Build Email HTML Day 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"Email\", \"contactId\": $('Normalize Contact').item.json.contactId, \"subject\": \"The number under your Calculator price\", \"html\": $('Build Email HTML Day 1').item.json.html, \"emailFrom\": \"Randy Reece <randy@getreecewindows.com>\" } }}",
        "options": {}
      },
      "id": "ba469b0a-87cd-46b6-bc9c-34dd014e4cc5",
      "name": "Send Day 1 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-e1\"] } }}",
        "options": {}
      },
      "id": "29aa2205-8a6b-44f4-b4ca-a69475d866db",
      "name": "Tag Email 1 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2544,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "3bf67127-f452-4c3e-a7d0-aa897a7ef805",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2768,
        304
      ],
      "webhookId": "528dce23-7275-431f-8a9b-219707c2928e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms1 } ] } }}",
        "options": {}
      },
      "id": "d2328e6e-ec63-48fa-950c-3d1283fd8db8",
      "name": "Generate Day 1 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Day 1 SMS').item.json.content[0].text } }}",
        "options": {}
      },
      "id": "eb1b9812-2f05-4451-8491-cccbcf88fb06",
      "name": "Send Day 1 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-s1\"] } }}",
        "options": {}
      },
      "id": "1cf03a16-e042-4b7a-9804-de29726f54f8",
      "name": "Tag SMS 1 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "f68b8e65-3949-4e55-92b8-81e8f0489ede",
      "name": "Wait 24 Hours (Day 2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3648,
        304
      ],
      "webhookId": "87870aa1-8f68-414f-8840-f54726a00bd5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail2 } ] } }}",
        "options": {}
      },
      "id": "92e8482b-fb8a-452a-8212-d1942b25d468",
      "name": "Generate Day 2 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3872,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"What I saw in Cape Coral after Ian. The difference wasn&rsquo;t the windows. It wasn&rsquo;t even close.\";\nconst button = \"\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras + button\n+ '<p style=\"margin:16px 0 4px;\">Randy Reece</p><p style=\"margin:0 0 4px;font-weight:600;\">Reece Windows &amp; Doors</p>'\n+ '<p style=\"margin:0 0 20px;font-size:13px;color:#666666;\">Family-Owned Since 1972 &middot; Serving Florida Since 2005</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Protecting families since 1972</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html } }];\n"
      },
      "id": "eb5a3af0-0530-4654-8f37-2ac436da0d05",
      "name": "Build Email HTML Day 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"Email\", \"contactId\": $('Normalize Contact').item.json.contactId, \"subject\": \"Two homes on the same street. Opposite outcomes.\", \"html\": $('Build Email HTML Day 2').item.json.html, \"emailFrom\": \"Randy Reece <randy@getreecewindows.com>\" } }}",
        "options": {}
      },
      "id": "22bd34d4-9bc6-4b88-aeda-e7dad5fae0e5",
      "name": "Send Day 2 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-e2\"] } }}",
        "options": {}
      },
      "id": "adc7c7bb-3b72-4650-a654-e626e378abe2",
      "name": "Tag Email 2 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4528,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "d35566d2-d999-4a94-b19e-41d1aa6c5921",
      "name": "Wait 10 Minutes (Day 2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4752,
        304
      ],
      "webhookId": "ef12ee6e-6684-4bc6-9e39-16111d6f210f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms2 } ] } }}",
        "options": {}
      },
      "id": "e4162402-bf26-433d-a55f-1818ae586557",
      "name": "Generate Day 2 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Day 2 SMS').item.json.content[0].text } }}",
        "options": {}
      },
      "id": "928c3903-1bce-471d-b301-e34c25cbfe25",
      "name": "Send Day 2 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5184,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-s2\"] } }}",
        "options": {}
      },
      "id": "86f84d14-20c2-4c77-a46f-f42c7f9f51fb",
      "name": "Tag SMS 2 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "a4ece1bf-a4d9-4210-9de4-f166cde2f69d",
      "name": "Wait 24 Hours (Day 3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5632,
        304
      ],
      "webhookId": "f09d75f5-6dc6-4f08-af57-65b7ad689d63"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail3 } ] } }}",
        "options": {}
      },
      "id": "fe16688d-e40e-49be-8424-25a2c29cd09d",
      "name": "Generate Day 3 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"The industry sold you a product instead of a system. Here&rsquo;s what the system actually is.\";\nconst button = \"\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras + button\n+ '<p style=\"margin:16px 0 4px;\">Randy Reece</p><p style=\"margin:0 0 4px;font-weight:600;\">Reece Windows &amp; Doors</p>'\n+ '<p style=\"margin:0 0 20px;font-size:13px;color:#666666;\">Family-Owned Since 1972 &middot; Serving Florida Since 2005</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Protecting families since 1972</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html } }];\n"
      },
      "id": "a4a8d354-6e18-4307-9b71-4f6f9de5de9f",
      "name": "Build Email HTML Day 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6064,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"Email\", \"contactId\": $('Normalize Contact').item.json.contactId, \"subject\": \"It's not your fault you're underprotected\", \"html\": $('Build Email HTML Day 3').item.json.html, \"emailFrom\": \"Randy Reece <randy@getreecewindows.com>\" } }}",
        "options": {}
      },
      "id": "dbabcdc6-8206-4f17-95e2-8dcbb45cc4b3",
      "name": "Send Day 3 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6288,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-e3\"] } }}",
        "options": {}
      },
      "id": "90295e7a-df51-4f1c-ade1-3110a6d96264",
      "name": "Tag Email 3 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6512,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "deb0e33e-dbc4-4a06-8b28-2e2daec4831b",
      "name": "Wait 10 Minutes (Day 3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6720,
        304
      ],
      "webhookId": "b46a9d54-d387-4825-8d0f-2ae2b6379538"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms3 } ] } }}",
        "options": {}
      },
      "id": "7f937929-5fca-4aae-bcce-cc11aa968bc3",
      "name": "Generate Day 3 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6944,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Day 3 SMS').item.json.content[0].text } }}",
        "options": {}
      },
      "id": "7817ae6d-c600-447c-89b7-a3e578bb38aa",
      "name": "Send Day 3 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7168,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-s3\"] } }}",
        "options": {}
      },
      "id": "f435a7ac-24f5-4fc5-aaec-2f15b155618a",
      "name": "Tag SMS 3 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7392,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "b452a093-ac2f-4428-af89-4e8effaf4180",
      "name": "Wait 24 Hours (Day 4)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7600,
        304
      ],
      "webhookId": "bbcf0f21-c376-4415-b39c-1ae9762378eb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail4 } ] } }}",
        "options": {}
      },
      "id": "736939de-f6cf-40fa-a464-9841ff51a67c",
      "name": "Generate Day 4 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7824,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"A Tampa family upgraded with Reece before storm season. The math their insurer ran wasn&rsquo;t what they expected.\";\nconst button = \"\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras + button\n+ '<p style=\"margin:16px 0 4px;\">Randy Reece</p><p style=\"margin:0 0 4px;font-weight:600;\">Reece Windows &amp; Doors</p>'\n+ '<p style=\"margin:0 0 20px;font-size:13px;color:#666666;\">Family-Owned Since 1972 &middot; Serving Florida Since 2005</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Protecting families since 1972</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html } }];\n"
      },
      "id": "06820382-85ce-4dc5-9a16-ade6e2620e75",
      "name": "Build Email HTML Day 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8048,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"Email\", \"contactId\": $('Normalize Contact').item.json.contactId, \"subject\": \"The $28,000 that paid for itself\", \"html\": $('Build Email HTML Day 4').item.json.html, \"emailFrom\": \"Randy Reece <randy@getreecewindows.com>\" } }}",
        "options": {}
      },
      "id": "345e0048-8126-47bf-97da-7fa52fc23a64",
      "name": "Send Day 4 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8272,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-e4\"] } }}",
        "options": {}
      },
      "id": "37f0f221-7f8f-4acb-80ba-af4e0e284e67",
      "name": "Tag Email 4 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8480,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "hours"
      },
      "id": "7f74ff59-1c71-43cd-9f00-5ef76e211949",
      "name": "Wait 3 Hours (Day 4)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8704,
        304
      ],
      "webhookId": "c7edf003-25d5-42a9-9246-d90c27e06637"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms4 } ] } }}",
        "options": {}
      },
      "id": "6ebc6c82-30f9-4541-b7c8-686f246df247",
      "name": "Generate Day 4 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8928,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Day 4 SMS').item.json.content[0].text } }}",
        "options": {}
      },
      "id": "c6c74cc4-2287-419c-95a6-e9542f00e72f",
      "name": "Send Day 4 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9152,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-s4\"] } }}",
        "options": {}
      },
      "id": "b801882b-ce18-494b-9667-a83f5162e730",
      "name": "Tag SMS 4 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9360,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "e61f0b10-5cbc-4ea3-9a82-a453b9d682d3",
      "name": "Wait 24 Hours (Day 5)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9584,
        304
      ],
      "webhookId": "5c839f4f-9bdd-4b9f-891c-fd8e35f5aa93"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": $('Build Prompts').item.json.sysEmail, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrEmail5 } ] } }}",
        "options": {}
      },
      "id": "f04710c0-b1e1-4d10-98c1-678df0c70ace",
      "name": "Generate Day 5 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9808,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : '';\nconst paras = text.trim().split(/\\n\\s*\\n/).map(p => '<p style=\"margin:0 0 16px;\">' + p.replace(/\\n/g,'<br>') + '</p>').join('');\nconst preheader = \"90 minutes in your home. A verified price and timeline, not a range. Here&rsquo;s how it works and why I&rsquo;d book it this week.\";\nconst button = \"<table role=\\\"presentation\\\" cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" border=\\\"0\\\" style=\\\"margin:24px 0;\\\"><tr><td align=\\\"center\\\" bgcolor=\\\"#122739\\\" style=\\\"border-radius:6px;\\\"><a href=\\\"{{trigger_link.8ZnbKMZItkH61YiIkjkE}}\\\" style=\\\"display:inline-block;padding:14px 30px;font:bold 16px Arial,sans-serif;color:#ffffff;text-decoration:none;border-radius:6px;\\\">Book your Measurement Verification</a></td></tr></table>\";\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n+ '<body style=\"margin:0;padding:0;background-color:#f9f9f9;\">'\n+ '<div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;opacity:0;color:transparent;\">' + preheader + '</div>'\n+ '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9f9f9;\"><tr><td align=\"center\" style=\"padding:24px 12px;\">'\n+ '<table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background-color:#ffffff;\">'\n+ '<tr><td align=\"center\" style=\"background-color:#122739;color:#CFE0EA;padding:10px 16px;font:12px/1.4 Arial,sans-serif;letter-spacing:.3px;text-transform:uppercase;\">Reece Windows &amp; Doors</td></tr>'\n+ '<tr><td style=\"padding:32px 24px 0 24px;font:15px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#333333;\">'\n+ paras + button\n+ '<p style=\"margin:16px 0 4px;\">Randy Reece</p><p style=\"margin:0 0 4px;font-weight:600;\">Reece Windows &amp; Doors</p>'\n+ '<p style=\"margin:0 0 20px;font-size:13px;color:#666666;\">Family-Owned Since 1972 &middot; Serving Florida Since 2005</p></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:14px 16px;font:12px/1.6 -apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#666666;\"><em>Protecting families since 1972</em></td></tr>'\n+ '<tr><td align=\"center\" style=\"padding:6px 28px 24px 28px;font:12px/1.6 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif;color:#888888;\">'\n+ '<div>{{location.address}}, {{location.city}}, {{location.state}} {{location.postal_code}}</div>'\n+ '<div style=\"margin-top:8px;\"><a href=\"{{email.unsubscribe_link}}\" style=\"color:#888888;text-decoration:underline;\">Unsubscribe</a> &nbsp;&bull;&nbsp; &copy; {{right_now.year}} {{location.name}}</div>'\n+ '</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html } }];\n"
      },
      "id": "cd732915-ac04-476d-b56a-d107ce42bc43",
      "name": "Build Email HTML Day 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10032,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"Email\", \"contactId\": $('Normalize Contact').item.json.contactId, \"subject\": \"Measurement Verification - the next step after the Calculator\", \"html\": $('Build Email HTML Day 5').item.json.html, \"emailFrom\": \"Randy Reece <randy@getreecewindows.com>\" } }}",
        "options": {}
      },
      "id": "69a67feb-2df9-4fed-9def-5ac24acb3cec",
      "name": "Send Day 5 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10240,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-e5\"] } }}",
        "options": {}
      },
      "id": "9f99289b-ca4f-4ef8-b6e0-90ca7c3af24f",
      "name": "Tag Email 5 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10464,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "hours"
      },
      "id": "e723188f-b802-43e2-a500-3e44c4599679",
      "name": "Wait 3 Hours (Day 5)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10688,
        304
      ],
      "webhookId": "fa3f731d-d18c-46d3-925f-fdd1550ca910"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": $('Build Prompts').item.json.sysSms, \"messages\": [ { \"role\": \"user\", \"content\": $('Build Prompts').item.json.usrSms5 } ] } }}",
        "options": {}
      },
      "id": "4b87be8c-1207-48cf-9aea-051fcc94d7d9",
      "name": "Generate Day 5 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10912,
        304
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "zbTTcix6JfkcbdFi",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"type\": \"SMS\", \"fromNumber\": \"+19542808890\", \"contactId\": $('Normalize Contact').item.json.contactId, \"message\": $('Generate Day 5 SMS').item.json.content[0].text + \" \" + \"{\"+\"{trigger_link.8ZnbKMZItkH61YiIkjkE}\"+\"}\" } }}",
        "options": {}
      },
      "id": "c9512652-bb68-48ea-8e09-b58f4a7b68d0",
      "name": "Send Day 5 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11120,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"sent:s2.1-s5\"] } }}",
        "options": {}
      },
      "id": "1b6f4f78-38b2-474a-9bd1-e730482542bd",
      "name": "Tag SMS 5 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11344,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"stage:new-lead\", \"stage:active-nurture-broadcast\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:dnc\", \"stage:education\", \"stage:long-term-nurture\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:vendor-comparison\", \"stage:entry-bridge\", \"suppress-email-2\", \"suppress-email-3a\", \"suppress-email-3b\", \"suppress-email-4\", \"suppress-email-5\", \"active-w1.1\", \"active-s2.1\", \"stage:indoctrination\"] } }}",
        "options": {}
      },
      "id": "3829f919-0f06-434a-b664-249070045c12",
      "name": "Remove Indoctrination + Suppress Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11568,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"stage:education\", \"indoctrination-complete\"] } }}",
        "options": {}
      },
      "id": "ad8b1499-33a3-4a4f-bccf-aed4b0e268a5",
      "name": "Add Education Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11792,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contactId\": $('Normalize Contact').item.json.contactId, \"workflowId\": \"da06ee55-2ab0-450d-981a-0e50703f4b4d\", \"workflowName\": \"S2.1 Calculator Indoctrination\" } }}",
        "options": {}
      },
      "id": "5dee0868-1a57-4a24-b9b7-6790ee77ad45",
      "name": "Layer 3: Workflow Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12000,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/workflow/69fdc012-cefc-4917-b156-d6dbc8d13b7c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "51c2a599-6f93-4b87-b09e-6a271b0f6461",
      "name": "Enroll in S2.5 Pricing Accuracy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12224,
        304
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"stage:indoctrination\", \"active-s2.1\", \"active-w1.1\", \"suppress-email-2\", \"suppress-email-3a\", \"suppress-email-3b\", \"suppress-email-4\", \"suppress-email-5\"] } }}",
        "options": {}
      },
      "id": "c5526b79-8594-4661-a3f6-30aa312287ac",
      "name": "Early Exit Cleanup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        848
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tags\": [\"stage:new-lead\", \"stage:active-nurture-broadcast\", \"stage:booked-main-appointment\", \"stage:booked-review\", \"stage:booking-main\", \"stage:booking-qualification\", \"stage:booking-review\", \"stage:conversion-sequence\", \"stage:customer-onboarding\", \"stage:deferred\", \"stage:dnc\", \"stage:education\", \"stage:long-term-nurture\", \"stage:objection-handling\", \"stage:post-appointment\", \"stage:proposal-delivered\", \"stage:re-engagement\", \"stage:reactivation\", \"stage:solution-pitch\", \"stage:unresponsive\", \"stage:vendor-comparison\", \"stage:entry-bridge\"] } }}",
        "options": {}
      },
      "id": "8e3e7a91-1fa5-4e22-846f-92525c17d6a8",
      "name": "Strip Conflicting Stage Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"customFields\": [ { \"id\": \"VFSNtEqSUh5yX7RyktBj\", \"field_value\": \"7853c4e2-5fdd-4ffd-98ae-07daedb00098\" } ] } }}",
        "options": {}
      },
      "id": "11e2a78b-4f65-4d4d-81b2-50b9798ae327",
      "name": "Set Active Marketing Workflow ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        608
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=SsBG7j5KQAIP1SFP2Sca&contact_id={{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "0b5b5ede-8bb9-4ca6-8939-922b2a5e3b8e",
      "name": "Find Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        752
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "hasopp01",
              "leftValue": "={{ ($json.opportunities || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d52756ab-401c-4b32-b36f-b95318ffee93",
      "name": "Has Opportunity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        752
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Find Opportunity').item.json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"pipelineId\": \"x0cxXOkKwqAWVvcPdKZQ\", \"pipelineStageId\": \"67f50407-f004-47b3-ad70-83e0eccbe2d1\", \"status\": \"open\" } }}",
        "options": {}
      },
      "id": "cfbfbeca-510d-4ded-b410-4da8437b9280",
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        688
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"pipelineId\": \"x0cxXOkKwqAWVvcPdKZQ\", \"locationId\": \"SsBG7j5KQAIP1SFP2Sca\", \"pipelineStageId\": \"67f50407-f004-47b3-ad70-83e0eccbe2d1\", \"status\": \"open\", \"contactId\": $('Normalize Contact').item.json.contactId, \"name\": (($('Get Contact').item.json.contact.firstName||'') + ' ' + ($('Get Contact').item.json.contact.lastName||'')).trim() } }}",
        "options": {}
      },
      "id": "4269dcf2-8863-4177-9323-644ff99616fd",
      "name": "Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        832
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "230f43ad-e188-4adf-8716-2459ea763f79",
      "name": "Get Contact Day 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xe1",
              "leftValue": "={{ (($('Get Contact Day 1').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1ba1cc0-a3a2-4a03-a55c-e12cabc2ffd3",
      "name": "Exit Check Email Day 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "es1",
              "leftValue": "={{ !(($('Get Contact Day 1').first().json.contact.tags)||[]).includes('sent:s2.1-e1') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f622a4b6-c714-4682-94b8-1b139c2b6e52",
      "name": "Email Sent? Day 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xs1",
              "leftValue": "={{ (($('Get Contact Day 1').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c38ed9e9-763a-4906-8b3d-d33703b6d950",
      "name": "Exit Check SMS Day 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2992,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ss1",
              "leftValue": "={{ !(($('Get Contact Day 1').first().json.contact.tags)||[]).includes('sent:s2.1-s1') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "976f7650-62ff-43db-82f5-ee380e4ece4d",
      "name": "SMS Sent? Day 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2992,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "13f8e6f9-6fe5-4a8d-96ff-74ae781cb67a",
      "name": "Get Contact Day 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3872,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xe2",
              "leftValue": "={{ (($('Get Contact Day 2').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\", \"suppress-email-2\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "216aa5da-0104-4265-8a2e-9ea282c8304b",
      "name": "Exit Check Email Day 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3872,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "es2",
              "leftValue": "={{ !(($('Get Contact Day 2').first().json.contact.tags)||[]).includes('sent:s2.1-e2') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cdadc01b-6db0-4cc2-9e12-d8ae011376c6",
      "name": "Email Sent? Day 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3872,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xs2",
              "leftValue": "={{ (($('Get Contact Day 2').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4573a40e-633c-4de3-860a-7da608c788a4",
      "name": "Exit Check SMS Day 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4960,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ss2",
              "leftValue": "={{ !(($('Get Contact Day 2').first().json.contact.tags)||[]).includes('sent:s2.1-s2') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fb75b74b-1a5b-4fc7-824d-30685c4cf367",
      "name": "SMS Sent? Day 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4960,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "03839f55-1178-4fae-a5b5-2b12f4160b30",
      "name": "Get Contact Day 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xe3",
              "leftValue": "={{ (($('Get Contact Day 3').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\", \"suppress-email-3a\", \"suppress-email-3b\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "edcc114b-9694-4ce3-a080-6dc5e80be7e1",
      "name": "Exit Check Email Day 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5840,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "es3",
              "leftValue": "={{ !(($('Get Contact Day 3').first().json.contact.tags)||[]).includes('sent:s2.1-e3') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b4471011-bee6-4fd9-a6f5-7c88803f1996",
      "name": "Email Sent? Day 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5840,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xs3",
              "leftValue": "={{ (($('Get Contact Day 3').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "60063f32-6e11-4d09-83b0-0a2701edaf87",
      "name": "Exit Check SMS Day 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6944,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ss3",
              "leftValue": "={{ !(($('Get Contact Day 3').first().json.contact.tags)||[]).includes('sent:s2.1-s3') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f713961c-1d80-483d-9c2b-b018b0459747",
      "name": "SMS Sent? Day 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6944,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "631945f9-2702-4ebf-8f70-e7970e36cbdf",
      "name": "Get Contact Day 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7824,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xe4",
              "leftValue": "={{ (($('Get Contact Day 4').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\", \"suppress-email-4\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6b5c12dd-0fdf-4bd0-8c7e-4c322cd0170d",
      "name": "Exit Check Email Day 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7824,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "es4",
              "leftValue": "={{ !(($('Get Contact Day 4').first().json.contact.tags)||[]).includes('sent:s2.1-e4') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f96845b2-b4c7-44bd-8995-e46666eb0035",
      "name": "Email Sent? Day 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7824,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xs4",
              "leftValue": "={{ (($('Get Contact Day 4').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1b141ba5-9a69-436b-b786-2975ef4f74e1",
      "name": "Exit Check SMS Day 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8928,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ss4",
              "leftValue": "={{ !(($('Get Contact Day 4').first().json.contact.tags)||[]).includes('sent:s2.1-s4') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a9ae986e-0309-4a41-8b6d-843a7ab713c4",
      "name": "SMS Sent? Day 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8928,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Normalize Contact').item.json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "19f54a74-a4f0-497a-b70e-61e7b6bd8188",
      "name": "Get Contact Day 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9808,
        464
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xe5",
              "leftValue": "={{ (($('Get Contact Day 5').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\", \"suppress-email-5\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "eb402479-3da2-43b3-88d5-37b09eb160c0",
      "name": "Exit Check Email Day 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9808,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "es5",
              "leftValue": "={{ !(($('Get Contact Day 5').first().json.contact.tags)||[]).includes('sent:s2.1-e5') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c7c06c34-39c9-40e1-aaf0-06063d25e1e3",
      "name": "Email Sent? Day 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9808,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "xs5",
              "leftValue": "={{ (($('Get Contact Day 5').first().json.contact.tags)||[]).some(t => [\"pause-workflow\", \"stop-bot\", \"dnc\"].includes(t)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6e8d5ed9-06ec-4c55-b7b4-53cd9f14c8d2",
      "name": "Exit Check SMS Day 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10912,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ss5",
              "leftValue": "={{ !(($('Get Contact Day 5').first().json.contact.tags)||[]).includes('sent:s2.1-s5') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4d6e8552-4c4b-4094-8fa3-b359acbf8487",
      "name": "SMS Sent? Day 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10912,
        672
      ]
    }
  ],
  "connections": {
    "Calculator Completed Webhook": {
      "main": [
        [
          {
            "node": "Normalize Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contact": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "Eligible to Enroll?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eligible to Enroll?": {
      "main": [
        [
          {
            "node": "Add Stage Tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Not Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rep Name": {
      "main": [
        [
          {
            "node": "Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompts": {
      "main": [
        [
          {
            "node": "Wait 2 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 1 Email": {
      "main": [
        [
          {
            "node": "Build Email HTML Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Day 1": {
      "main": [
        [
          {
            "node": "Send Day 1 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 Email": {
      "main": [
        [
          {
            "node": "Tag Email 1 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Email 1 Sent": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 1 SMS": {
      "main": [
        [
          {
            "node": "Send Day 1 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 SMS": {
      "main": [
        [
          {
            "node": "Tag SMS 1 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SMS 1 Sent": {
      "main": [
        [
          {
            "node": "Wait 24 Hours (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 2 Email": {
      "main": [
        [
          {
            "node": "Build Email HTML Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Day 2": {
      "main": [
        [
          {
            "node": "Send Day 2 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 2 Email": {
      "main": [
        [
          {
            "node": "Tag Email 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Email 2 Sent": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 2 SMS": {
      "main": [
        [
          {
            "node": "Send Day 2 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 2 SMS": {
      "main": [
        [
          {
            "node": "Tag SMS 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SMS 2 Sent": {
      "main": [
        [
          {
            "node": "Wait 24 Hours (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 3 Email": {
      "main": [
        [
          {
            "node": "Build Email HTML Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Day 3": {
      "main": [
        [
          {
            "node": "Send Day 3 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 Email": {
      "main": [
        [
          {
            "node": "Tag Email 3 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Email 3 Sent": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 3 SMS": {
      "main": [
        [
          {
            "node": "Send Day 3 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 SMS": {
      "main": [
        [
          {
            "node": "Tag SMS 3 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SMS 3 Sent": {
      "main": [
        [
          {
            "node": "Wait 24 Hours (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 4 Email": {
      "main": [
        [
          {
            "node": "Build Email HTML Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Day 4": {
      "main": [
        [
          {
            "node": "Send Day 4 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 4 Email": {
      "main": [
        [
          {
            "node": "Tag Email 4 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Email 4 Sent": {
      "main": [
        [
          {
            "node": "Wait 3 Hours (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 4 SMS": {
      "main": [
        [
          {
            "node": "Send Day 4 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 4 SMS": {
      "main": [
        [
          {
            "node": "Tag SMS 4 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SMS 4 Sent": {
      "main": [
        [
          {
            "node": "Wait 24 Hours (Day 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 5 Email": {
      "main": [
        [
          {
            "node": "Build Email HTML Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Day 5": {
      "main": [
        [
          {
            "node": "Send Day 5 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 5 Email": {
      "main": [
        [
          {
            "node": "Tag Email 5 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Email 5 Sent": {
      "main": [
        [
          {
            "node": "Wait 3 Hours (Day 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Day 5 SMS": {
      "main": [
        [
          {
            "node": "Send Day 5 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 5 SMS": {
      "main": [
        [
          {
            "node": "Tag SMS 5 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SMS 5 Sent": {
      "main": [
        [
          {
            "node": "Remove Indoctrination + Suppress Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Indoctrination + Suppress Tags": {
      "main": [
        [
          {
            "node": "Add Education Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Education Stage": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Completed": {
      "main": [
        [
          {
            "node": "Enroll in S2.5 Pricing Accuracy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Stage Tags": {
      "main": [
        [
          {
            "node": "Strip Conflicting Stage Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Conflicting Stage Tags": {
      "main": [
        [
          {
            "node": "Set Active Marketing Workflow ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Active Marketing Workflow ID": {
      "main": [
        [
          {
            "node": "Find Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Opportunity": {
      "main": [
        [
          {
            "node": "Has Opportunity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Opportunity?": {
      "main": [
        [
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opportunity": {
      "main": [
        [
          {
            "node": "Get Rep Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opportunity": {
      "main": [
        [
          {
            "node": "Get Rep Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          {
            "node": "Get Contact Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Day 1": {
      "main": [
        [
          {
            "node": "Exit Check Email Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check Email Day 1": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Sent? Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent? Day 1": {
      "main": [
        [
          {
            "node": "Generate Day 1 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Exit Check SMS Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check SMS Day 1": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Sent? Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent? Day 1": {
      "main": [
        [
          {
            "node": "Generate Day 1 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 24 Hours (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours (Day 2)": {
      "main": [
        [
          {
            "node": "Get Contact Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Day 2": {
      "main": [
        [
          {
            "node": "Exit Check Email Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check Email Day 2": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Sent? Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent? Day 2": {
      "main": [
        [
          {
            "node": "Generate Day 2 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Minutes (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Minutes (Day 2)": {
      "main": [
        [
          {
            "node": "Exit Check SMS Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check SMS Day 2": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Sent? Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent? Day 2": {
      "main": [
        [
          {
            "node": "Generate Day 2 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 24 Hours (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours (Day 3)": {
      "main": [
        [
          {
            "node": "Get Contact Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Day 3": {
      "main": [
        [
          {
            "node": "Exit Check Email Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check Email Day 3": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Sent? Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent? Day 3": {
      "main": [
        [
          {
            "node": "Generate Day 3 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Minutes (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Minutes (Day 3)": {
      "main": [
        [
          {
            "node": "Exit Check SMS Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check SMS Day 3": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Sent? Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent? Day 3": {
      "main": [
        [
          {
            "node": "Generate Day 3 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 24 Hours (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours (Day 4)": {
      "main": [
        [
          {
            "node": "Get Contact Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Day 4": {
      "main": [
        [
          {
            "node": "Exit Check Email Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check Email Day 4": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Sent? Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent? Day 4": {
      "main": [
        [
          {
            "node": "Generate Day 4 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Hours (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Hours (Day 4)": {
      "main": [
        [
          {
            "node": "Exit Check SMS Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check SMS Day 4": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Sent? Day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent? Day 4": {
      "main": [
        [
          {
            "node": "Generate Day 4 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 24 Hours (Day 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours (Day 5)": {
      "main": [
        [
          {
            "node": "Get Contact Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Day 5": {
      "main": [
        [
          {
            "node": "Exit Check Email Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check Email Day 5": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Sent? Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent? Day 5": {
      "main": [
        [
          {
            "node": "Generate Day 5 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Hours (Day 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Hours (Day 5)": {
      "main": [
        [
          {
            "node": "Exit Check SMS Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit Check SMS Day 5": {
      "main": [
        [
          {
            "node": "Early Exit Cleanup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Sent? Day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent? Day 5": {
      "main": [
        [
          {
            "node": "Generate Day 5 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Indoctrination + Suppress Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}