workflows/S3.3-chatbot-authority-positioning.json
{
  "name": "S3.3 Chatbot Authority & Positioning",
  "nodes": [
    {
      "id": "9bcbaac4-2c14-4993-8dde-c3578aa4a2d2",
      "name": "Webhook: S3.3 Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "89afb31a-de62-40c0-830b-0bf82460560c",
      "parameters": {
        "httpMethod": "POST",
        "path": "s3-3-s3-3-chatbot-authority-positioning",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "94bc6e00-8d34-4c35-8a41-0fafdd21f62c",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "2e773707-e377-4b4f-8ea5-e4a765d91e2c",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: S3.3 Entry').first().json.body.trigger_id||$('Webhook: S3.3 Entry').first().json.body.triggerId||'') === \"480ae7bf-1913-4694-a418-7bef27894fb3\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b353e575-f873-4f94-85e2-d6b59fdac2b1",
      "name": "Contact Found? Find Contact by Contact ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d2e9eadc-7d25-4c16-80c3-2d2b1f710e7b",
              "leftValue": "={{ !!$('Get Contact (Entry)').first().json.contact?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a221d342-91f1-471b-8e5d-b52a5ace8909",
      "name": "Update Active Marketing Workflow ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"customFields\": [{\"id\": \"VFSNtEqSUh5yX7RyktBj\", \"value\": \"0aef24f5-0234-4cb5-a127-f67b3b4b7747\"}]}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "4cae0f7c-a2cc-4428-8ef9-bd8aff817a99",
      "name": "Check if Active Entry is Canvassing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "91822820-20c6-4b2a-892f-8d5d9444cf2a",
              "leftValue": "={{ (![\"active-entry:canvassing\"].some(x => (($('Get Contact (Entry)').first().json.contact?.tags)||[]).includes(x))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fbc8b22c-f1eb-419c-8b36-87b393f21b25",
      "name": "Wait 48 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "amount": 48,
        "unit": "minutes"
      }
    },
    {
      "id": "88cd101b-a8c9-4726-804c-477e7d79b12f",
      "name": "Remove Tags: authority-positioning-active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"authority-positioning-active\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d5d210f6-04e5-4b96-8939-47dfed2381ed",
      "name": "Add Tags: authority-positioning-complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"authority-positioning-complete\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "7da95e33-d5e2-438a-8571-b1ca1afac3c0",
      "name": "Layer 3: Workflow Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://lp-mcp-production.up.railway.app/webhook/ghl/workflow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"contactId\": \"{{contact.id}}\", \"workflowId\": \"0aef24f5-0234-4cb5-a127-f67b3b4b7747\", \"workflowName\": \"Stage 3 Authority & Positioning Sequence - Chatbot\"}) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ghl-signature",
              "value": "={{ $env.LP_WEBHOOK_SIGNATURE }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "cd521eb9-777b-4970-81dd-3fefec11b6c5",
      "name": "Wait 24 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        180
      ],
      "parameters": {
        "amount": 24,
        "unit": "minutes"
      }
    },
    {
      "id": "616d8a7e-78ce-435e-870f-512725ade83b",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        180
      ],
      "parameters": {}
    },
    {
      "id": "80bec2fe-faa4-448b-8c33-cde4c0695117",
      "name": "Remove from Workflow 0aef24f5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/0aef24f5-0234-4cb5-a127-f67b3b4b7747",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "59e44698-9879-4671-82da-f82b0edb868c",
      "name": "Go To #2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        180
      ],
      "parameters": {}
    },
    {
      "id": "0f91ded9-82ad-43df-850a-b392390217e6",
      "name": "Exit (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ],
      "parameters": {}
    },
    {
      "id": "054819a0-ed1b-4ba6-8f5f-1c66fea11fad",
      "name": "Note: S3.3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## S3.3 Chatbot Authority & Positioning\nTranslated from GHL workflow 0aef24f5-0234-4cb5-a127-f67b3b4b7747.\nGHL triggers: inbound_webhook:Inbound Agentic Trigger\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 1 | Stubs: 0 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "Contact Found? Find Contact by Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found? Find Contact by Contact ID": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove from Workflow 0aef24f5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Marketing Workflow ID": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Active Entry is Canvassing": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48 minutes": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tags: authority-positioning-active": {
      "main": [
        [
          {
            "node": "Add Tags: authority-positioning-complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags: authority-positioning-complete": {
      "main": [
        [
          {
            "node": "Layer 3: Workflow Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer 3: Workflow Completed": {
      "main": [
        [
          {
            "node": "Wait 24 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Wait 48 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To #2": {
      "main": [
        [
          {
            "node": "Exit (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: S3.3 Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}