workflows/S4.6-E-review-session-prep-exit.json
{
  "name": "S4.6-E Review Session Prep Exit",
  "nodes": [
    {
      "id": "ec684001-98cc-47d1-8e13-613b3f9b3b34",
      "name": "Webhook: S4.6-E Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "753d11d5-0df6-4653-8d33-74d0137c7481",
      "parameters": {
        "httpMethod": "POST",
        "path": "s4-6-e-s4-6-e-review-session-prep-exit",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "92ac5175-02f0-4976-8343-aea42cff4afc",
      "name": "Get Contact (Entry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.body.contactId || $json.body.contact_id || $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "fcd6781c-ea18-4572-801b-91d4ccaac9fd",
      "name": "Check Workflow Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "09b3873b-15b9-40be-8bef-d42065eb5fae",
              "leftValue": "={{ ((($('Webhook: S4.6-E Entry').first().json.body.trigger_id||$('Webhook: S4.6-E Entry').first().json.body.triggerId||'') === \"EnTfSv2aVgyaDTnphjD9\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fb134ae0-6bb1-4456-8c31-99e214ef1605",
      "name": "[STUB] Add Task",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        0
      ],
      "parameters": {},
      "notes": "Unmapped GHL action 'task-notification'. Intended: Add Task. Implement before go-live."
    },
    {
      "id": "e8441880-60e8-48ee-8620-ea426d86222f",
      "name": "Go To",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "parameters": {}
    },
    {
      "id": "3db5182a-c1e2-4350-8168-6c2d91451508",
      "name": "Remove from Workflow fc8a2dd2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/workflow/fc8a2dd2-caa7-432a-9aae-2a64dd19fa80",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "4423f0fa-a966-47ed-8584-3680242082a2",
      "name": "Remove Tags: reply-email, reply-sms, review-session-booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "GS6kXBLE1ooZqLap",
          "name": "HighLevel Bearer Auth"
        }
      },
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Get Contact (Entry)').first().json.contact.id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"reply-email\", \"reply-sms\", \"review-session-booked\"] }) }}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "855824b0-b705-4025-8896-13f3f18c9eac",
      "name": "Note: S4.6-E",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "parameters": {
        "content": "## S4.6-E Review Session Prep Exit\nTranslated from GHL workflow eb397dd3-2650-4a6b-afc6-16e3208ac6b6.\nGHL triggers: contact_tag:Contact Tag: \"reply-sms\" Added; appointment:Appointment Status is Cancelled; contact_tag:Copy of Contact Tag: \"reply-email\" Added; contact_tag:Tag: \"do-not-contact\" Added\n\nEntry is a webhook (orchestrator-driven). Credentials by ID only; brand law applied to email senders (Randy Reece). See workflow node notes for [STUB] items.\nFlags: 0 | Stubs: 1 | Brand-law: 0",
        "width": 620,
        "height": 420
      }
    }
  ],
  "connections": {
    "Check Workflow Trigger": {
      "main": [
        [
          {
            "node": "[STUB] Add Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove from Workflow fc8a2dd2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[STUB] Add Task": {
      "main": [
        [
          {
            "node": "Go To",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go To": {
      "main": [
        [
          {
            "node": "Remove from Workflow fc8a2dd2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Workflow fc8a2dd2": {
      "main": [
        [
          {
            "node": "Remove Tags: reply-email, reply-sms, review-session-booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: S4.6-E Entry": {
      "main": [
        [
          {
            "node": "Get Contact (Entry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact (Entry)": {
      "main": [
        [
          {
            "node": "Check Workflow Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}